﻿@using MR.Pages;
@{
    ViewBag.Title = "ManageCampaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New Campaign</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="~/campaign-manager.html">Campaigns</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Campaign</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <form class="row justify-content-center">
            <div class="col-12">

                <!-- Basic Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Campaign Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="CampaignName">Campaign Name</label>
                                    <input type="text" class="form-control" id="CampaignName" placeholder="Enter campaign name">
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Start Date</label>
                                    <input type="text" class="form-control single-date-picker" value="10/24/2021" />
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">End Date</label>
                                    <input type="text" class="form-control single-date-picker" value="10/24/2021" />
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="applyOn">Apply On</label>
                                    <select class="form-control selectpicker" data-title="Select option" id="applyOn">
                                        <option>Both</option>
                                        <option>Only Doctors</option>
                                        <option>Only Chemists</option>
                                    </select>
                                </div>
                            </div>



                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectRegion">Region</label>
                                    <select class="form-control selectpicker" multiple data-size="5" data-selected-text-format="count > 1" data-title="Select option" id="selectRegion">
                                        <option>Ahmedabad</option>
                                        <option>Surat</option>
                                        <option>Rajkot</option>
                                        <option>Junagadh</option>
                                        <option>Jamnagar</option>
                                        <option>Vadodara</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectHeadquarter">Headquarter</label>
                                    <select class="form-control selectpicker" multiple data-size="5" data-selected-text-format="count > 1" data-title="Select option" id="selectHeadquarter">
                                        <option>East Ahmedabad</option>
                                        <option>West Ahmedabad</option>
                                        <option>South Ahmedabad</option>
                                        <option>North Ahmedabad</option>
                                        <option>Central Ahmedabad</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectSpecialization">Specialization</label>
                                    <select class="form-control selectpicker" data-live-search="true" multiple data-size="5" data-selected-text-format="count > 1" data-title="Select option" id="selectSpecialization">
                                        <option data-tokens="Dentist">Dentist</option>
                                        <option data-tokens="Cardiology">Cardiology </option>
                                        <option data-tokens="Oncology">Oncology </option>
                                        <option data-tokens="Neurology">Neurology</option>
                                        <option data-tokens="Urology">Urology</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectProducts">Products</label>
                                    <select class="form-control selectpicker" data-live-search="true" multiple data-size="5" data-selected-text-format="count > 1" data-title="Select option" id="selectProducts">
                                        <option data-tokens="Product A">Product A</option>
                                        <option data-tokens="Product B">Product B </option>
                                        <option data-tokens="Product C">Product C </option>
                                        <option data-tokens="Product D">Product D</option>
                                        <option data-tokens="Product E">Product E</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- GIft Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Gift Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">

                        <div class="repeater">
                            <div data-repeater-list="category-group">
                                <div class="row align-items-end" data-repeater-item>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label class="custom-label">Gift Name</label>
                                            <input class="form-control" type="text" placeholder="Enter gift name" />
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label class="custom-label">Gift Qty.</label>
                                            <input class="form-control" type="text" placeholder="Enter gift qty." />
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <input class="btn btn-danger" data-repeater-delete type="button" value="Delete" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <input data-repeater-create class="btn btn-primary" type="button" value="Add" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 text-center">
                <a href="javascript:;" class="btn btn-primary btn-wide">Add New Campaign</a>
                <a href="~/campaign-manager.html" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        </form>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>





<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>




<script>

    $('#medicalDescription').summernote({
        height: 250,
    });

    $('.repeater').repeater();

</script>

