﻿@using MR.Pages;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Chemist</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chemist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="/Chemist/ManageChemist" class="btn btn-primary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Chemist</a>
            </div>

            <div class="col-12 mb-3">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="portlet-body" id="divUserTable">
                            <table class="table border rounded display nowrap" id="UserTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>





<!-- Modals -->
<div class="modal fade" id="chemistDetailsModal" tabindex="-1" aria-labelledby="chemistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Name"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Id"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="ContactPerson"></label>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Mobile"></label>
                        </div>
                    </div>

                    @*<div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Phone"></label>
                        </div>
                    </div>*@

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Headquarter"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Region"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="BusinessPotential"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Address"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="targetProductModal" tabindex="-1" aria-labelledby="targetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="targetProductModalLabel">Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="targetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script type="text/javascript">
    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#UserTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindChemists, Controllers.Chemist, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width":"12%" },
                {
                    "title": "Chemist Name", "data": "Name",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showChemistDetails('+ row["Id"] +')">'+data+'</a>';
                    },
                    "orderable": true, "width": "13%"
                },
                { "title": "Address", "data": "AddressString", "orderable": true, "width": "13%" },
                {
                    "title": "Contact Person", "data": "ContactPerson",
                    "render": function (data, type, row) {
                        return '<div class="text-black fw-medium">' + row["ContactPerson"] +'</div><div class="fs-13">'+row["Mobile"]+'</div>';
                    },
                    "orderable": true, "width": "13%"
                },
                { "title": "Buisness Potential", "data": "BuisnessPotential", "orderable": true, "width": "12%" },
                {
                    "title": "Target Products", "data": null,
                    "render": function (data, type, row) {
                        return '<a href="" onclick="showTargetProduct(' + row["Id"] + ')" data-toggle="modal">View Products</a>';
                    },
                    "orderable": true, "width": "13%"
                },
                {
                    "title": "Status", "data": "IsActive",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "12%"
                },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var appendstring = '';
                        var url = "@Url.Action(Actions.ManageChemist, Controllers.Chemist, new { Area = ""})";
                        appendstring += '<a  href="' + url + "?chemistId=" + Id + '" title="Edit" class="btn btn-light border btn-sm" role="button">Edit</a>&nbsp; ';
                        @*appendstring += '<a  href="javascript:void(0);" onclick="Delete(' + row["Id"] + ')" title="Delete"  > <img src="@Url.Content("~/Styles/img/delete.png")" alt="Delete" /></a> ';*@
                        return appendstring;
                    },
                    "orderable": true, "width": "12%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#UserTable")) {
                $('#UserTable').dataTable().fnDestroy();
                $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    function showChemistDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetChemist, Controllers.Chemist, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#chemistDetailsModal #Id').text(data.Id);
                    $('#chemistDetailsModal #Name').text(data.Name);
                    $('#chemistDetailsModal #ContactPerson').text(data.ContactPerson);
                    $('#chemistDetailsModal #Mobile').text(data.Mobile);
                    //$('#chemistDetailsModal #Phone').text(data.Phone);
                    $('#chemistDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#chemistDetailsModal #Region').text(data.RegionName);
                    $('#chemistDetailsModal #BusinessPotential').text(data.BuisnessPotential);
                    $('#chemistDetailsModal #Address').text(data.AddressString);
                    $('#chemistDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

    function viewProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Chemist, new { Area = "" })?Id=" + $('#chemistDetailsModal #Id').text();
    }

    function showTargetProduct(chemistId) {
        TargetProductTableDatatablesColreorder.init(chemistId);
        $('#targetProductModal').modal('show');
    }

    var TargetProductTableDatatablesColreorder = function (chemistId) {

        var initTable1 = function (chemistId) {
        var table = $('#targetProductTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Chemist, new { area ="" })',
                type: "post",
                data: addRequestVerificationToken({ chemistId: chemistId })
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        var Url = "@Url.Action(Actions.ProductDetail, Controllers.Product)?Id=" + row["ProductId"];
                        return '<a  href="' + Url + '"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data + '</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                { "title": "Type", "data": "ProductTypeName", "orderable": true, "width": "14%" },
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function (chemistId) {
            if ($.fn.DataTable.isDataTable("#targetProductTable")) {
                $('#targetProductTable').dataTable().fnDestroy();
            }
            initTable1(chemistId);
        }

    };

}();

</script>
