﻿@using MR.Entities.V1;
@using MR.Pages;

@model Chemist

@{
    ViewBag.Title = "ManageChemist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New Chemist</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Chemist, new { Area = ""})">Chemist</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Chemist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm(Actions.AddChemist, Controllers.Chemist, FormMethod.Post, new { @class = "row justify-content-center", enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return validateForm()", @id = "frmAddEditChemist" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Address)
            @Html.HiddenFor(model => model.AddressData.Id)

        <div class="col-12">

            <!-- Basic Details -->
            <div class="card shadow-2 mb-4">
                <div class="card-header">
                    <h5 class="mb-1">Basic Details</h5>
                    <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="chemistName">Chemist Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @name = "chemistName", @class = "form-control", placeholder = "Enter chemist name", @required = "true" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="Headquarter">Headquarter</label>
                                @Html.DropDownListFor(model => model.Headquarter, (IEnumerable<SelectListItem>)ViewBag.HeadQuarterDD, "Select a option", new { @class = "form-control selectpicker" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="Region">Region</label>
                                @Html.DropDownListFor(model => model.Region, (IEnumerable<SelectListItem>)ViewBag.RegionDD, "Select a option", new { @class = "form-control selectpicker" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="contactPersion">Contact Person</label>
                                @Html.TextBoxFor(model => model.ContactPerson, new { @name = "contactPersion", @class = "form-control", placeholder = "Enter contact person" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="mobileNumber">Mobile Number</label>
                                @Html.TextBoxFor(model => model.Mobile, new { @name = "mobileNumber", @class = "form-control", placeholder = "Enter mobile number", @maxlength = "10" })
                            </div>
                        </div>


                        @*<div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="phoneNumber">Phone Number</label>
                                @Html.TextBoxFor(model => model.Phone, new { @name = "phoneNumber", @class = "form-control", placeholder = "Enter phone number" })
                            </div>
                        </div>*@

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="website">Website</label>
                                @Html.TextBoxFor(model => model.WebSite, new { @name = "website", @class = "form-control", placeholder = "Enter website" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="selectType">Type</label>
                                @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.TypeDD, "Select a option", new { @class = "form-control selectpicker" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Address Details -->
            <div class="card shadow-2 mb-4">
                <div class="card-header">
                    <h5 class="mb-1">Address Details</h5>
                    <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="addressLine1">Address line 1</label>
                                @Html.TextBoxFor(model => model.AddressData.Address1, new { @name = "addressLine1", @class = "form-control", placeholder = "Enter Address line 1" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="addressLine2">Address line 2</label>
                                @Html.TextBoxFor(model => model.AddressData.Address2, new { @name = "addressLine2", @class = "form-control", placeholder = "Enter Address line 2" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="pinCode">Pin code</label>
                                @Html.TextBoxFor(model => model.AddressData.Pincode, new { @name = "pinCode", @class = "form-control", placeholder = "Enter pin code" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="selectHeadquarter">Headquarter</label>
                                @Html.DropDownListFor(model => model.AddressData.Headquarter, (IEnumerable<SelectListItem>)ViewBag.HeadQuarterDD, "Select a option", new { @name = "selectHeadquarter", @class = "form-control selectpicker" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="selectRegion">Region</label>
                                @Html.DropDownListFor(model => model.AddressData.Region, (IEnumerable<SelectListItem>)ViewBag.RegionDD, "Select a option", new { @name = "selectRegion", @class = "form-control selectpicker" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.Id > 0)
            {
                <!-- Target Products -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Target Products</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="businessPotential">Business Potential</label>
                                    @Html.TextBoxFor(model => model.BuisnessPotential, new { @name = "businessPotential", @class = "form-control", placeholder = "Enter Potential" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 text-right">
                                <a href="" class="btn btn-primary" data-target="#addTargetProductModal" data-toggle="modal"><i class="hw-15 mr-1 fill-white" data-eva="plus-outline"></i>Add New Product</a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="targetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Associated Doctors  -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Associated Doctors </h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="text-right">
                            <a href="" class="btn btn-primary" data-target="#addAssociatedDoctorModal" data-toggle="modal"><i class="hw-15 mr-1 fill-white" data-eva="plus-outline"></i>Add New Doctor</a>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="associatedDoctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }

                <!-- Remarks -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Remarks</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Remarks, new { @rows = "5", @class = "form-control", placeholder = "Enter your remarks here" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @if (Model.Id > 0)
                {
                    <!-- Active/In-active -->
                    <div class="card shadow-2 mb-4">
                        <div class="card-header">
                            <h5 class="mb-1">Settings</h5>
                            <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-switch">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-switch-input", @name = "statusSwitch" })
                                        <label class="form-switch-label" for="statusSwitch">Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary btn-wide"> Save / Add Chemist</button>
                <a href="@Url.Action(Actions.Index, Controllers.Chemist, new { Area = "" })" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        }
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modals -->
<div class="modal fade" id="addAssociatedDoctorModal" tabindex="-1" aria-labelledby="addAssociatedDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAssociatedDoctorModalLabel">Add Associated Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addAssociatedDoctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Name"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Id"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Gender"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Specialization"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Qualification"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Mobile"></label>

                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Headquarter"></label>

                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Region"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="BusinessPotential"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="AddressString"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="" id="Photo">
                        <div class="badge badge-success p-2 mt-2" id="Active">Active</div>
                        <div class="badge badge-danger p-2 mt-2" id="InActive">In-Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewDoctorProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="addTargetProductModal" tabindex="-1" aria-labelledby="addTargetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTargetProductModalLabel">Add Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>*@
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    jQuery(document).ready(function () {
        if (@Model.Id  > 0) {
            TableDatatablesColreorder.init();
            AddTableDatatablesColreorder.init();
            ManageAssociatedDoctorsDT.init();
            AddAssociatedDoctorsDT.init();
        }
    });

    $('#frmAddEditChemist #IsActive').change(function () {
        $(this).val($(this).prop('checked'));
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#targetProductTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Chemist, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ chemistId : @Model.Id})
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        var Url = "@Url.Action(Actions.ProductDetail, Controllers.Product)?Id=" + row["ProductId"];
                        return '<a  href="'+Url+'"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data + '</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                { "title": "Type", "data": "ProductTypeName", "orderable": true, "width": "14%" },
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a href="javascript:void(0);" onclick="DeleteProduct(' + row["Id"] + ')" class="btn btn-soft-danger" role="button">Remove</a>';
                        return appendstring;
                    },
                    "orderable": true, "width": "11%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#targetProductTable")) {
                $('#targetProductTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    var AddTableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#addTargetProductTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Product)',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "Name",
                    "render": function (data, type, row) {
                        var Url = "@Url.Action(Actions.ProductDetail, Controllers.Product)?Id=" + row["Id"];
                        return '<a  href="' + Url + '"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data + '</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                { "title": "Type", "data": "ProductTypeName", "orderable": true, "width": "14%" },
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" },
                { "title": "Qty.", "data": "Quantity",
                    "render": function (data, type, row)
                    {
                        return '<td><input type="text" class="form-control" placeholder="Qty." Id="Quan'+ row["Id"] + '" value="'+data+'"></input></td>';
                    },
                    "orderable": true, "width": "14%"
                },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                    var appendstring = '';
                    appendstring += '<a href="javascript:void(0);" onclick="AddProduct(' + row["Id"] + ')" class="btn btn-soft-primary" role="button">Add</a>';
                    return appendstring;
                },
                    "orderable": true, "width": "11%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#addTargetProductTable")) {
                $('#addTargetProductTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    var AddAssociatedDoctorsDT = function () {

    var initTable1 = function () {
        var table = $('#addAssociatedDoctorList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDoctors, Controllers.Doctors, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width":"3%" },
                {
                    "title": "Doctor Name", "data": "FirstName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showDoctorDetails(' + row["Id"] + ')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/"+row["Photo"] + '" class="rounded-circle"></span>' + data +' '+ row["LastName"]+'</a>';
                    },
                    "orderable": true, "width": "6%"
                },
                { "title": "Specialization", "data": "SpecializationName", "orderable": true, "width": "11%" },
                { "title": "HQ", "data": "HeadquarterName", "orderable": true, "width": "11%" },
                { "title": "Region", "data": "RegionName", "orderable": true, "width": "11%" },
                { "title": "Address", "data": "AddressString", "orderable": true, "width": "11%" },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        var addedrow = $('#associatedDoctorList').DataTable().columns(1).data();
                        if (addedrow != undefined && addedrow[0].indexOf(row["Id"]) > -1) {
                            appendstring += '<button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="checkmark-outline"></i>Added</button>';
                        }
                        else {
                            appendstring += '<button type="button" onclick="AddAssociatedDoctor(' + row["Id"] + ')" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button>';
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "11%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#addAssociatedDoctorList")) {
                $('#addAssociatedDoctorList').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

    }();

    var ManageAssociatedDoctorsDT = function () {

    var initTable1 = function () {
        var table = $('#associatedDoctorList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDoctors, Controllers.Chemist, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ chemistId : @Model.Id})
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width": "11%" },
                { "title": "DoctorId", "data": "DoctorId", "orderable": true, "width": "11%" },
                {
                    "title": "Doctor Name", "data": "DoctorFirstName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showDoctorDetails(' + row["DoctorId"] + ')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["DoctorImage"] + '" class="rounded-circle"></span>' + data +' '+ row["DoctorLastName"]+'</a>';
                    },
                    "orderable": true, "width": "11%"
                },
                { "title": "Specialization", "data": "DoctorSpecializationName", "orderable": true, "width": "11%" },
                { "title": "HQ", "data": "DoctorHQName", "orderable": true, "width": "11%" },
                { "title": "Region", "data": "DoctorRegionName", "orderable": true, "width": "11%" },
                { "title": "Address", "data": "DoctorAddressString", "orderable": true, "width": "11%" },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button type="button" onclick="RemoveAssociatedDoctor(' + row["Id"] + ')" class="btn btn-soft-danger border btn-sm"> Remove</button>';
                    },
                    "orderable": true, "width": "11%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#associatedDoctorList")) {
                $('#associatedDoctorList').dataTable().fnDestroy();
            }
            initTable1();
            $('#associatedDoctorList').DataTable().column(1).visible(false);
        }

    };

    }();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function DeleteProduct(Id) {
        $.ajax({
            url: '@Url.Action(Actions.DeleteProduct, Controllers.Chemist, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data == null) {
                    ShowMessageToastr("danger","Failed to delete product");
                }
                $('#targetProductTable').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger","Failed to delete product");
                $('#targetProductTable').DataTable().ajax.reload();
            }
        });
    }

    function AddProduct(Id) {
        $.ajax({
            url: '@Url.Action(Actions.AddProduct, Controllers.Chemist, new { area = "" })',
            data: { chemistId: @Model.Id, productId: Id, prodQuantity:$('#Quan'+Id).val() },
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data != null) {
                    ShowMessageToastr("success",'Product added successfully');
                }
                else {
                    ShowMessageToastr("danger","Failed to add product");
                }
                $('#targetProductTable').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add product");
                $('#targetProductTable').DataTable().ajax.reload();
            }
        });
    }

    function AddAssociatedDoctor(Id) {
        $.ajax({
            url: '@Url.Action(Actions.AddDoctor, Controllers.Chemist, new { area = "" })',
            data: { chemistId: @Model.Id, doctorId: Id },
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == null) {
                    ShowMessageToastr("danger","Failed to add doctor");
                }
                $('#associatedDoctorList').DataTable().ajax.reload();
                $('#addAssociatedDoctorList').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add product");
                $('#associatedDoctorList').DataTable().ajax.reload();
                $('#addAssociatedDoctorList').DataTable().ajax.reload();
            }
        });
    }

    function RemoveAssociatedDoctor(Id) {
        $.ajax({
            url: '@Url.Action(Actions.DeleteDoctor, Controllers.Chemist, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data == null) {
                    ShowMessageToastr("danger","Failed to delete doctor");
                }
                $('#associatedDoctorList').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger","Failed to delete doctor");
                $('#associatedDoctorList').DataTable().ajax.reload();
            }
        });
    }

    function showDoctorDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetDoctor, Controllers.Doctors, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#doctorDetailsModal #Id').text(data.Id);
                    $('#doctorDetailsModal #Name').text(data.FirstName + ' ' + data.LastName);
                    $('#doctorDetailsModal #Gender').text(data.Gender == 0? "Male" : "Female");
                    $('#doctorDetailsModal #Mobile').text(data.Mobile);
                    $('#doctorDetailsModal #Specialization').text(data.SpecializationName);
                    $('#doctorDetailsModal #Qualification').text(data.QualificationName);
                    $('#doctorDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#doctorDetailsModal #Region').text(data.RegionName);
                    $('#doctorDetailsModal #BusinessPotential').text(data.BuisnessPotential);
                    $('#doctorDetailsModal #AddressString').text(data.AddressString);

                    if (data.IsActive == true) {
                        $('#doctorDetailsModal #InActive').hide();
                        $('#doctorDetailsModal #Active').show();
                    }
                    else {
                        $('#doctorDetailsModal #Active').hide();
                        $('#doctorDetailsModal #InActive').show();
                    }

                    $('#doctorDetailsModal #Photo').attr('src', window.location.origin + "/" +data.Photo);
                    $('#doctorDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

    function viewDoctorProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Doctors, new { Area = "" })?Id=" + $('#doctorDetailsModal #Id').text();
    }

    function validateForm() {
        try {
            let FirstName = $('#Name').val();
            if (FirstName === NaN || FirstName === "") {
                ShowMessageToastr("danger", "Name Can't be empty.");
                $("#Name").focus();
                return false;
            }

            let Headquarter = $('#Headquarter').val();
            if (Headquarter === NaN || Headquarter === "") {
                ShowMessageToastr("danger", "Please select a Headquarter.");
                $("#Headquarter").focus();
                return false;
            }

            let Region = $('#Region').val();
            if (Region === NaN || Region === "") {
                ShowMessageToastr("danger", "Please select a Region.");
                $("#Region").focus();
                return false;
            }

            let ContactPerson = $('#ContactPerson').val();
            if (ContactPerson === NaN || ContactPerson === "") {
                ShowMessageToastr("danger", "Please enter Contact Person.");
                $("#ContactPerson").focus();
                return false;
            }

            let MobileNo = $('#Mobile').val();
            if (MobileNo === NaN || MobileNo === "") {
                ShowMessageToastr("danger", "Mobile No. Can't be empty.");
                $("#Mobile").focus();
                return false;
            }

            if (ValidateMobileNo(MobileNo) === false) {
                ShowMessageToastr("danger", "Mobile No. should be accept only 10 digit.");
                $("#Mobile").focus();
                return false;
            }

            let Type = $('#Type').val();
            if (Type === NaN || Type === "") {
                ShowMessageToastr("danger", "Please select a Type.");
                $("#Type").focus();
                return false;
            }
            
            let AddressData_Address1 = $('#AddressData_Address1').val();
            if (AddressData_Address1 === NaN || AddressData_Address1 === "") {
                ShowMessageToastr("danger", "Please enter address 1.");
                $("#AddressData_Address1").focus();
                return false;
            }

            let AddressData_Pincode = $('#AddressData_Pincode').val();
            if (AddressData_Pincode === NaN || AddressData_Pincode === "") {
                ShowMessageToastr("danger", "Please enter address pincode.");
                $("#AddressData_Pincode").focus();
                return false;
            }

            let AddressData_Headquarter = $('#AddressData_Headquarter').val();
            if (AddressData_Headquarter === NaN || AddressData_Headquarter === "") {
                ShowMessageToastr("danger", "Please select a Headquarter.");
                $("#AddressData_Headquarter").focus();
                return false;
            }

            let AddressData_Region = $('#AddressData_Region').val();
            if (AddressData_Region === NaN || AddressData_Region === "") {
                ShowMessageToastr("danger", "Please select a Region.");
                $("#AddressData_Region").focus();
                return false;
            }

            return true;
        }
        catch (e) {
            return false;
        }
    }

    function ValidateMobileNo(MobileNo) {
        let regexMbile = /^[0-9]{10}$/;
        return regexMbile.test(MobileNo);
    }
</script>
