﻿@using MR.Entities.V1;
@using MR.Pages;

@model MR.Entities.V1.Chemist

@{
    ViewBag.Title = "Profile Chemist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">@Model.Name</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Chemist, new { Area = ""})">Chemist</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex">

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap">
                            <div class="d-flex flex-column mb-3">
                                <h5>
                                    @Model.Name
                                    @if (Model.IsActive)
                                    {
                                        <span class="badge badge-success ml-2">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger ml-2">In-Active</span>
                                    }
                                </h5>

                                <div class="row">
                                    <div class="col-auto mr-2">
                                        <ul class="list-unstyled mb-0">
                                            <li class="my-1"><span>HQ </span> : <span class="fw-medium text-black">@Model.HeadquarterName</span></li>
                                            <li class="my-1"><span>Region </span> : <span class="fw-medium text-black">@Model.RegionName</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-unstyled mb-0">
                                            <li class="my-1"><span>Contact </span> : <span class="fw-medium text-black">@Model.ContactPerson</span></li>
                                            <li class="my-1"><span>Mobile </span> : <span class="fw-medium text-black">@Model.Mobile</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-start flex-wrap text-center mb-3">
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                                        <h6 class="mb-1">@Model.BuisnessPotential</h6>
                                        <p class="fs-13 mb-0">Total Business</p>
                                    </div>
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                                        <h6 class="mb-1" id="TargetProductCount"></h6>
                                        <p class="fs-13 mb-0">Target Products</p>
                                    </div>
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2">
                                        <h6 class="mb-1" id="DoctorCount"></h6>
                                        <p class="fs-13 mb-0">Associated Doctors</p>
                                    </div>
                                </div>

                                <div class="text-lg-right">
                                    <a href="@Url.Action(Actions.ManageChemist, Controllers.Chemist, new { Area = "", chemistId = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString()))})" class="btn btn-primary">Edit Profile</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header-navs">
                <ul class="nav nav-lines" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="pill" href="#basicInfo" role="tab">Basic Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#targetProducts" role="tab">Target Products</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#associatedDoctor" role="tab">Doctor</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#AppointmentList" role="tab">Appointment</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">

                    <!-- Basic Info -->
                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Chemist Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Name</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Id</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Contact Person</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.ContactPerson</span>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Mobile</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Phone</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Phone</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.HeadquarterName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.RegionName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.BuisnessPotential</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.AddressString</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Target Products -->
                    <div class="tab-pane fade" id="targetProducts" role="tabpanel">
                        <div class="table-responsive">
                            <table id="targetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>


                    <!-- Associated Doctor -->
                    <div class="tab-pane fade" id="associatedDoctor" role="tabpanel">
                        <div class="table-responsive">
                            <table id="doctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="AppointmentList" role="tabpanel">Appointment</div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modals -->
<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Name"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Id"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Gender"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Specialization"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Qualification"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Mobile"></label>

                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Headquarter"></label>

                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Region"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="BusinessPotential"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="AddressString"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="" id="Photo">
                        <div class="badge badge-success p-2 mt-2" id="Active">Active</div>
                        <div class="badge badge-danger p-2 mt-2" id="InActive">In-Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewDoctorProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Add New Target Product -->
<div class="modal fade" id="addTargetProductModal" tabindex="-1" aria-labelledby="addTargetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTargetProductModalLabel">Add Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Mfg.</th>
                                <th>Qty.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>

                            </tr>
                            <tr>
                                <td>45612</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Himalaya Liv. 52 DS Tablet
                                    </a>
                                </td>
                                <td>Liver Care</td>
                                <td>Himalaya</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45610</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Carbamide Forte Milk Thistle Extract Tablet
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45611</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    jQuery(document).ready(function () {
        TargetProductTableDatatablesColreorder.init();
        ManageAssociatedDoctorsDT.init();
    });

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    function viewDoctorProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Doctors, new { Area = "" })?Id=" + $('#doctorDetailsModal #Id').text();
    }

    function showDoctorDetails(Id) {
        loadron();

        $.ajax({
            url: '@Url.Action(Actions.GetDoctor, Controllers.Doctors, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#doctorDetailsModal #Id').text(data.Id);
                    $('#doctorDetailsModal #Name').text(data.FirstName + ' ' + data.LastName);
                    $('#doctorDetailsModal #Gender').text(data.Gender == 0? "Male" : "Female");
                    $('#doctorDetailsModal #Mobile').text(data.Mobile);
                    $('#doctorDetailsModal #Specialization').text(data.SpecializationName);
                    $('#doctorDetailsModal #Qualification').text(data.QualificationName);
                    $('#doctorDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#doctorDetailsModal #Region').text(data.RegionName);
                    $('#doctorDetailsModal #BusinessPotential').text(data.BuisnessPotential);
                    $('#doctorDetailsModal #AddressString').text(data.AddressString);

                    if (data.IsActive == true) {
                        $('#doctorDetailsModal #InActive').hide();
                        $('#doctorDetailsModal #Active').show();
                    }
                    else {
                        $('#doctorDetailsModal #Active').hide();
                        $('#doctorDetailsModal #InActive').show();
                    }

                    $('#doctorDetailsModal #Photo').attr('src', window.location.origin + "/" +data.Photo);
                    $('#doctorDetailsModal').modal('show');
                },
                error: function () { }
            });
    }


var TargetProductTableDatatablesColreorder = function () {

        var initTable1 = function () {
        var table = $('#targetProductTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Chemist, new { area ="" })',
                type: "post",
                data: addRequestVerificationToken({ chemistId: @Model.Id })
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data + '</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                /*{ "title": "Type", "data": "ProductTypeName", "orderable": true, "width": "14%" },*/
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "initComplete": function (settings, json) {
                $('#TargetProductCount').html($('#targetProductTable').DataTable().data().count());
            },

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#targetProductTable")) {
                $('#targetProductTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();


    var ManageAssociatedDoctorsDT = function () {

    var initTable1 = function () {
        var table = $('#doctorList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDoctors, Controllers.Chemist, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ chemistId : @Model.Id})
            },
            "columns": [
                { "title": "Id", "data": "DoctorId", "orderable": true, "width": "11%" },
                {
                    "title": "Doctor Name", "data": "DoctorFirstName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showDoctorDetails(' + row["DoctorId"] + ')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["DoctorImage"] + '" class="rounded-circle"></span>' + data +' '+ row["DoctorLastName"]+'</a>';
                    },
                    "orderable": true, "width": "11%"
                },
                {
                    "title": "Gender", "data": "DoctorGender",
                    "render": function (data, type, row) {
                        return 0 == data ? "Male" : "Female";
                    },
                    "orderable": true, "width": "11%"
                },
                { "title": "Specialization", "data": "DoctorSpecializationName", "orderable": true, "width": "11%" },
                { "title": "Qualification", "data": "DoctorQualificationName", "orderable": true, "width": "11%" },
                { "title": "Mobile", "data": "DoctorMobileNo", "orderable": true, "width": "11%" },
                {
                    "title": "Status", "data": "DoctorStatus",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "11%"
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "initComplete": function (settings, json) {
                $('#DoctorCount').html($('#doctorList').DataTable().data().count());
            },
            
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#doctorList")) {
                $('#doctorList').dataTable().fnDestroy();
            }
            initTable1();
        }
    };
    }();
</script>