﻿@using MR.Entities.V1
@using MR.Pages;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Region Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")>Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Region Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content mt-0 h-100">

    <div class="region-manager d-flex flex-column flex-lg-row align-items-start h-100">
        <div class="column-region">
            <h6 class="mb-3">Region List</h6>
            <div class="nav flex-column nav-pills" role="tablist" id="RegionDataList">
            </div>

            <div class="mx-3 mt-5 mt-lg-auto">
                <a href="javascript:void(0)" class="btn btn-secondary btn-block" role="button" onclick="addregionName();"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Region</a>
            </div>
        </div>

        <div class="column-region-content">
            <div class="tab-content w-100" id="tabbingBody">

            </div>
        </div>

    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>




<!-- modal -->
<div class="modal fade" id="viewRouteListModal" tabindex="-1" aria-labelledby="viewRouteListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewRouteListModalLabel">Route List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="routeListTable" class="table table-sm border rounded display nowrap" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="modal fade" id="addHeadQuarterModal" tabindex="-1" aria-labelledby="addHeadQuarterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="AddHeadQuarter">
                <div class="modal-header">
                    <h5 class="modal-title" id="addHeadQuarterModalLabel">Add / Update New Headquarter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="0" id="HQId" name="HQId" />
                    <div class="form-group">
                        <label for="headQuaterName" class="custom-label">Headquarter Name</label>
                        <input type="text" class="form-control" id="HQName" placeholder="Enter headquarter name">
                    </div>
                    <div class="form-group">
                        <label class="custom-label" for="HQRouteType">Route Type</label>
                        @Html.DropDownList("HQRouteType", (IEnumerable<SelectListItem>)ViewBag.RouteType, "Select a option", new { @id = "HQRouteType", @class = "form-control selectpicker" })
                    </div>
                    <div class="form-group">
                        <label class="custom-label" for="HQmanagerId">HQ Manager</label>
                        @Html.DropDownList("HQmanagerId", (IEnumerable<SelectListItem>)ViewBag.ManagerDD, "Select a option", new { @id = "HQmanagerId", @class = "form-control selectpicker" })
                    </div>
                    <div class="col-12" id="HQStatusdiv">
                        <div class="form-group">
                            <label class="custom-label">Headquarter Status</label>
                            <div class="form-switch">
                                <input type="checkbox" class="form-switch-input" id="HQstatus" checked="">
                                <label class="form-switch-label" for="statusSwitch">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="CancelModel" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addHQdata();">Save</button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add New Region Modal -->
<div class="modal fade" id="addregionName" tabindex="-1" aria-labelledby="addregionNameLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="FormRegion">
                <div class="modal-header">
                    <h5 class="modal-title" id="addregionNameLabel">Add / Update Region</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="RegionId" id="RegionId" value="0" />
                    <div class="form-group">
                        <label for="regionName" class="custom-label">Region Name</label>
                        <input type="text" class="form-control" id="addRegionName" placeholder="Enter region name" required>
                    </div>
                    <div class="form-group">
                        <label class="custom-label" for="managerId">Route Manager</label>
                        @Html.DropDownList("managerId", (IEnumerable<SelectListItem>)ViewBag.ManagerDD, "Select a option", new { @id = "managerId", @class = "form-control selectpicker" })
                    </div>
                    <div class="col-12" id="activeFlag">
                        <div class="form-switch">
                            <input type="checkbox" class="form-switch-input" id="ActInActSwitch">
                            <label class="form-switch-label" for="ActInActSwitch">Active</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" onclick="addregion();" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeDetailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Name"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Id"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Gender"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Qualification"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Mobile"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Role"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Headquarter"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Region"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="ReportingPerson"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="CurrentAddress"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="" id="Photo">
                        <div class="badge badge-success p-2 mt-2" id="Active">Active</div>
                        <div class="badge badge-danger p-2 mt-2" id="InActive">In-Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="addNewRouteModal" tabindex="-1" aria-labelledby="addNewRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="FormRoute">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewRouteModalLabel">Add New Route</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="RouteId" name="RouteId" value="0" />
                            <div class="form-group">
                                <label class="custom-label" for="routeName">Route Name</label>
                                <input type="text" class="form-control" id="routeName" placeholder="Enter route name">
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeType">Route Type</label>
                                @Html.DropDownList("routeTypeId", (IEnumerable<SelectListItem>)ViewBag.RouteType, "Select a option", new { @id = "routeTypeId", @class = "form-control selectpicker" })
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeStart">Route Start</label>
                                <input type="text" class="form-control" id="routeStart" placeholder="Enter start name">
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeEnd">Route End</label>
                                <input type="text" class="form-control" id="routeEnd" placeholder="Enter end name">
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeDistance">Route Distance</label>
                                <input type="text" class="form-control" id="routeDistance" placeholder="Enter distance">
                                <p class="fs-13 mt-1 mb-0">Total fair : ₹ <label id="TotalRupee"></label>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="CancelModel" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="addRouteData();" class="btn btn-primary">Save Route</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    function addregionName() {
        debugger;
        $('#activeFlag').hide();
        $('#addregionName').modal('show');
    }

    $(document).ready(function () {
        RegionList();

        HeadquarterGrid.init();
        EXHqDetails.init();
        OSHqDetails.init();
    });

    $('#addNewRouteModal #routeDistance').keyup(function () {
        $('#addNewRouteModal #TotalRupee').text($(this).val() * 2);
    });

    //addRouteData function
    function addRouteData() {
        let routeName = $('#routeName').val();
        if (routeName === NaN || routeName === "") {
            ShowMessageToastr("danger", "Route name can't be empty.");
            $("#routeName").focus();
            return false;
        }

        let routeTypeId = $('#routeTypeId').val();
        if (routeTypeId === NaN || routeTypeId === "") {
            ShowMessageToastr("danger", "Please select route type.");
            $("#routeTypeId").focus();
            return false;
        }

        let routeStart = $('#routeStart').val();
        if (routeStart === NaN || routeStart === "") {
            ShowMessageToastr("danger", "Route start can't be empty.");
            $("#routeStart").focus();
            return false;
        }

        let routeEnd = $('#routeEnd').val();
        if (routeEnd === NaN || routeEnd === "") {
            ShowMessageToastr("danger", "Route end can't be empty.");
            $("#routeEnd").focus();
            return false;
        }

        let routeDistance = $('#routeDistance').val();
        if (routeDistance === NaN || routeDistance === "") {
            ShowMessageToastr("danger", "Route distance can't be empty.");
            $("#routeDistance").focus();
            return false;
        }

        $.ajax({
            url: "/RegionManager/addRouteData",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: $('#RouteId').val(),
                Name: $('#routeName').val(),
                Type: $("#routeTypeId").val(),
                RouteStart: $("#routeStart").val(),
                RouteEnd: $("#routeEnd").val(),
                Distance: $("#routeDistance").val(),
                RegionId: HQRId
            }),
            success: function (response) {
                debugger;
                $('#addNewRouteModal').modal('hide');
                ShowMessageToastr("success", "Record saved successfully.");
            },
            error: function (response) {
                $('#addNewRouteModal').modal('hide');
                ShowMessageToastr("danger", "Failed to save Record.");
            }
        });
    }

    function addregion() {
        let addRegionName = $('#addRegionName').val();
        if (addRegionName === NaN || addRegionName === "") {
            ShowMessageToastr("danger", "Region name can't be empty.");
            $("#addRegionName").focus();
            return false;
        }

        let managerId = $('#managerId').val();
        if (managerId === NaN || managerId === "") {
            ShowMessageToastr("danger", "Please select route manager.");
            $("#managerId").focus();
            return false;
        }

        var ActInActFlag = false;

        if ($('#ActInActSwitch').prop("checked") == true) {
            ActInActFlag = true;
        } else {
            ActInActFlag = false;
        }

        $.ajax({
            url: "/RegionManager/RegionUpsert",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: $('#RegionId').val(),
                Name: $("#addRegionName").val(),
                ManagerId: $("#managerId").val(),
                IsActive: ActInActFlag
            }),
            success: function (response) {
                debugger;
                $('#addregionName').modal('hide');
                ShowMessageToastr("success", "Record saved successfully.");
                window.location.reload();
            },
            error: function (response) {
                $('#addregionName').modal('hide');
                ShowMessageToastr("danger", "Failed to save record.");
            }
        });
    }

    //ADD HQ NAME
    function addHQdata() {
        let HQName = $('#HQName').val();
        if (HQName === NaN || HQName === "") {
            ShowMessageToastr("danger", "Headquarter name can't be empty.");
            $("#HQName").focus();
            return false;
        }

        let HQRouteType = $('#HQRouteType').val();
        if (HQRouteType === NaN || HQRouteType === "") {
            ShowMessageToastr("danger", "Please select headquarter route type.");
            $("#HQRouteType").focus();
            return false;
        }

        var HQActInActFlag = false;
        if ($('#HQstatus').prop("checked") == true) {
            HQActInActFlag = true;
        } else {
            HQActInActFlag = false;
        }
        if ($('#HQId').val() == 0) {
            $('#HQStatusdiv').hide();
        }

        var RegionIdTypeId = parseInt($('#tabbingBody >div.active').attr('data-value'));
        debugger;
        $.ajax({
            url: "/RegionManager/HeadquarterUpsert",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: $('#HQId').val(),
                Name: $("#HQName").val(),
                RouteTypeId: $("#HQRouteType").val(),
                RegionId: RegionIdTypeId,
                IsActive: HQActInActFlag,
                ManagerId: $('#HQmanagerId').val()
            }),
            success: function (response) {
                debugger;
                $("#HQName").val('');
                $("#HQRouteType").val(null);
                $('#addHeadQuarterModal').modal('hide');
                ShowMessageToastr("success", "Record saved successfully.");
                HeadquarterGrid.init();
                EXHqDetails.init();
                OSHqDetails.init();
            },
            error: function (response) {
                $('#addHeadQuarterModal').modal('hide');
                ShowMessageToastr("danger", "Failed to save record.");
            }
        });
    }

    var HQRId = 1;
    function bindGrids(Id) {
        debugger;
        HQRId = Id;
        HeadquarterGrid.init();
        EXHqDetails.init();
        OSHqDetails.init();
    }

    //Region all list
    function RegionList() {
        $('#RegionDataList').html(``);
        $('#tabbingBody').html(``);
        $.ajax({
            type: "POST",
            url: "/RegionManager/BindRegionList",
            data: { ParentId: $("#CategoryId").val() },
            dataType: "json",
            async: false,
            success: function (Result) {

                for (var i = 0; i < Result.length; i++) {
                    $('#RegionDataList').append(`
                              <a class="nav-link" onclick="bindGrids(${Result[i].Id});" data-toggle="pill" href="#region-pane-${Result[i].Id}" role="tab">${Result[i].Name}</a>
                        `);
                    $('#tabbingBody').append(`
                            <div class="tab-pane fade tabbing-div" id="region-pane-${Result[i].Id}" data-value="${Result[i].Id}" role="tabpanel">
                                <div class="p-3">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 d-flex  align-items-center mb-3">
                                                <i data-eva="arrow-back-outline" class="hw-16 closer-region-content d-lg-none mr-1"></i>
                                                    <h6 class="mb-0">Region Details </h6>
                                                </div>
                                                <div class="col-12 mb-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">Region Name</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].Name}</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">No. of Headquarter</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].NumberOfHeadquarter}</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">Region Manager</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].ManagerName}</span>
                                                                </div>
                                                            </div>


                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">No. of Stockist</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].NumberOfStockiest}</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">No. of Doctors</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].NumberOfDoctor}</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">No. of Chemist</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].NumberOfChemist}</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">Business Potential</div>
                                                                <div class="text-dark">
                                                                    <span class="fw-medium">${Result[i].BuisnessPotensial}</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 mb-3">
                                                                <div class="text-muted fs-12">Status</div>
                                                                ${Result[i].IsActive == 1 ?
                                                                    `<div class="badge badge-success p-2">Active</div>` :
                                                                    `<div class="badge badge-danger p-2">In Active</div>`
                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 text-right">
                                                                <a href="javascript:void(0)" onclick="editRegion(${Result[i].Id});" class="btn btn-secondary" >
                                                                    Edit
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-12">
                                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#addHeadQuarterModal" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Headquarter</a>
                                    <a href="" class="btn btn-secondary" data-toggle="modal" data-target="#addNewRouteModal" role="button">
                                        <i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Route
                                    </a>
                                </div>

                                <div class="col-12">
                                    <div class="card my-3">
                                        <div class="card-header-navs">
                                            <ul class="nav nav-lines" role="tablist" id="HQTabs${Result[i].Id}">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" data-toggle="pill" data-value="1" href="#hqDetails${Result[i].Id}" role="tab">Headquarter</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" data-toggle="pill" data-value="2" href="#exHqDetails${Result[i].Id}" role="tab">Ex. Headquarter</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" data-toggle="pill" data-value="3" href="#osHqDetails${Result[i].Id}" role="tab">Os Headquarter</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body">
                                            <div class="tab-content">
                                                <!-- Headquarter -->
                                                <div class="tab-pane fade show active" id="hqDetails${Result[i].Id}" role="tabpanel">
                                                    <div id="HeadquarterGriddiv${Result[i].Id}">
                                                      <table id="HeadquarterGrid${Result[i].Id}" class="table border rounded display nowrap dataTable no-footer dtr-inline"></table>
                                                    </div>
                                                </div>

                                                <!-- Ex. Headquarter -->
                                                <div class="tab-pane fade" id="exHqDetails${Result[i].Id}" role="tabpanel">
                                                    <div id="EXHqDetailsdiv${Result[i].Id}">
                                                      <table id="EXHqDetails${Result[i].Id}" class="table border rounded display nowrap dataTable no-footer dtr-inline"></table>
                                                    </div>
                                                </div>


                                                <!-- Os Headquarter -->
                                                <div class="tab-pane fade" id="osHqDetails${Result[i].Id}" role="tabpanel">
                                                    <div id="OSHqDetailsdiv${Result[i].Id}">
                                                      <table id="OSHqDetails${Result[i].Id}" class="table border rounded display nowrap dataTable no-footer dtr-inline"></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        `);

                }


                $("#RegionDataList a").first().addClass("active");
                $("#tabbingBody .tabbing-div").first().addClass("active show");


                HeadquarterGrid.init();
                EXHqDetails.init();
                OSHqDetails.init();
            },
            error: function (Result) {

            }
        });
    }

    function editRegion(RegionId) {
        debugger;
        $('#activeFlag').show();
        $('#addregionName').modal('show');

        $.ajax({
            type: "POST",
            url: "/RegionManager/GetRegionData",
            data: { Id: RegionId },
            dataType: 'json',
            success: function (response) {
                $('#RegionId').val(response.Item.Id);
                $('#addRegionName').val(response.Item.Name);
                $('#managerId').selectpicker('val', response.Item.ManagerId);

                if (response.Item.IsActive == true) {
                    $('#ActInActSwitch').prop('checked', true);
                } else {
                    $('#ActInActSwitch').prop('checked', false);
                }
            },
            error: function (error) {
            }
        });
    }

    function editHeadquarter(HeadquarterId) {
        debugger;
        $('#HQStatusdiv').show();
        $('#addHeadQuarterModalLabel').text('Add / Edit Headquarter');
        $('#addHeadQuarterModal').modal('show');

        $.ajax({
            type: "POST",
            url: "/RegionManager/GetHeadquarterData",
            data: { Id: HeadquarterId },
            dataType: 'json',
            success: function (response) {
                debugger;
                $('#HQId').val(response.Item.Id);
                $('#HQName').val(response.Item.Name);
                $('#HQRouteType').selectpicker('val', response.Item.RouteType);
                $('#HQmanagerId').selectpicker('val', response.Item.ManagerId);
                debugger;
                if (response.Item.IsActive == true) {
                    $('#HQstatus').prop('checked', true);
                } else {
                    $('#HQstatus').prop('checked', false);
                }

            },
            error: function (error) {

            }
        });
    }

    //Grid

    var HeadquarterGrid = function () {
        let initHeadquarterGrid = function () {
            let table = $('#HeadquarterGrid' + HQRId + '');
            debugger;
            let oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "/RegionManager/BindHeadquarterGrid",
                    type: "post",
                    data: BuildSearchCriteriaHeadquarterGrid(),
                },
                "columns": [
                    {
                        "title": "HQ Name", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"] == "" || row["Name"] == null ? '-' : row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Route List", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0);" data-toggle="modal" onclick="RouteList.init();" data-target="#viewRouteListModal">View List</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "HQ Manager", "data": "Id",
                        "render": function (data, type, row) {
                            return '<a  href="javascript:void(0);" onclick="showEmployeeDetails(' + row["ManagerId"] + ')"><span class="avatar m-1"><img src="' + window.location.origin + "/" + row["ManagerPhoto"] + '" class="rounded-circle"></span>' + data + '</a>';
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Total Business", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `$125656.56`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["IsActive"] == 1 ? `<div class="badge badge-primary p-2">Active</div>` : `<div class="badge badge-danger p-2">In Active</div>`}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0)" onclick="editHeadquarter(${row["Id"]});" class="btn btn-light border">Edit</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                "buttons": [

                ],

                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20, 1000],
                    [5, 10, 15, 20, 1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable('#HeadquarterGrid' + HQRId + '')) {
                    $('#HeadquarterGrid' + HQRId + '').dataTable().fnDestroy();
                    $('#HeadquarterGriddiv' + HQRId + '').html('<table  class="table border rounded display nowrap dataTable no-footer dtr-inline" id="HeadquarterGrid' + HQRId + '"></table>');
                }
                initHeadquarterGrid();
            }
        };
    }();

    //Data fillter function
    function BuildSearchCriteriaHeadquarterGrid() {
        try {
            var param = {};
            param["RouteType"] = 1;
            param["RegionId"] = HQRId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }


    var EXHqDetails = function () {
        let initEXHqDetails = function () {
            let table = $('#EXHqDetails' + HQRId + '');
            debugger;
            let oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "/RegionManager/BindHeadquarterGrid",
                    type: "post",
                    data: BuildSearchCriteriaEXHqDetails(),
                },
                "columns": [
                    {
                        "title": "HQ Name", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"] == "" || row["Name"] == null ? '-' : row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Route List", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0);" data-toggle="modal" onclick="RouteList.init();" data-target="#viewRouteListModal">View List</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "HQ Manager", "data": "Id",
                        "render": function (data, type, row) {
                            return '<a  href="javascript:void(0);" onclick="showEmployeeDetails(' + row["ManagerId"] + ')"><span class="avatar m-1"><img src="' + window.location.origin + "/" + row["ManagerPhoto"] + '" class="rounded-circle"></span>' + data + '</a>';
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Total Business", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `$125656.56`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["IsActive"] == 1 ? `<div class="badge badge-primary p-2">Active</div>` : `<div class="badge badge-danger p-2">In Active</div>`}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0)" onclick="editHeadquarter(${row["Id"]});" class="btn btn-light border">Edit</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                "buttons": [
                    {

                    },
                ],

                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20, 1000],
                    [5, 10, 15, 20, 1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable('#EXHqDetails' + HQRId + '')) {
                    $('#HeadquarterGrid' + HQRId + '').dataTable().fnDestroy();
                    $('#EXHqDetailsdiv' + HQRId + '').html('<table class="table table-striped" width="100%" id="EXHqDetails' + HQRId + '"></table>');
                }
                initEXHqDetails();
            }

        };
    }();

    //Data fillter function
    function BuildSearchCriteriaEXHqDetails() {
        try {
            var param = {};
            param["RouteType"] = 2;
            param["RegionId"] = HQRId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    var OSHqDetails = function () {
        let initOSHqDetails = function () {
            let table = $('#OSHqDetails' + HQRId + '');
            debugger;
            let oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "/RegionManager/BindHeadquarterGrid",
                    type: "post",
                    data: BuildSearchCriteriaOSHqDetails(),
                },
                "columns": [
                    {
                        "title": "HQ Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"] == "" || row["Name"] == null ? '-' : row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Route List", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0);" data-toggle="modal" onclick="RouteList.init();" data-target="#viewRouteListModal">View List</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "HQ Manager", "data": "ManagerName",
                        "render": function (data, type, row) {
                            return '<a  href="javascript:void(0);" onclick="showEmployeeDetails(' + row["ManagerId"] + ')"><span class="avatar m-1"><img src="' + window.location.origin + "/" + row["ManagerPhoto"] + '" class="rounded-circle"></span>' + data + '</a>';
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Total Business", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `$125656.56`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Status", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["IsActive"] == 1 ? `<div class="badge badge-primary p-2">Active</div>` : `<div class="badge badge-danger p-2">In Active</div>`}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0)" onclick="editHeadquarter(${row["Id"]});" class="btn btn-light border">Edit</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                "buttons": [

                ],

                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20, 1000],
                    [5, 10, 15, 20, 1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable('#OSHqDetails' + HQRId + '')) {
                    $('#OSHqDetail' + HQRId + 's').dataTable().fnDestroy();
                    $('#OSHqDetailsdiv' + HQRId + '').html('<table class="table table-striped" width="100%" id="OSHqDetails' + HQRId + '"></table>');
                }
                initOSHqDetails();
            }
        };
    }();

    //Data fillter function
    function BuildSearchCriteriaOSHqDetails() {
        try {
            var param = {};
            param["RouteType"] = 3;
            param["RegionId"] = HQRId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    $('body').on('hidden.bs.modal', '.modal', function () {

        if ($(this)[0].id == "viewRouteListModal") {
            return;
        }

        $(this)
            .find("input,textarea,select")
            .val('').change()
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end();
    });

    function showEmployeeDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetEmployee, Controllers.Employee, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#employeeDetailsModal #Id').text(data.Id);
                    $('#employeeDetailsModal #Name').text(data.FirstName + ' ' + data.LastName);
                    $('#employeeDetailsModal #Gender').text(data.Gender == 0? "Male" : "Female");
                    $('#employeeDetailsModal #Mobile').text(data.Mobile);
                    $('#employeeDetailsModal #Qualification').text(data.Qualification);
                    $('#employeeDetailsModal #Role').text(data.RoleName);
                    $('#employeeDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#employeeDetailsModal #Region').text(data.RegionName);
                    $('#employeeDetailsModal #ReportingPerson').text(data.ReportingPersonName);
                    $('#employeeDetailsModal #CurrentAddress').text(data.CurrentAddressString);

                    if (data.IsActive == true) {
                        $('#employeeDetailsModal #InActive').hide();
                        $('#employeeDetailsModal #Active').show();
                    }
                    else {
                        $('#employeeDetailsModal #Active').hide();
                        $('#employeeDetailsModal #InActive').show();
                    }

                    $('#employeeDetailsModal #Photo').attr('src', window.location.origin + "/" +data.Photo);
                    $('#employeeDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

    function viewProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Employee, new { Area = "" })?Id=" + $('#employeeDetailsModal #Id').text();
    }

    var RouteList = function () {

        var initTable1 = function () {
        var table = $('#routeListTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindRoute, Controllers.Route, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ RegionId: HQRId, RouteTypeId: $('#HQTabs'+HQRId+' > li > a.active').attr('data-value')})
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true },
                { "title": "Route Name", "data": "Name", "orderable": false },
                { "title": "Route Start", "data": "RouteStart","orderable": false },
                { "title": "Route End", "data": "RouteEnd", "orderable": false },
                { "title": "Route Type", "data": "RouteTypeName", "orderable": false },
                {
                    "title": "Route Distance", "data": "Distance",
                    "render": function (data, type, row) {
                        return data + "Km";
                    },
                    "orderable": false
                },
                {
                    "title": "Total Fair", "data": "TotalFair",
                    "render": function (data, type, row) {
                        return "₹" + data;
                    },
                    "orderable": false
                },
                {
                    "title": "Status", "data": "IsActive",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": false
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#routeListTable")) {
                $('#routeListTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();
</script>
