﻿@using MR.Pages;
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Stockist</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Stockist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="/StockList/ManageStock" class="btn btn-primary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Stockist</a>
            </div>


            <div class="col-12 mb-3">
                <div class="card table-responsive">
                    <div class="card-body">
                        <table id="StockistList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Stockist Name</th>
                                    <th>Gender</th>
                                    <th>Mobile</th>
                                    <th>HQ</th>
                                    <th>Region</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>45613</td>
                                    <td>
                                        <a href="" data-target="#stockistDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                            Joann McDowell
                                        </a>
                                    </td>
                                    <td>Female</td>
                                    <td>8445845765</td>
                                    <td>Ahmedabad</td>
                                    <td>South Ahmedabad</td>
                                    <td><div class="badge badge-success p-2">Active</div></td>
                                    <td><a href="~/edit-stockist.html" class="btn btn-light border btn-sm" type="button">Edit</a></td>
                                </tr>

                                <tr>
                                    <td>45613</td>
                                    <td>
                                        <a href="" data-target="#stockistDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            Joann McDowell
                                        </a>
                                    </td>
                                    <td>Male</td>
                                    <td>8445845765</td>
                                    <td>Ahmedabad</td>
                                    <td>West Ahmedabad</td>
                                    <td><div class="badge badge-success p-2">Active</div></td>
                                    <td><a href="~/edit-stockist.html" class="btn btn-light border btn-sm" type="button">Edit</a></td>
                                </tr>

                                <tr>
                                    <td>45613</td>
                                    <td>
                                        <a href="" data-target="#stockistDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/3.jpg" class="rounded-circle"></span>
                                            Joann McDowell
                                        </a>
                                    </td>
                                    <td>Female</td>
                                    <td>8445845765</td>
                                    <td>Ahmedabad</td>
                                    <td>North Ahmedabad</td>
                                    <td><div class="badge badge-success p-2">Active</div></td>
                                    <td><a href="~/edit-stockist.html" class="btn btn-light border btn-sm" type="button">Edit</a></td>
                                </tr>

                                <tr>
                                    <td>45613</td>
                                    <td>
                                        <a href="" data-target="#stockistDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/4.jpg" class="rounded-circle"></span>
                                            Joann McDowell
                                        </a>
                                    </td>
                                    <td>Male</td>
                                    <td>8445845765</td>
                                    <td>Ahmedabad</td>
                                    <td>East Ahmedabad</td>
                                    <td><div class="badge badge-danger p-2">In-active</div></td>
                                    <td><a href="~/edit-stockist.html" class="btn btn-light border btn-sm" type="button">Edit</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modals -->
<div class="modal fade" id="stockistDetailsModal" tabindex="-1" aria-labelledby="stockistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stockistDetailsModalLabel">Stockist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Joann</span>
                                    <span class="fw-medium">McDowell</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">45613</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Male</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">8445845765</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">South Ahmedabad</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/2.jpg" alt="">
                        <div class="badge badge-success p-2 mt-2">Active</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>





<script>


            $('#StockistList').DataTable( {
                responsive: true
            } );

</script>

