﻿@using MR.Pages;
@{
    ViewBag.Title = "ManageStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New Stockist</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="~/master-stockist.html">Stockist</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Stockist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <form class="row justify-content-center">
            <div class="col-12">

                <!-- Basic Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Basic Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Jhon">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Doe">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Gender</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="maleRadio" name="doctorRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="maleRadio">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="femaleRadio" name="doctorRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="femaleRadio">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="mobileNumber">Mobile Number</label>
                                    <input type="text" class="form-control" id="mobileNumber" placeholder="Enter mobile number">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Birthdate</label>
                                    <input type="text" class="form-control single-date-picker" value="10/24/2021" />
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Anniversary</label>
                                    <input type="text" class="form-control single-date-picker" value="10/24/2021" />
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <label class="custom-label">Photo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="avatarFile">
                                    <label class="custom-file-label fs-12" for="avatarFile">Choose file</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Firm Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Firm Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="dlNumber">DL Number</label>
                                    <input type="text" class="form-control" id="dlNumber" placeholder="Enter DL number">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="firmName">Firm Name</label>
                                    <input type="text" class="form-control" id="firmName" placeholder="Enter firm name">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="gstNumber">GST Number</label>
                                    <input type="text" class="form-control" id="gstNumber" placeholder="Enter GST number">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="fassiNumber">FASSI Number</label>
                                    <input type="text" class="form-control" id="fassiNumber" placeholder="Enter fassi number">
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="bankName">Bank Name</label>
                                    <input type="text" class="form-control" id="bankName" placeholder="Enter bank name">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="bankBranch">Bank Branch</label>
                                    <input type="text" class="form-control" id="bankBranch" placeholder="Enter bank branch name">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="bankAccountNo">Bank Account No.</label>
                                    <input type="text" class="form-control" id="bankAccountNo" placeholder="Enter bank a/c no.">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="ifscCode">Bank IFSC Code</label>
                                    <input type="text" class="form-control" id="ifscCode" placeholder="Enter IFSC code">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Address Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Address Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="addressLine1">Address line 1</label>
                                    <input type="text" class="form-control" id="addressLine1" placeholder="Enter Address line 1">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="addressLine2">Address line 2</label>
                                    <input type="text" class="form-control" id="addressLine2" placeholder="Enter Address line 2">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="pinCode">Pin code</label>
                                    <input type="text" class="form-control" id="pinCode" placeholder="Enter pin code">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectHeadquarter">Headquarter</label>
                                    <select class="form-control selectpicker" data-size="6" data-title="Select a option" id="selectHeadquarter">
                                        <option>Ahmedabad</option>
                                        <option>Surat</option>
                                        <option>Rajkot</option>
                                        <option>Junagadh</option>
                                        <option>Jamnagar</option>
                                        <option>Vadodara</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectRegion">Region</label>
                                    <select class="form-control selectpicker" data-size="6" data-title="Select a option" id="selectRegion">
                                        <option>East Ahmedabad</option>
                                        <option>West Ahmedabad</option>
                                        <option>South Ahmedabad</option>
                                        <option>North Ahmedabad</option>
                                        <option>Central Ahmedabad</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Remarks -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Remarks</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="addressDetails" rows="5" placeholder="Enter your remarks here"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="javascript:;" class="btn btn-primary btn-wide">Add Stockist</a>
                <a href="~/master-stockist.html" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        </form>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>



<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>




<!-- Modals -->

<div class="modal fade" id="addTargetProductModal" tabindex="-1" aria-labelledby="addTargetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTargetProductModalLabel">Add Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Mfg.</th>
                                <th>Qty.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="~/product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>

                            </tr>
                            <tr>
                                <td>45612</td>
                                <td>
                                    <a href="~/product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Himalaya Liv. 52 DS Tablet
                                    </a>
                                </td>
                                <td>Liver Care</td>
                                <td>Himalaya</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45610</td>
                                <td>
                                    <a href="~/product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Carbamide Forte Milk Thistle Extract Tablet
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45611</td>
                                <td>
                                    <a href="~/product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

            $('#targetProductTable').DataTable( {
                responsive: true
            } );

            $('#addTargetProductTable').DataTable( {
                responsive: true
            } );
</script>

