
.shadow-1{
    box-shadow: $box-shadow-1;
}
.shadow-2{
    box-shadow: $box-shadow-2;
}
.shadow-3{
    box-shadow: $box-shadow-3;
}
.shadow-4{
    box-shadow: $box-shadow-4;
}
.shadow-5{
    box-shadow: $box-shadow-5;
}
.shadow-6{
    box-shadow: $box-shadow-6;
}
.shadow-7{
    box-shadow: $box-shadow-7;
}

.hover-shadow-1{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-1;
    }
}
.hover-shadow-2{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-2;
    }
}
.hover-shadow-3{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-3;
    }
}
.hover-shadow-4{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-4;
    }
}
.hover-shadow-5{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-5;
    }
}
.hover-shadow-6{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-6;
    }
}
.hover-shadow-7{
    transition: all 0.2s ease;
    &:hover{
        box-shadow: $box-shadow-7;
    }
}