

.hw-10{
    height: 0.625rem;
    width: 0.625rem;
    min-width: 0.625rem;
}
.hw-11{
    height: 0.6875rem;
    width: 0.6875rem;
    min-width: 0.6875rem;
}
.hw-12{
    height: 0.75rem;
    width: 0.75rem;
    min-width: 0.75rem;
}
.hw-13{
    height: 0.8125rem;
    width: 0.8125rem;
    min-width: 0.8125rem;
}
.hw-14{
    height: 0.875rem;
    width: 0.875rem;
    min-width: 0.875rem;
}
.hw-15{
    height: 0.9375rem;
    width: 0.9375rem;
    min-width: 0.9375rem;
}
.hw-16{
    height: 1rem;
    width: 1rem;
    min-width: 1rem;
}
.hw-17{
    height: 1.0625rem;
    width: 1.0625rem;
    min-width: 1.0625rem;
}
.hw-18{
    height: 1.125rem;
    width: 1.125rem;
    min-width: 1.125rem;
}
.hw-19{
    height: 1.1875rem;
    width: 1.1875rem;
    min-width: 1.1875rem;
}
.hw-20{
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
}
.hw-21{
    height: 1.3125rem;
    width: 1.3125rem;
    min-width: 1.3125rem;
}
.hw-22{
    height: 1.375rem;
    width: 1.375rem;
    min-width: 1.375rem;
}
.hw-23{
    height: 1.4375rem;
    width: 1.4375rem;
    min-width: 1.4375rem;
}
.hw-24{
    height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
}