
.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fw-medium{
    font-weight: $font-weight-medium !important;
}
.fw-semibold{
    font-weight: $font-weight-semibold !important;
}
.fw-bold{
    font-weight: $font-weight-bold !important;
}


.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

.line-clamp-1 {
    -webkit-line-clamp: 1 !important;
}

.line-clamp-2 {
    -webkit-line-clamp: 2 !important;
}

.line-clamp-3 {
    -webkit-line-clamp: 3 !important;
}



@each $color, $value in $theme-colors {
    .fill-#{$color} {
        fill: $value;
    }
}

  

.lh-13{
    line-height: 1.3;
}