﻿@{ ViewBag.Title = "Add Employee State";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@using MR.Entities.V1
@using MR.Pages;
@model Employee
@Html.AntiForgeryToken()
<link href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" rel="stylesheet" />
<link href="~/assets/css/hummingbird-treeview.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .custome-ml-20 {
        margin-left: 20px;
    }

    .custome-ml-40 {
        margin-left: 40px;
    }

    .state-region-area {
        border-top: 1px solid #e4e4e4 !important;
        padding-top: 15px !important;
    }

        .state-region-area:first-child {
            border-top: none;
            padding-top: 0px;
        }

    .showSweetAlert h2 {
        font-size: 17px;
    }

    body {
        background-color: #fafafa;
    }

    .container {
        margin: 150px auto;
        min-height: 100vh;
    }

    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        /*border-right:0;*/
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }

    .h-scroll {
        background-color: #fcfdfd;
        height: 260px;
        overflow-y: scroll;
    }
</style>
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New Employee</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Employee, new { Area = ""})">Add New Employee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Employee Region</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="col-12">
            <!-- Basic Details -->
            <div class="card shadow-2 mb-4">
                <div class="card-header">
                    <h5 class="mb-1">Add Employee State</h5>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2">
                        <ol class="breadcrumb mb-0 pl-0 p-0 mt-2">
                            <li class="breadcrumb-item active" aria-current="page">State</li>
                        </ol>
                    </nav>
                </div>
                <div class="card-body" id="EmployeeStateRegion">

                </div>
                <div class="col-12 mb-3 text-right">
                    <button class="btn btn-primary" type="button" onclick="addEmployeeRegion();">Add State</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>*@
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="~/Scripts/select2.full.min.js"></script>
<script src="~/assets/js/hummingbird-treeview.min.js"></script>



<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>


<script>

    $(document).ready(function () {
        StateRegionList();
        UserRegionList();

        $("#treeview").hummingbird();
        if ('@ViewBag.RoleName' == 'BM' || '@ViewBag.RoleName' == 'BE') {

            $(".all").prop('disabled', true)
        }

    })

    //Region all list
    function StateRegionList() {
        $.ajax({
            type: "POST",
             url: '@Url.Action(Actions.BindEmployeeRegion, Controllers.Employee, new { area =""})',
            data: ({ ParentId: 0, GrandParentId:0 }),
            dataType: "json",
            async: false,
            success: function (Result) {
                debugger;
                var StateRegionIds = [];

                if (Result.length <= 0) {
                    $('#EmployeeStateRegion').html(`
                    <div class="state-region text-center">
                        <h4 class="mb-0 text-muted">State not found</h4>
                    </div>
                `)
                } else {
                    $("#EmployeeStateRegion").html(``);
                }

                for (i = 0; i < Result.length; i++) {
                    var StateRegionId = Result[i].ParentId;
                    StateRegionIds.push(StateRegionId);
                    console.log('StateRegionIds', StateRegionIds)
                    $('#EmployeeStateRegion').append(`
                        <div class="state-region">
                            <div class="mt-2">
                                <div class="state-list" id="StateList">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="ReViewBagion" onchange="regionUpsert(this,${Result[i].Id});" class="custom-control-input all" id="Region${Result[i].Id}">
                                        <label class="custom-control-label" for="Region${Result[i].Id}">${Result[i].Name}
                                            <span>
                                                <a href="/Employee/AddEmployeeRegion?StateId=${btoa(Result[i].Id)}&EmployeeId=${btoa(@ViewBag.EmployeeId)}&RoleName=${btoa('@ViewBag.RoleName')}">
                                                    <img src="../assets/images/pin-outline.png" style="width:20px;" />
                                                </a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `);
                }
            },
            error: function (Error) {
                debugger;
            }
        });
    }



    var RegionArr = [];

    function regionUpsert(checkbox, RegionId) {
        debugger;
        if (checkbox.checked == true) {
            if ('@ViewBag.RoleName' == 'BH') {

                if ($('.all:checked').length > 1) {
                    if (confirm('You have only one region permission if you select this other state become de-selected Are you sure you want to proceed ?')) {

                        $('.all').prop('checked', false);
                        RegionArr.push(RegionId);
                        $('#Region' + RegionId).prop('checked', 'checked');
                    }
                    else {
                        debugger;
                        $('#Region' + RegionId).prop('checked', false);
                    }
                }
            }
            else {

                RegionArr.push(RegionId);
                $('input[name="Region' + RegionId + '"]').attr('checked', 'checked');
            }
            RegionArr.push(RegionId);
            //$('#Region' + RegionId).prop('checked', 'checked');
            //$('input[name="Region' + RegionId + '"]').prop('checked', 'checked');

        } else {
            for (i = 0; i < RegionArr.length; i++) {
                if (RegionArr[i] == RegionId) {
                    RegionArr.splice(i, 1);
                }

            }
            $('#Region'+ RegionId).removeAttr('checked', 'checked');
        }
        debugger;
    }

    //addChamistandDr
    function addEmployeeRegion() {
        $.ajax({
             url: '@Url.Action(Actions.EmployeeAddRegion, Controllers.Employee, new { area =""})',
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: 0,
                UserId: @ViewBag.EmployeeId,
                RegionIds: RegionArr.toString(),
            }),
            success: function (response) {
                debugger;
                swal({
                    title: response.Message,
                    type: "success",
                    showCancelButton: false,
                }, function () {

                });
            },
            error: function (response) {
                debugger;
            }
        });
    }

    //Region User all Region
    function UserRegionList() {
        $.ajax({
            type: "POST",
             url: '@Url.Action(Actions.GetEmployeeRegion, Controllers.Employee, new { area =""})',
            data: { UserId: @ViewBag.EmployeeId},
            dataType: "json",
            async: false,
            success: function (Result) {
                console.log(Result);
                debugger;
                for (i = 0; i < Result.length; i++) {
                    if (Result.length > 0) {
                        RegionArr.push(Result[i].RegionId);
                    }
                    $(`#Region${Result[i].RegionId}`).prop("checked" ,true)
                }
            },
            error: function (Error) {
                debugger;
            }
        });
    }

</script>
