﻿@using MR.Pages;

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Employee Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Employee Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="/Employee/ManageEmployee" class="btn btn-primary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Employee</a>
            </div>

            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="table-responsive">                            
                                <table class="table border rounded display nowrap" id="employeeList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- modal -->
<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeDetailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Name"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Id"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Gender"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Qualification"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Mobile"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Role"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Headquarter"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Region"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="ReportingPerson"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="CurrentAddress"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="" id="Photo">
                        <div class="badge badge-success p-2 mt-2" id="Active">Active</div>
                        <div class="badge badge-danger p-2 mt-2" id="InActive">In-Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script type="text/javascript">
    var TableDatatablesColreorder = function () {
    var initTable1 = function () {
        var table = $('#employeeList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindEmployee, Controllers.Employee, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "#", "data": "Id", "orderable": true },
                {
                    "title": "Employee Name", "data": "FirstName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showEmployeeDetails(' + row["Id"] + ')"><span class="avatar m-1"><img src="' + window.location.origin + "/" + row["Photo"] + '" class="rounded-circle"></span>' + data + ' ' + row["LastName"] + '</a>';
                        //return '<label"><span class="avatar m-1"><img alt="avatar" src="' + window.location.origin + "/" + row["Photo"] + '" class="rounded-circle"></span>' + data + ' ' + row["LastName"] + '</label>';
                    },
                    "orderable": false
                },
                {
                    "title": "Gender", "data": "Gender",
                    "render": function (data, type, row) {
                        return 0 == data ? "Male" : "Female";
                    },
                    "orderable": false
                },
                { "title": "Role", "data": "RoleName", "orderable": false },
                { "title": "Mobile", "data": "Mobile", "orderable": false },
                { "title": "Email", "data": "Email", "orderable": false },
                {
                    "title": "Status", "data": "IsActive",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": false
                },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var appendstring = '';
                        var url = "@Url.Action(Actions.ManageEmployee, Controllers.Employee, new { Area = ""})";
                        appendstring += '<a  href="' + url + "?empId=" + Id + '" title="Edit" class="btn btn-light border btn-sm" role="button">Edit</a>&nbsp; ';
                        appendstring += `<a  href="@Url.Action(Actions.AddEmployeeState, Controllers.Employee, new { Area = ""})?EmployeeId=${btoa(row["Id"])}&role=${btoa(row["RoleName"])}" title="Edit" class="btn btn-light border btn-sm" role="button">Add Employee Region</a>&nbsp; `;
                        @*appendstring += '<a  href="javascript:void(0);" onclick="Delete(' + row["Id"] + ')" title="Delete"  > <img src="@Url.Content("~/Styles/img/delete.png")" alt="Delete" /></a> ';*@
                        return appendstring;
                    },
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#employeeList")) {
                $('#employeeList').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    function showEmployeeDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetEmployee, Controllers.Employee, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#employeeDetailsModal #Id').text(data.Id);
                    $('#employeeDetailsModal #Name').text(data.FirstName + ' ' + data.LastName);
                    $('#employeeDetailsModal #Gender').text(data.Gender == 0? "Male" : "Female");
                    $('#employeeDetailsModal #Mobile').text(data.Mobile);
                    $('#employeeDetailsModal #Qualification').text(data.Qualification);
                    $('#employeeDetailsModal #Role').text(data.RoleName);
                    $('#employeeDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#employeeDetailsModal #Region').text(data.RegionName);
                    $('#employeeDetailsModal #ReportingPerson').text(data.ReportingPersonName);
                    $('#employeeDetailsModal #CurrentAddress').text(data.CurrentAddressString);

                    if (data.IsActive == true) {
                        $('#employeeDetailsModal #InActive').hide();
                        $('#employeeDetailsModal #Active').show();
                    }
                    else {
                        $('#employeeDetailsModal #Active').hide();
                        $('#employeeDetailsModal #InActive').show();
                    }

                    $('#employeeDetailsModal #Photo').attr('src', window.location.origin + "/" +data.Photo);
                    $('#employeeDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

    function viewProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Employee, new { Area = "" })?Id=" + $('#employeeDetailsModal #Id').text();
    }
</script>
