﻿@{ ViewBag.Title = "ManageEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@using MR.Entities.V1
@using MR.Pages;
@model Employee

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New Employee</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Employee, new { Area = ""})">Employee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Employee</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { @class = "row justify-content-center", @id = "EmplyeeData", @enctype = "multipart/form-data", @onsubmit = "return validateForm()" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PermanentAddress)
            @Html.HiddenFor(m => m.CurrentAddress)
            @Html.HiddenFor(m => m.CurrentAddressData.Id)
            @Html.HiddenFor(m => m.PermanentAddressData.Id)
            @Html.HiddenFor(m => m.Photo)
            @Html.HiddenFor(m => m.DrivingLicense)
            @Html.HiddenFor(m => m.AddressProof)
            <div class="col-12">
                <!-- Basic Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Basic Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="firstName">First name</label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name", @name = "firstName" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="lastName">Last name</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name", @name = "LastName" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Gender</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(m => m.Gender, "0", new { @class = "custom-control-input", @id = "maleRadio", @checked = true })
                                        <label class="custom-control-label" for="maleRadio">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(m => m.Gender, "1", new { @class = "custom-control-input", @id = "femaleRadio" })
                                        <label class="custom-control-label" for="femaleRadio">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Birthdate</label>
                                    @Html.TextBoxFor(m => m.Birthdate, "{0:dd/MM/yyyy}", new { @class = "form-control single-date-picker" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Anniversary</label>
                                    @Html.TextBoxFor(m => m.Anniversary, "{0:dd/MM/yyyy}", new { @class = "form-control single-date-picker" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="mobileNumber">Mobile Number</label>
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Enter mobile number", @name = "mobileNumber" })
                                </div>
                            </div>

                            @*<div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="custom-label" for="phoneNumber">Phone Number</label>
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Enter phone number", @name = "phoneNumber" })
                                    </div>
                                </div>*@

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="emergencyNumber">Emergency Number</label>
                                    @Html.TextBoxFor(m => m.EmergencyNumber, new { @class = "form-control", @placeholder = "Enter emergency number", @name = "emergencyNumber" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="emailAddress">Email Address</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter email address", @name = "emailAddress" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <label class="custom-label">Photo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="avatar" name="avatar">
                                    <label id="avtarfilename" class="custom-file-label fs-12" for="avatar">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Employment Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Employment Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="qualiFication">Qualification</label>
                                    @Html.TextBoxFor(m => m.Qualification, new { @name = "qualiFication", @class = "form-control", @placeholder = "Enter qualification" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Joining Date</label>
                                    @Html.TextBoxFor(m => m.JoiningDate, "{0:dd/MM/yyyy}", new { @class = "form-control single-date-picker" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Confirmation Date</label>
                                    @Html.TextBoxFor(m => m.ConfirmationDate, "{0:dd/MM/yyyy}", new { @class = "form-control single-date-picker" })
                                </div>
                            </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="selectRole">Role</label>
                                @Html.DropDownListFor(m => m.Role, (IEnumerable<SelectListItem>)ViewBag.RoleDD, new { @Id = "selectRole", @name = "selectRole", @onchange = "BindReportingPersonDrp();", @class = "form-control selectpicker" })
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="ReportingPerson">Reporting Person</label>
                                @Html.DropDownListFor(m => m.ReportingPerson, (IEnumerable<SelectListItem>)ViewBag.ReportingPersonDD, new { @name = "ReportingPerson", @class = "form-control selectpicker" })
                                @*<select class="form-control selectpicker" data-size="6" data-title="Select options" name="ReportingPerson" id="ReportingPerson">
                                </select>*@
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="selectHeadquarter">Headquarter</label>
                                @Html.DropDownListFor(m => m.Headquarter, (IEnumerable<SelectListItem>)ViewBag.HeadQuarterDD, new { @name = "selectHeadquarter", @class = "form-control selectpicker" })

                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectRegion">Region</label>
                                    @Html.DropDownListFor(m => m.Region, (IEnumerable<SelectListItem>)ViewBag.RegionDD, new { @name = "selectRegion", @class = "form-control selectpicker" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="ReportingPerson">Reporting Person</label>
                                    @Html.DropDownListFor(m => m.ReportingPerson, (IEnumerable<SelectListItem>)ViewBag.ReportingPersonDD, new { @name = "ReportingPerson", @class = "form-control selectpicker" })
                                </div>
						    </div>
                        </div>
                    </div>
                </div>

                <!-- Address Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Address Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-4">Permanent Address</h6>
                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="addressLine1">Address line 1</label>
                                    @Html.TextBoxFor(m => m.PermanentAddressData.Address1, new { @name = "addressLine1", @class = "form-control", @placeholder = "Enter Address line 1" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="addressLine2">Address line 2</label>
                                    @Html.TextBoxFor(m => m.PermanentAddressData.Address2, new { @name = "addressLine2", @class = "form-control", @placeholder = "Enter Address line 2" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="pinCode">Pin code</label>
                                    @Html.TextBoxFor(m => m.PermanentAddressData.Pincode, new { @name = "pinCode", @class = "form-control", @placeholder = "Enter pin code" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectState">State</label>
                                    @Html.DropDownListFor(m => m.PermanentAddressData.State, (IEnumerable<SelectListItem>)ViewBag.StateDD, new { @name = "selectState", @class = "form-control selectpicker" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectCity">City</label>
                                    @Html.DropDownListFor(m => m.PermanentAddressData.City, (IEnumerable<SelectListItem>)ViewBag.CityDD, new { @name = "selectState", @class = "form-control selectpicker" })
                                </div>
                            </div>

                        </div>

                        <hr>
                        <h6 class="mb-4">Current Address</h6>

                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="addressLine1">Address line 1</label>
                                    @Html.TextBoxFor(m => m.CurrentAddressData.Address1, new { @name = "caddressLine1", @class = "form-control", @placeholder = "Enter Address line 1" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="addressLine2">Address line 2</label>
                                    @Html.TextBoxFor(m => m.CurrentAddressData.Address2, new { @name = "caddressLine2", @class = "form-control", @placeholder = "Enter Address line 2" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="pinCode">Pin code</label>
                                    @Html.TextBoxFor(m => m.CurrentAddressData.Pincode, new { @name = "cpinCode", @class = "form-control", @placeholder = "Enter pin code" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectState2">State</label>
                                    @Html.DropDownListFor(m => m.CurrentAddressData.State, (IEnumerable<SelectListItem>)ViewBag.StateDD, new { @name = "selectState", @class = "form-control selectpicker" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectCity2">City</label>
                                    @Html.DropDownListFor(m => m.CurrentAddressData.City, (IEnumerable<SelectListItem>)ViewBag.CityDD, new { @name = "selectState", @class = "form-control selectpicker" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Documents -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Documents</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <h6 class="mb-4">Address Proof</h6>
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="AddressProofPreview"></div>
                                    <span class="file-drop-message">Drag and drop here to upload image</span>
                                    <input class="file-drop-input" type="file" id="addresProof" name="addresProof">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <h6 class="mb-4">Driving License</h6>
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="DrivingLicencePreview"></div>
                                    <span class="file-drop-message">Drag and drop here to upload image</span>
                                    <input class="file-drop-input" type="file" id="drivinLicense" name="drivinLicense">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <!-- Salary Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Salary Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="saalaryAmount">Salary Amount</label>
                                    @Html.TextBoxFor(m => m.SalaryAmount, new { @name = "salaryAmnt", @class = "form-control", @placeholder = "Enter amount" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="paymentMode">Payment Mode</label>
                                    @Html.TextBoxFor(m => m.PaymentMode, new { @name = "paymentMode", @class = "form-control", @placeholder = "Enter payment mode" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="bankName">Bank Name</label>
                                    @Html.TextBoxFor(m => m.BankName, new { @name = "bankName", @class = "form-control", @placeholder = "Enter bank name" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="bankBranch">Bank Branch</label>
                                    @Html.TextBoxFor(m => m.BankBranch, new { @name = "bankBranch", @class = "form-control", @placeholder = "Enter bank branch name" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="bankAccountNo">Bank Account No.</label>
                                    @Html.TextBoxFor(m => m.BankAccountNo, new { @name = "bankAccountNo", @class = "form-control", @placeholder = "Enter bank a/c no." })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="ifscCode">Bank IFSC Code</label>
                                    @Html.TextBoxFor(m => m.BankIFSCCode, new { @name = "ifscCode", @class = "form-control", @placeholder = "Enter IFSC code" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                @if (Model.Id > 0)
                {
                    <!-- Work Experience -->
                    <div class="card shadow-2 mb-4">
                        <div class="card-header">
                            <h5 class="mb-1">Work Experience</h5>
                            <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-right mb-3">
                                    <a href="" class="btn btn-primary" data-target="#addWorkExpModal" data-toggle="modal"><i class="hw-15 mr-1 fill-white" data-eva="plus-outline"></i>Add New</a>
                                </div>

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="workExperienceTable" class="table border rounded display nowrap" cellspacing="0" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- Remarks -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Remarks</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Remarks, new { @name = "remarks", @class = "form-control", @placeholder = "Enter your remarks here" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @if (Model.Id > 0)
                {
                    <!-- Active/In-active -->
                    <div class="card shadow-2 mb-4">
                        <div class="card-header">
                            <h5 class="mb-1">Settings</h5>
                            <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-switch">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-switch-input", @name = "statusSwitch" })
                                        <label class="form-switch-label" for="statusSwitch">Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-12 text-center">
                <input type="submit" value="Save / Add Employee" class="btn btn-primary btn-wide" id="AddEmployee" />
                <a href="@Url.Action(Actions.Index, Controllers.Employee, new { Area = "" })" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        
    </div>
        }
</div>


<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<div class="modal fade" id="addWorkExpModal" tabindex="-1" aria-labelledby="addWorkExpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="addWorkExperinceForm">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="addWorkExpModalLabel">Add Work Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="CompanyName">Company Name</label>
                                @Html.TextBoxFor(m => m.workExperience.CompanyName, new { @class = "form-control", @placeholder = "Enter company name", @name = "CompanyName" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="PositionDetails">Position</label>
                                @Html.TextBoxFor(m => m.workExperience.Position, new { @class = "form-control", @placeholder = "Enter position name", @name = "PositionDetails" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label">Joining Date</label>
                                @Html.TextBoxFor(m => m.workExperience.JoiningDate, "{0:dd/MM/yyyy}", new { @name = "JoiningDate", @class = "form-control single-date-picker" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label">Leaving Date</label>
                                @Html.TextBoxFor(m => m.workExperience.LeavingDate, "{0:dd/MM/yyyy}", new { @name = "LeavingDate", @class = "form-control single-date-picker" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="custom-label" for="salaryAmount">Salary</label>
                                @Html.TextBoxFor(m => m.workExperience.Salary, new { @class = "form-control", @placeholder = "Enter salary here", @name = "salaryAmount" })
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label class="custom-label" for="reasonLeaving">Reason for Leaving</label>
                                @Html.TextAreaFor(m => m.workExperience.LeavingReason, new { @rows = "5", @class = "form-control", @placeholder = "Enter your job leaving reason here", @name = "reasonLeaving" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Add" />
                </div>

                @Html.HiddenFor(m => m.Id, new { @value = Model.Id })
            </form>
        </div>
    </div>
</div>



<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="~/Scripts/select2.full.min.js"></script>



<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    $(document).ready(function () {
            //BindReportingPersonDrp();
        if (@Model.Id > 0) {
            TableDatatablesColreorder.init();
        }

            $("#addWorkExperinceForm").submit(function (e) {
                e.preventDefault();
                var valdata = $("#addWorkExperinceForm").serialize();

                $.ajax({
                    url: "@Url.Action(Actions.AddWorkExperiance, Controllers.Employee)",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded',
                    data: addRequestVerificationToken(valdata),
                    success: function (data) {
                        if (data == true) {
                            ShowMessageToastr("success", "Work experience added successfully.");
                        }
                        else {
                            ShowMessageToastr("danger", "Failed to add work experience.");
                        }

                        $('#workExperienceTable').DataTable().ajax.reload();
                        $('#addWorkExpModal').modal('hide');
                    },
                    error: function (ex) {
                        ShowMessageToastr("danger", "Failed to add work experience.");
                        $('#workExperienceTable').DataTable().ajax.reload();
                        $('#addWorkExpModal').modal('hide');
                    }
                });
            });
        });

    function validateForm() {
        try {
            let FirstName = $('#FirstName').val();
            if (FirstName === NaN || FirstName === "") {
                ShowMessageToastr("danger", "First Name Can't be empty.");
                $("#FirstName").focus();
                return false;
            }

            let LastName = $('#LastName').val();
            if (LastName === NaN || LastName === "") {
                ShowMessageToastr("danger", "Last Name Can't be empty.");
                $("#LastName").focus();
                return false;
            }

            let Gender = $('#Gender').val();
            if (Gender === NaN || Gender === "") {
                ShowMessageToastr("danger", "Please select a gender.");
                $("#Gender").focus();
                return false;
            }

            let BirthDate = $('#BirthDate').val();
            if (BirthDate === NaN || BirthDate === "") {
                ShowMessageToastr("danger", "Birth Date Can't be empty.");
                $("#BirthDate").focus();
                return false;
            }

            let MobileNo = $('#Mobile').val();
            if (MobileNo === NaN || MobileNo === "") {
                ShowMessageToastr("danger", "Mobile No. Can't be empty.");
                $("#Mobile").focus();
                return false;
            }

            if (ValidateMobileNo(MobileNo) === false) {
                ShowMessageToastr("danger","Mobile No. should be accept only 10 digit.");
                $("#Mobile").focus();
                return false;
            }

            let EmergencyNumber = $('#EmergencyNumber').val();
            if (EmergencyNumber === NaN || EmergencyNumber === "") {
                ShowMessageToastr("danger", "Emergency No. Can't be empty.");
                $("#EmergencyNumber").focus();
                return false;
            }

            if (ValidateMobileNo(EmergencyNumber) === false) {
                ShowMessageToastr("danger", "Emergency No. should be accept only 10 digit.");
                $("#EmergencyNumber").focus();
                return false;
            }

            if (EmergencyNumber == MobileNo) {
                ShowMessageToastr("danger", "Emergency No. & Mobile No. can not be same.");
                $("#EmergencyNumber").focus();
                return false;
            }

            if (ValidateEmail($('#Email').val()) === false) {
                ShowMessageToastr("danger","Email is not in proper format.");
                $("#Email").focus();
                return false;
            }

            let Qualification = $('#Qualification').val();
            if (Qualification === NaN || Qualification === "") {
                ShowMessageToastr("danger", "Please select a Qualification.");
                $("#Qualification").focus();
                return false;
            }

            let JoiningDate = $('#JoiningDate').val();
            if (JoiningDate === NaN || JoiningDate === "") {
                ShowMessageToastr("danger", "Joining Date Can't be empty.");
                $("#JoiningDate").focus();
                return false;
            }

            let ConfirmationDate = $('#ConfirmationDate').val();
            if (ConfirmationDate === NaN || ConfirmationDate === "") {
                ShowMessageToastr("danger", "Confirmation Date Can't be empty.");
                $("#ConfirmationDate").focus();
                return false;
            }

            let Role = $('#Role').val();
            if (Role === NaN || Role === "") {
                ShowMessageToastr("danger", "Please select a Role.");
                $("#Role").focus();
                return false;
            }

            let Headquarter = $('#Headquarter').val();
            if (Headquarter === NaN || Headquarter === "") {
                ShowMessageToastr("danger", "Please select a Headquarter.");
                $("#Headquarter").focus();
                return false;
            }

            let Region = $('#Region').val();
            if (Region === NaN || Region === "") {
                ShowMessageToastr("danger", "Please select a Region.");
                $("#Region").focus();
                return false;
            }

            let PermanentAddressData_Address1 = $('#PermanentAddressData_Address1').val();
            if (PermanentAddressData_Address1 === NaN || PermanentAddressData_Address1 === "") {
                ShowMessageToastr("danger", "Please enter permanent address 1.");
                $("#PermanentAddressData_Address1").focus();
                return false;
            }

            let PermanentAddressData_Pincode = $('#PermanentAddressData_Pincode').val();
            if (PermanentAddressData_Pincode === NaN || PermanentAddressData_Pincode === "") {
                ShowMessageToastr("danger", "Please enter permanent address pincode.");
                $("#PermanentAddressData_Pincode").focus();
                return false;
            }

            let PermanentAddressData_State = $('#PermanentAddressData_State').val();
            if (PermanentAddressData_State === NaN || PermanentAddressData_State === "") {
                ShowMessageToastr("danger", "Please select a permanent state.");
                $("#PermanentAddressData_State").focus();
                return false;
            }

            let PermanentAddressData_City = $('#PermanentAddressData_City').val();
            if (PermanentAddressData_City === NaN || PermanentAddressData_City === "") {
                ShowMessageToastr("danger", "Please select a permanent City.");
                $("#PermanentAddressData_City").focus();
                return false;
            }

            let CurrentAddressData_Address1 = $('#CurrentAddressData_Address1').val();
            if (CurrentAddressData_Address1 === NaN || CurrentAddressData_Address1 === "") {
                ShowMessageToastr("danger", "Please enter current address 1.");
                $("#CurrentAddressData_Address1").focus();
                return false;
            }

            let CurrentAddressData_Pincode = $('#CurrentAddressData_Pincode').val();
            if (CurrentAddressData_Pincode === NaN || CurrentAddressData_Pincode === "") {
                ShowMessageToastr("danger", "Please enter current address pincode.");
                $("#CurrentAddressData_Pincode").focus();
                return false;
            }

            let CurrentAddressData_State = $('#CurrentAddressData_State').val();
            if (CurrentAddressData_State === NaN || CurrentAddressData_State === "") {
                ShowMessageToastr("danger", "Please select a current state.");
                $("#CurrentAddressData_State").focus();
                return false;
            }

            let CurrentAddressData_City = $('#CurrentAddressData_City').val();
            if (CurrentAddressData_City === NaN || CurrentAddressData_City === "") {
                ShowMessageToastr("danger", "Please select a current City.");
                $("#CurrentAddressData_City").focus();
                return false;
            }

            return true;
        }
        catch (e) {
            return false;
        }
    }


    function BindReportingPersonDrp() {
        debugger;
            $('#ReportingPerson').attr('disabled', true);

            $.ajax({
                type: "POST",
                url: "@Url.Action("ReportingPersonDrp", Controllers.Employee)",
                data: { RoleId: $('#selectRole').val()},
                dataType: "json",
                success: function (Result) {
                    debugger;
                    console.log('Servicedata', Result);
                    $("#ReportingPerson").html("");
                    $("#ReportingPerson").append($("<option></option>").val("").html("Select Service"));

                    for (var i = 0; i < Result.length; i++) {
                        if (Result.length > 0) {
                            $("#ReportingPerson").append($("<option></option>").val(Result[i].Id).html(Result[i].FirstName + Result[i].LastName));
                            $('#ReportingPerson').removeAttr("disabled");
                        }
                    }
                    $('.selectpicker').selectpicker('refresh');
                },
                error: function (Result) {

                }
            });
        }


    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#workExperienceTable');
        var urlParams = new URLSearchParams(window.location.search);
        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: "@Url.Action(Actions.BindWorkExperiance, Controllers.Employee, new { Area = "", Id= Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString())) })",
                type: "Get",
                data: BuildSearchCriteria(),
            },
            "columns": [
                { "title": "Company Name", "data": "CompanyName", "orderable": false },
                { "title": "Position", "data": "Position", "orderable": false },
                {
                    "title": "Joining Date", "data": "JoiningDate", "orderable": false,
                    "render": function (data, type, row) {
                        var date = row["JoiningDate"];
                        var mySubString = date.substring(
                            date.lastIndexOf("(") + 1,
                            date.lastIndexOf(")")
                        );
                        var resultdate = new Date(parseInt(mySubString));
                        return resultdate.getDate() + "/" + resultdate.getMonth() + "/" + resultdate.getFullYear();
                    },
                },
                {
                    "title": "Leaving Date", "data": "LeavingDate", "orderable": false,
                    "render": function (data, type, row) {
                        var date = row["LeavingDate"];
                        var mySubString = date.substring(
                            date.lastIndexOf("(") + 1,
                            date.lastIndexOf(")")
                        );
                        var resultdate = new Date(parseInt(mySubString));
                        return resultdate.getDate() + "/" + resultdate.getMonth() + "/" + resultdate.getFullYear();
                    },
                },
                { "title": "Salary", "data": "Salary", "orderable": false },
                { "title": "Reason For Leaving", "data": "LeavingReason", "orderable": false },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        return '<a href="javascript:void(0);" onclick="DeleteWorkExperience(' + row["Id"] +')" class="btn btn-soft-danger" role="button">Remove</a>';
                    },
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#UserTable")) {
                $('#UserTable').dataTable().fnDestroy();
                $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

        function ValidateMobileNo(MobileNo) {
            let regexMbile = /^[0-9]{10}$/;
            return regexMbile.test(MobileNo);
    }

        function ValidateEmail(mail) {
            var regexEmail = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            return regexEmail.test(mail);
    }

    $('#EmplyeeData #IsActive').change(function () {
        $(this).val($(this).prop('checked'));
    });


    jQuery(document).ready(function () {

        var addressproof = $("#AddressProof").val();
        if (addressproof != "" && addressproof != undefined) {
            $('#AddressProofPreview').removeClass();
            $('#AddressProofPreview').addClass("file-drop-preview img-thumbnail rounded");
            $('#AddressProofPreview').append('<img src="' + window.location.origin +"/" + addressproof + '" alt="AddressProof">');
        }

        var drivingproof = $("#DrivingLicense").val();
        if (drivingproof != "" && drivingproof != undefined) {
            $('#DrivingLicencePreview').removeClass();
            $('#DrivingLicencePreview').addClass("file-drop-preview img-thumbnail rounded");
            $('#DrivingLicencePreview').append('<img src="' + window.location.origin + "/" + drivingproof + '" alt="DrivingLicense">');
        }

        var fullPath = $("#Photo").val();
        if (fullPath != "" && fullPath != undefined) {
            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex+1);
            $('#avtarfilename').text(filename);
        }
    });

    $("#avatar").change(function () {
        if (this.files && this.files[0]) {
            $('#avtarfilename').text(this.files[0].name);
        }
    });

    function DeleteWorkExperience(Id) {
        $.ajax({
            url: '@Url.Action(Actions.DeleteWorkExperience, Controllers.Employee, new { area = "" })',
            data: addRequestVerificationToken({ Id: btoa(Id) }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                if (data == true) {
                    ShowMessageToastr("success", "Work experience deleted successfully.");
                }
                else {
                    ShowMessageToastr("danger", "Failed to delete work experience.");
                }

                $('#workExperienceTable').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger", "Failed to delete work experience.");
                $('#workExperienceTable').DataTable().ajax.reload();
            }
        });
    }
</script>
