﻿@using MR.Entities.V1;
@using MR.Pages;

@model MR.Entities.V1.Employee

@{
    ViewBag.Title = "Manage Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Employee Details</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = "" })">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Employee, new { Area = "" })">Employee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Employee Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-sm-row">
                    <div class="mr-3 mb-3">
                        <img class="img-fluid rounded shadow-3" src="~/@Model.Photo" alt="" width="120px" height="120px">
                    </div>

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap">
                            <div class="d-flex flex-column mb-3">
                                <h5>
                                    @Model.FirstName @Model.LastName
                                    @if (Model.IsActive)
                                    {
                                        <span class="badge badge-success ml-2">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger ml-2">In-Active</span>
                                    }
                                </h5>

                                <div class="row">
                                    <div class="col-auto mr-2">
                                        <ul class="list-unstyled mb-0">
                                            <li class="my-1"><span>Qualification </span> :  <span class="fw-medium text-black">@Model.Qualification</span></li>
                                            <li class="my-1"><span>HQ </span> : <span class="fw-medium text-black">@Model.HeadquarterName</span></li>
                                            <li class="my-1"><span>Region </span> : <span class="fw-medium text-black">@Model.RegionName</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-unstyled mb-0">
                                            <li class="my-1"><span>Gender </span> :  <span class="fw-medium text-black">@Model.Gender.ToString()</span></li>
                                            <li class="my-1"><span>Birthdate </span> : <span class="fw-medium text-black">@string.Format("{0:dd/MM/yyyy}", Model.Birthdate)</span></li>
                                            <li class="my-1"><span>Mobile </span> : <span class="fw-medium text-black">@Model.Mobile</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-start flex-wrap text-center mb-3">
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                                        <h6 class="mb-1">$6859.56</h6>
                                        <p class="fs-13 mb-0">Total Business</p>
                                    </div>
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                                        <h6 class="mb-1">2</h6>
                                        <p class="fs-13 mb-0">Total Full Leave</p>
                                    </div>
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2">
                                        <h6 class="mb-1">5</h6>
                                        <p class="fs-13 mb-0">Total Half Leave</p>
                                    </div>
                                </div>

                                <div class="text-lg-right">
                                    <a href="@Url.Action(Actions.ManageEmployee, Controllers.Employee, new { Area = "", empId = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString()))})" class="btn btn-primary">Edit Profile</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header-navs">
                <ul class="nav nav-lines" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="pill" href="#basicInfo" role="tab">Basic Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#employeementDetails" role="tab">Employment</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#workExperienceDetails" role="tab">Work Experience</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#assosiatedDoctorsTab" role="tab">Doctors</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#assosiatedChemistTab" role="tab">Chemists</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.FirstName @Model.LastName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Id</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Gender.ToString()</span>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Qualification</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Mobile</span>
                                </div>
                            </div>

                            @*<div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Phone</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Phone</span>
                                </div>
                            </div>*@

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Emergency Number</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.EmergencyNumber</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Email</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Email</span>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Birthdate </div>
                                <div class="text-dark">
                                    <span class="fw-medium">@string.Format("{0:dd/MM/yyyy}", Model.Birthdate)</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Anniversary</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@string.Format("{0:dd/MM/yyyy}", Model.Anniversary)</span>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.CurrentAddressString</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Permanent Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.PermanentAddressString</span>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="tab-pane fade" id="employeementDetails" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Joining Date</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@string.Format("{0:dd/MM/yyyy}", Model.JoiningDate)</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Confirmation Date</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@string.Format("{0:dd/MM/yyyy}", Model.ConfirmationDate)</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.RoleName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <span class="fw-medium d-block">@Model.ReportingPersonName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.RegionName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.HeadquarterName</span>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row mt-4">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Salary Amount</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.SalaryAmount</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Payment Mode</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.PaymentMode</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Bank Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.BankName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Bank Branch</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.BankBranch</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Account No.</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.BankAccountNo</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Bank IFSC Code</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.BankIFSCCode</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="workExperienceDetails" role="tabpanel">
                        <div class="table-responsive">
                            <table id="workExperienceTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="assosiatedDoctorsTab" role="tabpanel">
                        <div class="table-responsive">
                            <table id="doctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Doctor Name</th>
                                        <th>Gender</th>
                                        <th>Specialization</th>
                                        <th>Qualification</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#doctorDetailsModal" data-toggle="modal">
                                                <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Female</td>
                                        <td>Dentist</td>
                                        <td>MBBS</td>
                                        <td>8445845765</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#doctorDetailsModal" data-toggle="modal">
                                                <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                                William Muse
                                            </a>
                                        </td>
                                        <td>Male</td>
                                        <td>Dentist</td>
                                        <td>MBBS</td>
                                        <td>8445845765</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#doctorDetailsModal" data-toggle="modal">
                                                <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/3.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Female</td>
                                        <td>Dentist</td>
                                        <td>MBBS</td>
                                        <td>8445845765</td>
                                        <td><div class="badge badge-danger p-2">In-Active</div></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#doctorDetailsModal" data-toggle="modal">
                                                <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/4.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Male</td>
                                        <td>Dentist</td>
                                        <td>MBBS</td>
                                        <td>8445845765</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="assosiatedChemistTab" role="tabpanel">
                        <div class="table-responsive">
                            <table id="chemistList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Chemist Name</th>
                                        <th>Address</th>
                                        <th>Contact Person</th>
                                        <th>Business Potential</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#chemistDetailsModal" data-toggle="modal">Noble Medical Store</a>
                                        </td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td>
                                            <div class="text-black fw-medium ">Joann McDowell</div>
                                            <div class="fs-13">8445845765</div>
                                        </td>
                                        <td>$12465</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#chemistDetailsModal" data-toggle="modal">Noble Medical Store</a>
                                        </td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td>
                                            <div class="text-black fw-medium ">Joann McDowell</div>
                                            <div class="fs-13">8445845765</div>
                                        </td>
                                        <td>$12465</td>
                                        <td><div class="badge badge-danger p-2">In-active</div></td>
                                    </tr>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#chemistDetailsModal" data-toggle="modal">Noble Medical Store</a>
                                        </td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td>
                                            <div class="text-black fw-medium ">Joann McDowell</div>
                                            <div class="fs-13">8445845765</div>
                                        </td>
                                        <td>$12465</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#chemistDetailsModal" data-toggle="modal">Noble Medical Store</a>
                                        </td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td>
                                            <div class="text-black fw-medium ">Joann McDowell</div>
                                            <div class="fs-13">8445845765</div>
                                        </td>
                                        <td>$12465</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="" data-target="#chemistDetailsModal" data-toggle="modal">Noble Medical Store</a>
                                        </td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td>
                                            <div class="text-black fw-medium ">Joann McDowell</div>
                                            <div class="fs-13">8445845765</div>
                                        </td>
                                        <td>$12465</td>
                                        <td><div class="badge badge-success p-2">Active</div></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modals -->
<div class="modal fade" id="chemistDetailsModal" tabindex="-1" aria-labelledby="chemistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <span class="fw-medium">XYZ medical store</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <span class="fw-medium">45613</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <span class="fw-medium">Jhon Doe</span>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <span class="fw-medium">8445845765</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <span class="fw-medium">8445845765</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <span class="fw-medium">Ahmedabad</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <span class="fw-medium">South Ahmedabad</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <span class="fw-medium">$123045</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <span class="fw-medium">2842 Victoria Street</span>
                            <span class="fw-medium">Baton Rouge, LA 70806</span>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="./profile-chemist.html" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Joann</span>
                                    <span class="fw-medium">McDowell</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">45613</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Female</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Dentist</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">MMBS</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">8445845765</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">South Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <span class="fw-medium">$123045</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">2842 Victoria Street</span>
                                    <span class="fw-medium">Baton Rouge, LA 70806</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="">
                        <div class="badge badge-success p-2 mt-2">Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="./profile-doctor.html" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Add New Target Product -->
<div class="modal fade" id="addTargetProductModal" tabindex="-1" aria-labelledby="addTargetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTargetProductModalLabel">Add Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Mfg.</th>
                                <th>Qty.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>

                            </tr>
                            <tr>
                                <td>45612</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Himalaya Liv. 52 DS Tablet
                                    </a>
                                </td>
                                <td>Liver Care</td>
                                <td>Himalaya</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45610</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Carbamide Forte Milk Thistle Extract Tablet
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45611</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>





<script>

            $('#doctorList').DataTable( {
                responsive: true
            });


            $('#chemistList').DataTable( {
                responsive: true
            });

    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#workExperienceTable');
        var urlParams = new URLSearchParams(window.location.search);
        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: "@Url.Action(Actions.BindWorkExperiance, Controllers.Employee, new { Area = "", Id= Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString())) })",
                type: "Get",
                data: BuildSearchCriteria(),
            },
            "columns": [
                { "title": "Company Name", "data": "CompanyName", "orderable": false },
                { "title": "Position", "data": "Position", "orderable": false },
                {
                    "title": "Joining Date", "data": "JoiningDate", "orderable": false,
                    "render": function (data, type, row) {
                        var date = row["JoiningDate"];
                        var mySubString = date.substring(
                            date.lastIndexOf("(") + 1,
                            date.lastIndexOf(")")
                        );
                        var resultdate = new Date(parseInt(mySubString));
                        return resultdate.getDate() + "/" + resultdate.getMonth() + "/" + resultdate.getFullYear();
                    },
                },
                {
                    "title": "Leaving Date", "data": "LeavingDate", "orderable": false,
                    "render": function (data, type, row) {
                        var date = row["LeavingDate"];
                        var mySubString = date.substring(
                            date.lastIndexOf("(") + 1,
                            date.lastIndexOf(")")
                        );
                        var resultdate = new Date(parseInt(mySubString));
                        return resultdate.getDate() + "/" + resultdate.getMonth() + "/" + resultdate.getFullYear();
                    },
                },
                { "title": "Salary", "data": "Salary", "orderable": false },
                { "title": "Reason For Leaving", "data": "LeavingReason", "orderable": false },
                @*{
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var appendstring = '';
                        var url = '@Url.Action(Actions.DeleteWorkExperience, Controllers.Employee, new { Area = "" })';
                        appendstring += '<a  href="' + url + "?Id=" + Id + "&empId=" + btoa(row["EmployeeId"]) +'" class="btn btn-soft-danger">Remove</button>';
                        return appendstring;
                    },
                    "orderable": false,
                    "class": "action-icons"
                }*@
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#UserTable")) {
                $('#UserTable').dataTable().fnDestroy();
                $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    $(document).ready(function () {
        TableDatatablesColreorder.init();
    });
</script>