﻿@using MR.Pages;
@using MR.Entities.V1
@{
    ViewBag.Title = "Create Tourplan Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MR.Pages;
@model Employee
@Html.AntiForgeryToken()
<link href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" rel="stylesheet" />
<style>
    .showSweetAlert h2 {
        font-size: 17px;
    }
</style>

<div class="page-content">
    <div class="container-fluid">
        <form class="row justify-content-center">
            <div class="col-12 mb-3">
                <h5 class="fw-medium text-muted">Tour Plan for Date : <span class="fw-semibold text-black">01-07-2021</span></h5>
            </div>
            <div class="col-12">

                <!-- Work Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Work Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="workAtSelect">Work At</label>
                                    @Html.Raw(Html.DropDownList("MasterWorkAt", (IEnumerable<SelectListItem>)ViewBag.WorkAtName, "Select a work at", new { @Id = "MasterWorkAt", @class = "form-control selectpicker" }))
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="workTypeSelect">Work Type</label>
                                    @Html.Raw(Html.DropDownList("WorkType", (IEnumerable<SelectListItem>)ViewBag.WorkTypeName, "Select a work type", new { @Id = "WorkType", @class = "form-control selectpicker" }))
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="workRouteSelect">Work Route</label>
                                    @Html.Raw(Html.DropDownList("RouteName", (IEnumerable<SelectListItem>)ViewBag.RouteName, "Select a route", new { @multiple = "", @Id = "RouteName", @class = "form-control selectpicker" }))

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <!-- Calls -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Calls </h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <a href="" data-target="#addDrCallsModal" data-toggle="modal" class="btn btn-primary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Doctor</a>
                                <a href="" data-target="#addChemistCallsModal" data-toggle="modal" class="btn btn-primary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Chemist</a>
                            </div>
                            <div class="col-lg-6 text-right mb-3">
                                <a href="" data-target="#addFromPatchModal" data-toggle="modal" class="btn btn-secondary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add From Patch</a>
                                <a href="" data-target="#subordinatePlanningModal" data-toggle="modal" class="btn btn-secondary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add From Subordinate Planning</a>
                            </div>


                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="callsList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="javascript:;" onclick="updateWorkdetails();" class="btn btn-primary btn-wide">Add Tourplan</a>
                <a href="./create-tourplan.html" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        </form>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="addDrCallsModal" tabindex="-1" aria-labelledby="addDrCallsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDrCallsModalLabel">Add Doctor Calls</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table border rounded display nowrap" id="DrCallsList"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addDoctorbtn" onclick="addDoctor();">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addChemistCallsModal" tabindex="-1" aria-labelledby="addChemistCallsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addChemistCallsModalLabel">Add Calls</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="ChemistCallsList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addChemistbtn" onclick="addChamist();">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Joann</span>
                                    <span class="fw-medium">McDowell</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">45613</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Female</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Dentist</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">MMBS</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">8445845765</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">South Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <span class="fw-medium">$123045</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">2842 Victoria Street</span>
                                    <span class="fw-medium">Baton Rouge, LA 70806</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="./assets/images/avatar/1.jpg" alt="">
                        <div class="badge badge-success p-2 mt-2">Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="./profile-doctor.html" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="chemistDetailsModal" tabindex="-1" aria-labelledby="chemistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <span class="fw-medium">XYZ medical store</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <span class="fw-medium">45613</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <span class="fw-medium">Jhon Doe</span>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <span class="fw-medium">8445845765</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <span class="fw-medium">8445845765</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <span class="fw-medium">Ahmedabad</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <span class="fw-medium">South Ahmedabad</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <span class="fw-medium">$123045</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <span class="fw-medium">2842 Victoria Street</span>
                            <span class="fw-medium">Baton Rouge, LA 70806</span>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="./profile-chemist.html" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addJointWorkingModal" tabindex="-1" aria-labelledby="addJointWorkingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addJointWorkingModalLabel">Add Joint Working</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="jointWorkingList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Employee Name</th>
                                <th>Gender</th>
                                <th>Position</th>
                                <th>HQ</th>
                                <th>Region</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="./profile-employee.html">
                                        <span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                        Joann McDowell
                                    </a>
                                </td>
                                <td>Female</td>
                                <td>Sales Manager</td>
                                <td>Ahmedabad</td>
                                <td>South Ahmedabad</td>
                                <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="subordinatePlanningModal" tabindex="-1" aria-labelledby="subordinatePlanningModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subordinatePlanningModalLabel">Add From Subordinate Planning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="setEmployeeIdnull()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-between align-items-end">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="planningOf">Add Planning of</label>
                            @Html.Raw(Html.DropDownList("EmployeeId", (IEnumerable<SelectListItem>)ViewBag.EmployeeeDD, "Select employee name", new { @Id = "EmployeeId", @onchange = "BindEmployeeData();", @class = "form-control selectpicker" }))
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 text-right">
                        <div class="form-group">
                            <button class="btn btn-primary" onclick="addAllDoctorChamist();">Add All</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="AssociatedDoctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="addDoctorChamistbtn" onclick="addDoctorChamist();">Save</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addFromPatchModal" tabindex="-1" aria-labelledby="addFromPatchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFromPatchModalLabel">Add From Patch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-between align-items-end">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="planningOfday">Add Planning of</label>
                            <select class="form-control selectpicker" data-live-search="true" data-size="5" data-title="Select a day" id="planningOfday">
                                <option data-tokens="Day 1">Day 1</option>
                                <option data-tokens="Day 2">Day 2</option>
                                <option data-tokens="Day 3">Day 3</option>
                                <option data-tokens="Day 4">Day 4</option>
                                <option data-tokens="Day 5">Day 5</option>
                                <option data-tokens="...">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 text-right">
                        <div class="form-group">
                            <button class="btn btn-primary">Add All</button>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="addAssociatedDoctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Doctor / Chemist Name</th>
                                        <th>Call of</th>
                                        <th>HQ</th>
                                        <th>Region</th>
                                        <th>Address</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="./profile-doctor.html">
                                                <span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Doctor</td>
                                        <td>Ahmedabad</td>
                                        <td>South Ahmedabad</td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="./profile-doctor.html">
                                                <span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Doctor</td>
                                        <td>Ahmedabad</td>
                                        <td>South Ahmedabad</td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="./profile-doctor.html">
                                                <span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Doctor</td>
                                        <td>Ahmedabad</td>
                                        <td>South Ahmedabad</td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="./profile-doctor.html">
                                                <span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Doctor</td>
                                        <td>Ahmedabad</td>
                                        <td>South Ahmedabad</td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                                    </tr>

                                    <tr>
                                        <td>45613</td>
                                        <td>
                                            <a href="./profile-doctor.html">
                                                <span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                Joann McDowell
                                            </a>
                                        </td>
                                        <td>Doctor</td>
                                        <td>Ahmedabad</td>
                                        <td>South Ahmedabad</td>
                                        <td>
                                            <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                        </td>
                                        <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Scripts -->
<!-- Custom JS -->

<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script>
    $('#RouteName').attr({
        "data-live-search": "true",
        "data-selected-text-format": "count > 1",
        "data-max-options": "5",
        "data-size": "5"
    });
    $('#MasterWorkAt').attr({
        "data-size": "5"
    });
    $('#WorkType').attr({
        "data-size": "5"
    });
    function setEmployeeIdnull() {
        $('#EmployeeId').val();
    }

</script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    jQuery(document).ready(function () {
        TableDatatablesDrCallsList.init();
        TableDatatablesChemistCallsList.init();
        TableDatatablescallsList.init();
        TableDatatablesAssociatedDoctorList.init();
        drButtonDis();
        chemistButtonDis();
        getDrandChamistId();
        getTourPlanMonthData();
    });

    $('#ChemistLabel > input').on('change', function () {
        var checked = this.checked
        $('#ChemistText').html(checked.toString())
    });


    //DR call list datatable
    var TableDatatablesDrCallsList = function () {

        var initDrCallsList = function () {
        var table = $('#DrCallsList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.DrCallList, Controllers.TourPlan, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Id"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Doctor Name", "data": "FirstName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<a href="javascript:void(0)">
                                        <span class="avatar m-1">
                                            ${row["Photo"] == "" || row["Photo"] == null ?
                                                `<span class="avatar avatar-info m-1"><span class="avatar-initials">${row["FirstName"].charAt(0)}</span></span>` :
                                                `<img alt="avatar" src="${row["Photo"]}" class="rounded-circle" >`
                                             }
                                        </span>
                                        ${row["FirstName"]} ${row["LastName"]}
                                    </a>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Specialization", "data": "SpecializationName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["SpecializationName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "HQ", "data": "HeadquarterName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["HeadquarterName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Region", "data": "RegionName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["RegionName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Address", "data": "AddressString",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["AddressString"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Actions", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `
                        ${row["IsAdded"] == 0 ?
                            `<label class="btn btn-soft-primary btn-wide" role="button" id="DrLabel${row["Id"]}" for="Doctor${row["Id"]}"><input class="d-none" onchange="Doctor(this,${row["Id"]})" id="Doctor${row["Id"]}" type="checkbox" /><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i><span id="DrLabelText">Add</span></label>`:
                            `<label class="btn btn-soft-danger btn-wide" role="button" id="DrLabel${row["Id"]}" for="Doctor${row["Id"]}"><input class="d-none" onchange="DoctorRemove(this,${row["Id"]})" id="Doctor${row["Id"]}" type="checkbox" checked /><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i><span id="DrLabelText">Remove</span></label>`
                            }
                        `;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#DrCallsList")) {
                $('#DrCallsList').dataTable().fnDestroy();
            }
            initDrCallsList();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["TourPlanMonthId"] = @ViewBag.TourPlanDayId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    //Chemist call list datatable
    var TableDatatablesChemistCallsList = function () {
        var initChemistCallsList = function () {
            var table = $('#ChemistCallsList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.ChemistCallList, Controllers.TourPlan, new { area =""})',
                type: "post",
                data: ChemistCallsListSearch()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Id"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Chemist Name", "data": "Name",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<a href="javascript:void(0)">${row["Name"]}</a>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Contact Person", "data": "ContactPerson",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["ContactPerson"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "HQ", "data": "HeadquarterName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["HeadquarterName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Region", "data": "RegionName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["RegionName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Address", "data": "AddressString",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["AddressString"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Actions", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `
                            ${row["IsAdded"] == 0 ?
                                `<label class="btn btn-soft-primary btn-wide" role="button" id="ChemistLabel${row["Id"]}" for="Chemist${row["Id"]}"><input class="d-none" onchange="Chemist(this,${row["Id"]})" id="Chemist${row["Id"]}" type="checkbox" /><span id="ChemistText">Add</span></label>` :
                                `<label class="btn btn-soft-danger btn-wide" role="button" id="ChemistLabel${row["Id"]}" for="Chemist${row["Id"]}"><input class="d-none" onchange="ChemistRemove(this,${row["Id"]})" id="Chemist${row["Id"]}" type="checkbox" checked /><span id="ChemistText">Remove</span></label>`
                            }
                        `;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#ChemistCallsList")) {
                $('#ChemistCallsList').dataTable().fnDestroy();
            }
            initChemistCallsList();
        }

    };

}();

    function ChemistCallsListSearch() {
        try {
            var param = {};
            param["TourPlanMonthId"] = @ViewBag.TourPlanDayId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    //Remove chemist button function
    function ChemistRemove(checkbox, ChemistRemoveId) {
        Chemist(checkbox,ChemistRemoveId);
    }

    //ChemistArr push id
    var ChemistArr = [];
    function Chemist(checkbox, ChemistId) {
        console.log('ChemistArr', ChemistArr);
        if (checkbox.checked == true) {
            $('#ChemistLabel' + ChemistId).addClass('btn btn-soft-danger');
            $('#ChemistLabel' + ChemistId + '> #ChemistText').text('Remove');
            ChemistArr.push(ChemistId);
        } else {
            $('#ChemistLabel' + ChemistId).removeClass('btn btn-soft-danger');
            $('#ChemistLabel' + ChemistId).addClass('btn btn-soft-primary');
            $('#ChemistLabel' + ChemistId + '> #ChemistText').text('Add');
            for (i = 0; i < ChemistArr.length; i++) {
                if (ChemistArr[i] == ChemistId) {
                    ChemistArr.splice(i, 1);
                }
            }
        }
        chemistButtonDis();
    }

    //Remove doctor button function
    function DoctorRemove(checkbox, DoctorRemoveId) {
        Doctor(checkbox, DoctorRemoveId);
    }

    //DrArr push id
    var DrArr = [];
    function Doctor(checkbox, DoctorId) {
        if (checkbox.checked == true) {
            $('#DrLabel' + DoctorId).addClass('btn btn-soft-danger');
            $('#DrLabel' + DoctorId + '> #DrLabelText').text('Remove');
            DrArr.push(DoctorId);
        } else {
            $('#DrLabel' + DoctorId).removeClass('btn btn-soft-danger');
            $('#DrLabel' + DoctorId).addClass('btn btn-soft-primary');
            $('#DrLabel' + DoctorId + '> #DrLabelText').text('Add');
            for (i = 0; i < DrArr.length; i++) {
                if (DrArr[i] == DoctorId) {
                    DrArr.splice(i, 1);
                }
            }
        }
        drButtonDis();
    }

    function drButtonDis() {
        //Dr add button disabled
        var DrString = DrArr.toString();

        if (DrString == "") {
            $('#addDoctorbtn').prop("disabled", true);
        } else {
            $('#addDoctorbtn').prop("disabled", false);
        }
    }


    function chemistButtonDis() {
        //Dr add button disabled
        var ChemistString = ChemistArr.toString();

        if (ChemistString == "") {
            $('#addChemistbtn').prop("disabled", true);
        } else {
            $('#addChemistbtn').prop("disabled", false);
        }
    }


    function getDrandChamistId() {
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("DrChamistData", Controllers.TourPlan)",
            data: { TourPlanMonthId: @ViewBag.TourPlanDayId},
            dataType: "json",
            success: function (Result) {
                for (i = 0; i < Result.length; i++) {
                    if (Result[i].ChemistId != 0) {
                        ChemistArr.push(Result[i].ChemistId);
                    }
                    if (Result[i].DoctorId != 0) {
                        DrArr.push(Result[i].DoctorId);
                    }
                    //DrArr = [];

                }
                chemistButtonDis();
                drButtonDis();
            },
            error: function (Result) {

            }
        });

    }

    //Call call list datatable
    var TableDatatablescallsList = function () {
        var initcallsList = function () {
        var table = $('#callsList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.CallsList, Controllers.TourPlan, new { area =""})',
                type: "post",
                data: callsListSearch()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Id"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Doctor / Chemist Name", "data": "ChemistIdName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorId"] == 0 ? `${row["ChemistIdName"]}` : `${row["DoctorFirstName"]} ${row["DoctorLastName"]}` }`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Call Of", "data": "DoctorId",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorId"] == 0 ? 'Chemist' : 'Doctor'}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Joint Working", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<b>-</b>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Actions", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<a href="#!" class="btn btn-soft-danger border" type="button" onclick="callsDeleteConfirm(${row["Id"]})">Delete</a>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#callsList")) {
                $('#callsList').dataTable().fnDestroy();
            }
            initcallsList();
        }

    };

}();

    function callsListSearch() {
        try {
            var param = {};
            param["TourPlanMonthId"] = @ViewBag.TourPlanDayId;
            param["EmployeeId"] = @ViewBag.EmployeeeId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    //addChamistandDr
    function addChamist() {
        $.ajax({
            url: "/TourPlan/ChemistAdd",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: 0,
                TourPlanMonthId: @ViewBag.TourPlanDayId,
                ChemistIds: ChemistArr.toString(),
                DoctorIds:0
            }),
            success: function (response) {

                $('#addDrCallsModal').modal('hide');
                $('#addChemistCallsModal').modal('hide');
                swal({
                    title: response.Message,
                    type: "success",
                    showCancelButton: false,
                }, function () {
                    TableDatatablesDrCallsList.init();
                    TableDatatablesChemistCallsList.init();
                    TableDatatablescallsList.init();
                });
            },
            error: function (response) {
                $('#addDrCallsModal').modal('hide');
                $('#addChemistCallsModal').modal('hide');
            }
        });
    }

    //addChamistandDr
    function addDoctor() {
        $.ajax({
            url: "/TourPlan/DoctorAdd",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: 0,
                TourPlanMonthId: @ViewBag.TourPlanDayId,
                DoctorIds: DrArr.toString(),
                ChemistIds:0
            }),
            success: function (response) {

                $('#addDrCallsModal').modal('hide');
                $('#addChemistCallsModal').modal('hide');
                swal({
                    title: response.Message,
                    type: "success",
                    showCancelButton: false,
                }, function () {
                    TableDatatablesDrCallsList.init();
                    TableDatatablesChemistCallsList.init();
                    TableDatatablescallsList.init();
                });
            },
            error: function (response) {
                $('#addDrCallsModal').modal('hide');
                $('#addChemistCallsModal').modal('hide');
            }
        });
    }

    //callsDelete confirm
    function callsDeleteConfirm(callId) {
        swal({
            title: 'Are you sure this call deleted ?',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: false,
        }, function () {
            callsDelete(callId);
        });
    }

    function callsDelete(callId) {
        $.ajax({
                type: 'POST',
                url: "@Url.Action(Actions.CallsDelete, Controllers.TourPlan)",
                async: false,
                data: ({ Ci: callId }),
                dataType: 'json',
            success: function (response) {
                    swal({
                        title: response,
                        type: "success",
                        showCancelButton: false,
                    }, function () {
                        TableDatatablesDrCallsList.init();
                        TableDatatablesChemistCallsList.init();
                        TableDatatablescallsList.init();
                    });
                },
                error: function (response) {
                    confirm('');                    swal({
                        title: 'An error occured ! Please try again.',
                        type: "error",
                        showCancelButton: false,
                    }, function () {
                        TableDatatablescallsList.init();
                    });
                }
            });
    }


    //Work details update
    function updateWorkdetails() {
        var masterRouteName= [];
        $("#RouteName :selected").each(function () {
            masterRouteName.push($(this).val());
        });
        var MasterRouteName = array = masterRouteName + ""
        $.ajax({
            url: "/TourPlan/WorkDetailsUpdate",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id:  @ViewBag.TourPlanDayId,
                WorkAtId: $('#MasterWorkAt').val(),
                WorkTypeId: $('#WorkType').val(),
                WorkRouteIds: MasterRouteName
            }),
            success: function (response) {
                debugger;
                swal({
                    title: response.Message,
                    type: "success",
                    showCancelButton: false,
                }, function () {
                    window.location.href = "/TourPlan/CreateTourPlan";
                });
            },
            error: function (response) {
                debugger;
            }
        });
    }

    //GetTourPlanMonthData
    function getTourPlanMonthData() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetTourPlanMonthData", Controllers.TourPlan)",
            data: { Id: @ViewBag.TourPlanDayId},
            dataType: "json",
            success: function (Result) {
                console.log(Result);
                debugger;
                $('#MasterWorkAt').selectpicker('val', Result.Item.WorkAtId);
                $('#WorkType').selectpicker('val', Result.Item.WorkTypeId);

                var RouteNameArr = Result.Item.WorkRouteIds;
                if (RouteNameArr !=  null) {
                    var RouteNameArrsplit = RouteNameArr.split(',');
                }

                $('#RouteName').selectpicker('val', RouteNameArrsplit);
            },
            error: function (Result) {
                debugger;
            }
        });
    }

    //Remove doctor button function
    function DoctorChamisRemove(checkbox, DoctorRemoveId) {
        DoctorChamis(checkbox, DoctorRemoveId);
    }

    var DoctorChamisArr = [];
    var DrIds = [];
    var CheIds = [];
    function DoctorChamis(checkbox, Id, DoctorId) {
        if (checkbox.checked == true) {
            $('#DrchLabel' + Id).addClass('btn btn-soft-danger');
            $('#DrchLabel' + Id + '> #DrchLabelText').text('Remove');
            DoctorId == 0 ? CheIds.push(Id) : DrIds.push(Id);
            DoctorChamisArr.push(Id);
        } else {
            $('#DrchLabel' + Id).removeClass('btn btn-soft-danger');
            $('#DrchLabel' + Id).addClass('btn btn-soft-primary');
            $('#DrchLabel' + Id + '> #DrchLabelText').text('Add');
            for (i = 0; i < DoctorChamisArr.length; i++) {
                if (DoctorChamisArr[i] == Id) {
                    DoctorChamisArr.splice(i, 1);
                }
            }
        }
        doctorChamistbtnButtonDis();
    }

     function addAllDoctorChamist() {
        var c = [];
        var d = [];
         $.ajax({
            type: "POST",
            url: "@Url.Action("DrChamistData", Controllers.TourPlan)",
            data: { TourPlanMonthId: $("#EmployeeId").val()},
            dataType: "json",
            success: function (Result) {
                for (i = 0; i < Result.length; i++) {
                    if (Result[i].ChemistId != 0) {
                        c.push(Result[i].ChemistId);
                    }
                    if (Result[i].DoctorId != 0) {
                        d.push(Result[i].DoctorId);
                    }
                }
                doctorChamistbtnButtonDis();
                   $.ajax({
                        url: "/TourPlan/DoctorAdd",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: ({
                            Id: 0,
                            TourPlanMonthId: @ViewBag.TourPlanDayId,
                            DoctorIds: d.toString(),
                            ChemistIds: 0
                        }),
                        success: function (response) {
                           $.ajax({
                             url: "/TourPlan/ChemistAdd",
                                type: "POST",
                                dataType: 'json',
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                data: ({
                                    Id: 0,
                                    TourPlanMonthId: @ViewBag.TourPlanDayId,
                                    DoctorIds:0,
                                    ChemistIds: c.toString()
                                }),
                                success: function (response) {
                                    $('#subordinatePlanningModal').modal('hide');
                                    swal({
                                        title: response.Message,
                                        type: "success",
                                        showCancelButton: false,
                                    }, function () {
                                        TableDatatablesDrCallsList.init();
                                        TableDatatablesChemistCallsList.init();
                                        TableDatatablescallsList.init();
                                    });
                                },
                                error: function (response) {
                                    $('#subordinatePlanningModal').modal('hide');
                                }
                        });
                                },
                                error: function (response) {
                                    $('#subordinatePlanningModal').modal('hide');
                                }
                           });
            },
            error: function (Result) {

            }
        });
    }

    function addDoctorChamist() {
        $.ajax({
            url: "/TourPlan/DoctorAdd",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: ({
                Id: 0,
                TourPlanMonthId: @ViewBag.TourPlanDayId,
                DoctorIds: DrIds.toString(),
                ChemistIds: 0
            }),
            success: function (response) {
                    $.ajax({
                             url: "/TourPlan/ChemistAdd",
                                type: "POST",
                                dataType: 'json',
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                data: ({
                                    Id: 0,
                                    TourPlanMonthId: @ViewBag.TourPlanDayId,
                                    DoctorIds: 0,
                                    ChemistIds: CheIds.toString()
                                }),
                                success: function (response) {
                                    $('#subordinatePlanningModal').modal('hide');
                                    swal({
                                        title: response.Message,
                                        type: "success",
                                        showCancelButton: false,
                                    }, function () {
                                        TableDatatablesDrCallsList.init();
                                        TableDatatablesChemistCallsList.init();
                                        TableDatatablescallsList.init();
                                    });
                                },
                                error: function (response) {
                                    $('#subordinatePlanningModal').modal('hide');
                                }
                        });
            },
            error: function (response) {
                $('#subordinatePlanningModal').modal('hide');
            }
        });
    }

    function doctorChamistbtnButtonDis() {
        var DrString = DoctorChamisArr.toString();
        if (DrString == "") {
            $('#addDoctorChamistbtn').prop("disabled", true);
        } else {
            $('#addDoctorChamistbtn').prop("disabled", false);
        }
    }

    function AssociatedDoctorList() {
        try {
            var param = {};
            param["TourPlanMonthId"] = @ViewBag.TourPlanDayId;
            param["EmployeeId"] = $("#EmployeeId").val();
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function BindEmployeeData() {
       TableDatatablesAssociatedDoctorList.init();
    }

    // associated Doctor list datatable
    var TableDatatablesAssociatedDoctorList = function () {
        var initAssociatedDoctorList = function () {
        var table = $('#AssociatedDoctorList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.CallsList, Controllers.TourPlan, new { area =""})',
                type: "post",
                data: AssociatedDoctorList()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Id"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Doctor / Chemist Name", "data": "ChemistIdName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorId"] == 0 ? `${row["ChemistIdName"]}` : `${row["DoctorFirstName"]} ${row["DoctorLastName"]}` }`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Call Of", "data": "DoctorId",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorId"] == 0 ? 'Chemist' : 'Doctor'}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Joint Working", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<b>-</b>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Actions", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `
                        ${row["IsAdded"] != 0 ?
                            `<label class="btn btn-soft-primary btn-wide" role="button" id="DrchLabel${row["Id"]}" for="DoctorChamis${row["Id"]}"><input class="d-none" onchange="DoctorChamis(this,${row["Id"]},${row["DoctorId"]})" id="DoctorChamis${row["Id"]}" type="checkbox" /><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i><span id="DrchLabelText">Add</span></label>` :
                            `<label class="btn btn-soft-danger btn-wide" role="button" id="DrchLabel${row["Id"]}" for="DoctorChamis${row["Id"]}"><input class="d-none" onchange="DoctorChamis(this,${row["Id"]},${row["DoctorId"]})" id="DoctorChamis${row["Id"]}" type="checkbox" checked /><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i><span id="DrchLabelText">Remove</span></label>`
                            }
                        `;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
            ],
            "buttons": [
                {

                },

            ],
            responsive: true,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        });
        }

        //main function to initiate the module

    return {
        init: function () {
            if ($.fn.DataTable.isDataTable("#AssociatedDoctorList")) {
                $('#AssociatedDoctorList').dataTable().fnDestroy();
            }
            initAssociatedDoctorList();
        }

    };

}();


</script>