﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<link href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" rel="stylesheet" />
<style>
    .showSweetAlert h2 {
        font-size:17px;
    }
</style>


<!-- Page Title -->
<div class="page-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Create Tour Plan</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","TourPlan")">Tourplan</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create Tour Plan</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <form class="row justify-content-center">
            <div class="col-12">
                <div class="card table-responsive mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Tour Plan for July - 2021</h5>
                    </div>
                    <div class="card-body">
                        <table class="table border rounded display nowrap" id="TourPlanList"></table>
                    </div>
                </div>

            </div>

            <div class="col-12 text-center" id="tourPlanbuttons">
                <a href="javascript:;" class="btn btn-primary btn-wide" onclick="CreateTourPlan(true);">Submit Tourplan</a>
                <a href="#!" class="btn bg-white border btn-wide" onclick="CreateTourPlan(false);">Save as draft</a>
                <a href="@Url.Action("Index","TourPlan")" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        </form>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="viewCallsListModal" tabindex="-1" aria-labelledby="viewCallsListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewCallsListModalLabel">View Calls List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="card-body">
                        <table class="table border rounded display nowrap" id="viewCallsList"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Scripts -->
<!-- Custom JS -->

<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>

     jQuery(document).ready(function () {
         TableDatatablesColreorder.init();
         TableViewlistDc.init();
         TourPlanIsSubmitted();
    });

    var TableDatatablesColreorder = function () {
    var initTable1 = function () {
        var table = $('#TourPlanList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.TourPlanMonthData, Controllers.TourPlan, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Date", "data": "Date",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Date"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Day", "data": "Day",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Day"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "WorkType", "data": "WorkTypeName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["WorkTypeName"] == null || row["WorkTypeName"] == "" ? '-' : row["WorkTypeName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Work At", "data": "WorkAtName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["WorkAtName"] == null || row["WorkAtName"] == "" ? '-' : row["WorkAtName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Work Routes", "data": "WorkRouteIdsName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["WorkRouteIdsName"] == null || row["WorkRouteIdsName"] == "" ? '-' : row["WorkRouteIdsName"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Work With", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<b>-</b>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Action", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${@ViewBag.IsSubmitted == 1 ?
                                `<a href="javascript:;" class="btn btn-soft-primary" onclick="ViewlistDc('${btoa(row["Id"])}')">View Doctor / Chemist</a>`
                                :
                                `<a href="@Url.Action("CreateTourplanSingle","TourPlan")?TourPlanId=${btoa(row["Id"])}" class="btn btn-soft-primary border">Edit</a>`
                            }`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#TourPlanList")) {
                $('#TourPlanList').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["TourPlanId"] = 1;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    //Create tour plan
    //GetTourPlanMonthData
    function CreateTourPlan(SaveType) {
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        //Tour submit current date
        var currentDate = new Date();
        var UpcommingMonthName = monthNames[currentDate.getMonth() + 1];
        var date = new Date(),
            yr = date.getFullYear(),
            month = date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth(),
            day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate(),
            newDate = day + '/' + month + '/' + yr;

        //this month get last date
        var lastDay = new Date(currentDate.getFullYear(), date.getMonth() + 1, 0);
        lastyr = lastDay.getFullYear();
        lastmonth = lastDay.getMonth() < 10 ? '0' + lastDay.getMonth() : lastDay.getMonth();
        lastday = lastDay.getDate() < 10 ? '0' + lastDay.getDate() : lastDay.getDate();
        var monthLastDate = lastday + '/' + lastmonth + '/' + lastyr;

         $.ajax({
            type: "POST",
            url: "@Url.Action("CreatetourPlan", Controllers.TourPlan)",
            data: ({
                Id: @ViewBag.TourPlansId,
                Month: UpcommingMonthName,
                SubmittedDate: newDate,
                LastDate: monthLastDate
            }),
             dataType: "json",
             crossDomain: true,
            success: function (Result) {

                if (Result.Code == 200) {
                    swal(Result.Message, '', "success");
                }
                SubmittedTourPlan(Result.Item.Id, SaveType);
            },
            error: function (error) {

                //swal("Error!", error.Message, "error");
            }
        });
    }

    //Submitted Tour Plan
    function SubmittedTourPlan(TourPlanId, SaveType) {
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("IsSubmittedTour", Controllers.TourPlan)",
            data: ({
                    Id: TourPlanId,
                    IsSubmitted: SaveType
                  }),
            dataType: "json",
            success: function (Result) {
                if (Result.Code == 200) {
                    setTimeout(function () {
                        window.location.href = `/TourPlan/Index`
                    }, 3000);
                } else {
                    swal({
                        title: Result.Message,
                        type: "error",
                        showCancelButton: false,
                    }, function () {
                        
                    });
                }
            },
            error: function (error) {

            }
        });
    }

    //Get tour plan data issubbmit
    function TourPlanIsSubmitted() {

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetTourPlanData", Controllers.TourPlan)",
            data: {Id: @ViewBag.TourPlansId},
            dataType: "json",
            success: function (Result) {
                if (Result.Item != 'null') {
                    //if (Result.Item.IsSubmitted == 1) {
                    //    $('#tourPlanbuttons').hide();
                    //} else {
                    //    $('#tourPlanbuttons').show();
                    //}
                } else if (Result.Item == 'null') {

                }
            },
            error: function (error) {
                debugger;
            }
        });
    }

    

    var TableViewlistDc = function () {
    var initViewlistDc = function () {
        var table = $('#viewCallsList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
             "ajax": {
                async: true,
                url: '@Url.Action(Actions.CallsList, Controllers.TourPlan, new { area =""})',
                type: "post",
                 data: BuildSearchViewCallsList()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["Id"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Doctor / Chemist Name", "data": "ChemistIdName",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorId"] == 0 ? `${row["ChemistIdName"]}` : `${row["DoctorFirstName"]} ${row["DoctorLastName"]}`}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Calls type", "data": "DoctorId",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorId"] == 0 ? 'Chemist' : 'Doctor'}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "HQ", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<b>-</b>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Region", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<b>-</b>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
                {
                    "title": "Address", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `${row["DoctorAddressId"] == null || row["DoctorAddressId"] == "" ?
                            `${row["ChemistAddress"]}`
                            :
                            `${row["DoctorAddress"]}`
                            }`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%",
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#viewCallsList")) {
                $('#viewCallsList').dataTable().fnDestroy();
            }
            initViewlistDc();
        }

    };

}();

//ViewlistDc list
var TourPlanMonthId = 0;
function ViewlistDc(TourPlanMonthIds) {
    TourPlanMonthId = TourPlanMonthIds;
    TableViewlistDc.init();
    $('#viewCallsListModal').modal('show');
}
   
function BuildSearchViewCallsList() {
    debugger;
    try {
        var param = {};
        param["TourPlanMonthId"] = atob(TourPlanMonthId);
        return addRequestVerificationToken(param);
    } catch (e) { }
}

function addRequestVerificationToken(data) {
    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
    return data;
}

</script>