
.avatar {
    position: relative;
    display: inline-block;
    min-width: 2.625rem;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 6.25rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.avatar-sm{
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
    }
}

.avatar-indicators{
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        border: 2px solid $white;
        display: table
    }
}


@each $color, $value in $theme-colors {
    .avatar-#{$color} {
        color: $white;
        background-color: $value;

        &::before{
            background-color: $value;
        }
    }
  }
  

  .avatar-initials{
    border-radius: 6.25rem;
    font-size: 1.2rem;
    color: inherit;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }