


.breadcrumb{


    .breadcrumb-item{
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.sticky-breadcrumb{
    @include media-breakpoint-up(lg){
        position: sticky;
        top: 3.8125rem;
        z-index: 100;
    }
}