

.btn-icon{
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 6.25rem;
    color: $gray-600;
}

.btn-wide{
  min-width: 5rem;
}

.btn{
  box-shadow: none;

  &.btn-link{
    font-weight: $font-weight-medium;

    &:hover{
      text-decoration: none;
    }
  }

  &:focus,
  &:active{
    box-shadow: none;
    outline: none !important;
  }
}

// Hover button with faded backround btn-variant-loops
@each $color, $value in $theme-colors {
  .btn-hover-#{$color} {
    @include button-hover-variant($value, $value);
  }
}

// Soft button with faded backround btn-variant-loops
@each $color, $value in $theme-colors {
  .btn-soft-#{$color} {
    @include button-soft-variant($value, $value);
  }
}