



.card-header-navs{
    margin-bottom: 0; 
    color: $card-cap-color;
    background-color: $white;
    border-bottom: $card-border-width solid $card-border-color;


    &:first-child {
        @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
      }
}