
.dropdown-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0.75rem 1rem;
    border-radius: $dropdown-border-radius $dropdown-border-radius 0 0;
    background-color: $gray-100;
}



// Profile Dropdown
.dropdown-profile{

    .dropdown-menu{
        padding: 0;
        width: 15rem;
    }
    
}


// Notification Dropdown
.dropdown-notification{

    @include media-breakpoint-down(sm) {
        position: static !important;
    }

    .dropdown-menu{
        padding: 0;
        width: 22rem;
        max-height: 25rem;

        @include media-breakpoint-down(sm) {
            width: 100% !important;
            max-width: 100% !important;
            margin-top: -0.6rem; 
        }
    }

  

    .list-group-flush{
        p{
            @extend .fs-13;
            line-height: 1.4;
        }

        span{
            @extend .fs-12;
        }

        .list-group-item{
            &:hover{
                background-color: $gray-100;
            }

            &.unread{
                background-color: lighten($color: $primary, $amount: 36%);
            }
        }
    }
    
}

