

.custom-label{
    font-weight: $font-weight-medium;
    font-size: 0.8125rem;
    display: block;
}

.bootstrap-select{

    .btn-light{
        border-color: $gray-400;
        color: $gray-700;
        background-color: transparent;

        &:focus,
        &:active{
            background-color: transparent !important;
            box-shadow: none !important;
            outline: none !important;
        }
    }
}





.form-switch{
    display: flex;
    align-items: center;
}


.form-switch-input{
  
    height: 1.5rem;
    width: 2.75rem;
    border-radius: 2em;
    float: left;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    appearance: none;
    -webkit-print-color-adjust: exact;
    transition: background-position .15s ease-in-out;

    @media (prefers-reduced-motion:reduce) {
        transition: none
    }

    &:focus {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23377dff'/%3E%3C/svg%3E")
    }

    &:checked {
        background-position: 100%;
        background-color: $primary;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E")
    }

}



.form-switch-label{
    margin-bottom: 0;
    margin-left: 0.5rem;
}


.file-icon-video{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z' /%3E%3C/svg%3E");
}

.file-icon-upload{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12' /%3E%3C/svg%3E");
}

.file-icon-document{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
}


.file-drop-area {
    position: relative;
    padding: ($spacer * 2) $spacer;
    transition: $input-transition;
    border: ($input-border-width * 2) dashed $input-border-color;
    border-radius: $border-radius;
    background-color: $input-bg;
    text-align: center;
    cursor: pointer;
  
    .file-drop-input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      opacity: 0;
      outline: none;
      cursor: pointer;
      z-index: 2;
    }
  
    .file-drop-icon {
      display: block;
      margin-bottom: .75rem;
      color: $gray-500;
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
    }
  
    .file-drop-preview {
      max-width: 16rem;
      margin: {
        right: auto;
        bottom: .75rem;
        left: auto;
      }

      img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  
    .file-drop-message {
      display: block;
      margin-bottom: 1.25rem;
    }
  
    .btn {
      position: relative;
      z-index: 3;
    }
  
    &:hover {
      border-color: darken($input-border-color, 7%);
    }
  }
  


.form-control-inline{
  display: inline-block;
  width: 4.375rem;
  font-weight: $font-weight-semibold;
}