.list-group-item{
    &.active{
        font-weight: $font-weight-medium;
    }
}

.list-group-minimal{
    .list-group-item{
        &.active{
            background-color: #f3f7ff;
            border-color: $border-color;
            color: $primary;
            font-weight: $font-weight-medium;
        }
    }
}