

.page-breadcrumb{
    background-color: $white;
    border-bottom: 1px solid $border-color;
    box-shadow: $box-shadow-2;
}

.page-content{
    margin: 1rem 0;
}

.sticky-panel-top{
    position: -webkit-sticky;
    position: sticky;
    top: 4.375rem;
    z-index: 1020;
}

.splitted-column{    
    background: $white;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    height: 0;
    
    
    @include media-breakpoint-up(lg){
        transform: translateX(0);
        display: block;
        padding: 1rem;
        position: relative;
        min-height: calc(100vh - 107px);
        max-height: calc(100vh - 107px);
        width: 24rem;
        position: fixed;
        left: 0;
        top: 107px;
        bottom: 0;
        border-right: 1px solid $border-color;
        transition: transform 0.2s ease;

        & + .container-fluid{
            padding-left: 25rem;
        }
    }
}

body{
    &.splitted-column-show{

        .splitted-column{
            @include media-breakpoint-down(md){
                position: fixed;
                overflow-y: auto;
                top: 0;
                left: 0;
                bottom: 0;
                padding: 0.5rem;
                z-index: 1050;
                display: block;
                transform: translateX(0);
                width: 80%;
                height: auto;
                transition: transform 0.2s ease;
            }
        }

        .navbar-backdrop{
            z-index: 1020;
        }
    }
}

.column-region{
    background: $white;
    padding: 1rem;
    width: 100%;

    @include media-breakpoint-up(lg){
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: calc(100vh - 107px);
        max-height: calc(100vh - 107px);
        width: 15rem;
        position: fixed;
        left: 0;
        top: 107px;
        bottom: 0;
        border-right: 1px solid $border-color;
        transition: transform 0.2s ease;
    }
}

body{
    &.column-region-open{
        .column-region-content{
            

            @include media-breakpoint-down(lg){
                display: block;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1060;
                overflow-y: auto;
                background: $white;
            }
        }
    }
}

.column-region-content{
   display: none;

    @include media-breakpoint-up(lg){
        padding-left: 15rem;
        display: flex;
        flex: 1 1 100%;
    }
}


