@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  $postfix: if($infix !="", $infix + "-down", "");

  @include media-breakpoint-down($breakpoint) {
    .modal-fullscreen#{$postfix} {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;

      .modal-content {
        height: 100%;
        border: 0;
        @include border-radius(0);
      }

      .modal-header {
        @include border-radius(0);
      }

      .modal-body {
        overflow-y: auto;
      }

      .modal-footer {
        @include border-radius(0);
      }
    }
  }
}




.modal-dialog-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  border-width: 0px;

  .modal-content {
    min-height: 100%;
    border-width: 0;
    border-radius: 0;
  }

  &.modal-dialog-scrollable {
    max-height: 100% !important;
  }
}

.modal{

  .modal-title{
    letter-spacing: -0.02em;
  }
  
  &.fade {
    .modal-dialog-right {
      transform: translate(25%, 0);
    }
  }

  &.show .modal-dialog {
    transform: translate(0, 0);
  }

}



