

.nav-lines{
    position: relative;


    .nav-link{
        color: $gray-500;
        border-bottom: 3px solid transparent;
        padding: .8rem 0;
        margin: 0 1rem;
        font-weight: $font-weight-semibold;
        &:hover{
            border-color: $primary;
        }

        &.active{
            color: $primary;
            border-color: $primary;
            
        }
    }
    
}


.nav-cards-style{


    
    .nav-link{
        border-radius: $border-radius;
        padding: {
            top: 1rem;
            bottom: 1rem;
        };   
        border: 1px solid transparent;
        
        p,
        svg{
            color: $gray-600;
        }
        
        &.active{
            border-color: $border-color;
            background-color: lighten($color: $primary, $amount: 35%);

            h6,
            svg{
                color: $primary;
            }

            p{
                color: $gray-800;
            }
            
        }

        
    }
}