header{
    z-index: 1025 !important;
}

.navbar{

    .nav-link{
        font-weight: $font-weight-medium;
    }
    
    .make-me-offcanvas{
        @include media-breakpoint-down(sm){
            position: fixed;
            top: 0;
            bottom: 0;
            left: -16.25rem;
            min-height: 100vh;
            background-color: $white;
            width: 16.25rem;
            z-index: 100;
            overflow-y: auto;
            border-right: 1px solid $border-color;
            transition: left 0.3s ease;

            .dropdown-menu{
                border: 0;
                background-color: $gray-100;
                border-radius: 0;
            }

            &.show{
                left: 0;
            }

            .nav-link{
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

}

// Navbar Brand
.navbar-brand{
    margin-right: 0;
    margin-left: $navbar-padding-x;
}


// Navbar Bordered
.navbar-bordered {
    border-width: 0 0 $navbar-border-width 0;
    border-style: $navbar-border-type;
    border-color: $navbar-border-color;
}


.navbar-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: $modal-backdrop-bg;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
}
