

.slick-slide{
    cursor: pointer;
}

.slider-for{
    img{
        max-height: 18.75rem;
        width: auto;
        margin: 0 auto;
    }
}
.slider-nav{
    img{
        max-height: 6.25rem;
        width: auto;
        margin: 0 auto;
    }
}