
.note-frame{
    border-radius: $border-radius;

    &.fullscreen{
        bottom: 0;
        background-color: $white;
    }
}


.note-toolbar{
    border-bottom: 1px solid $border-color;
    background-color: $gray-100;
    border-radius: $border-radius $border-radius 0 0;

    .note-btn{
        border: 1px solid $border-color;
    }

    .note-icon-caret{
        display: none;
    }

    a{
        color: inherit;
        display: block;
        padding: 0.25rem 1rem;

        blockquote,
        pre{
            padding: 0 !important;
        }

        &:hover{
            text-decoration: none;
        }
    }

    .note-dropdown-menu{
        min-width: 12.5rem !important;

        
    }
}
