.table-sm {
    th {
        padding: $table-cell-padding $table-cell-padding-sm;
    }
}

.table-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    border-radius: 4px;
    border: 1px solid $border-color;
    box-shadow: $box-shadow-2;

    .table-bordered {
        border: 0;
    }

    .table {
        margin-bottom: 0;

        tr:first-child th {
            border-top: none;

            &:first-child {
                border-top-left-radius: 4px;
            }
        }

        tr:first-child td {
            border-top: none;
        }

        th,
        td {
            vertical-align: middle;
            white-space: nowrap;
        }

        thead {
            th {
                background-color: $gray-100;
                border-color: $gray-300;
                font-size: 12px;
                line-height: 1.2;
                letter-spacing: 0.1em;
                color: $gray-600;
                text-transform: uppercase;
                font-weight: 700;

                .bootstrap-select {
                    padding: 0;
                }

                .dropdown-menu {
                    letter-spacing: 0;
                    font-size: $font-size-sm;
                    text-transform: initial;
                }
            }


        }

        .item-description {
            overflow: hidden !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical;
            font-weight: 400;
            font-size: 0.75rem;
            color: $gray-600;
            margin-top: 5px;
            max-width: 18rem;
        }
    }
}

table.dataTable td {
    vertical-align: middle;
}

.table th {
    font-weight: 600;
}

table.dataTable>tbody>tr.child span.dtr-title {
    font-weight: $font-weight-semibold;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    font-family: inherit;
    line-height: 1;
    box-shadow: none;
}


.table-rights {

    tr {
        td {
            &:not(:first-child) {
                background-color: $gray-100;
            }
        }
    }
}


table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
    top: 50%;
    height: 1rem;
    width: 1rem;
    transform: translate(50%, -50%);
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
    content: "✓";
    font-size: 16px;
    margin-top: 0;
    top: 40%;
    text-shadow: none;
    left: 50%;
}

table.dataTable.stripe tbody>tr.odd.selected,
table.dataTable.stripe tbody>tr.odd>.selected,
table.dataTable.display tbody>tr.odd.selected,
table.dataTable.display tbody>tr.odd>.selected {
    background-color: $gray-200;
}

table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
    color: inherit;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: $primary;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: $gray-200;
}

table.dataTable.display tbody>tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: $gray-200;
}

table.dataTable.order-column tbody>tr.selected>.sorting_1,
table.dataTable.order-column tbody>tr.selected>.sorting_2,
table.dataTable.order-column tbody>tr.selected>.sorting_3,
table.dataTable.order-column tbody>tr>.selected,
table.dataTable.display tbody>tr.selected>.sorting_1,
table.dataTable.display tbody>tr.selected>.sorting_2,
table.dataTable.display tbody>tr.selected>.sorting_3,
table.dataTable.display tbody>tr>.selected {
    background-color: $gray-200;
}

table.dataTable.display tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1 {
    background-color: $gray-200;
}

table.dataTable.hover tbody>tr.selected:hover,
table.dataTable.hover tbody>tr>.selected:hover,
table.dataTable.display tbody>tr.selected:hover,
table.dataTable.display tbody>tr>.selected:hover {
    background-color: $gray-200;
}