﻿@using MR.Pages;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MR.Entities.V1.Route
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Route Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Route Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12 mb-3">
                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#editRouteModal" role="button">
                    <i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Route
                </a>
            </div>

            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="portlet-body" id="divUserTable">
                            <table class="table table-sm border rounded display nowrap" id="tourPlanList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- modal -->
<div class="modal fade" id="editRouteModal" tabindex="-1" aria-labelledby="editRouteModalLabel" aria-hidden="true">
    @using (Html.BeginForm(Actions.AddRoute, Controllers.Route, FormMethod.Post, new { enctype = "multipart/form-data", area = "", onsubmit="return validateRoute();", returnUrl = "" }))
    {
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editRouteModalLabel">Add / Edit Rroute</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="custom-label" for="routeName">Route Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @name = "routeName", @class = "form-control", placeholder = "Enter route name" })
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="region">Region</label>
                                @Html.DropDownListFor(model => model.RegionId, (IEnumerable<SelectListItem>)ViewBag.RegionDD, "Select a option", new { @name = "region", @class = "form-control selectpicker" })
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeType">Route Type</label>
                                @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.RouteType, "Select a option", new { @name = "routeType", @class = "form-control selectpicker" })
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeStart">Route Start</label>
                                @Html.TextBoxFor(model => model.RouteStart, new { @name = "routeStart", @class = "form-control", placeholder = "Enter start name" })
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeEnd">Route End</label>
                                @Html.TextBoxFor(model => model.RouteEnd, new { @name = "routeEnd", @class = "form-control", placeholder = "Enter end name" })
                            </div>

                            <div class="form-group">
                                <label class="custom-label" for="routeDistance">Route Distance</label>
                                @Html.TextBoxFor(model => model.Distance, new { @name = "routeDistance", @class = "form-control", placeholder = "Enter distance" })
                                <p class="fs-13 mt-1 mb-0">Total fair : ₹ <label id="TotalRupee"></label> @Html.HiddenFor(m => m.TotalFair)</p>
                            </div>

                            @*<div class="form-group">
            <label class="custom-label" for="totalFair">Total Fair</label>
            @Html.TextBoxFor(model => model.TotalFair, new { @name = "totalFair", @class = "form-control", placeholder = "Enter distance" })
        </div>*@

                            <div class="form-switch">
                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-switch-input", @name = "statusSwitch" })
                                <label class="form-switch-label" for="statusSwitch">Active</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button type="submit" role="button" class="btn btn-primary">Save Route</button>
                </div>
            </div>
        </div>
    }
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script type="text/javascript">
    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#tourPlanList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindRoute, Controllers.Route, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true },
                { "title": "Route Name", "data": "Name", "orderable": false },
                { "title": "Route Start", "data": "RouteStart","orderable": false },
                { "title": "Route End", "data": "RouteEnd", "orderable": false },
                { "title": "Route Type", "data": "RouteTypeName", "orderable": false },
                {
                    "title": "Route Distance", "data": "Distance",
                    "render": function (data, type, row) {
                        return data + "Km";
                    },
                    "orderable": false
                },
                {
                    "title": "Total Fair", "data": "TotalFair",
                    "render": function (data, type, row) {
                        return "₹" + data;
                    },
                    "orderable": false
                },
                {
                    "title": "Status", "data": "IsActive",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": false
                },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a  href="javascript:void(0);" title="Edit" class="btn btn-soft-primary" role="button" onclick="onEdit('+data.Id+')">Edit</a>&nbsp; ';
                        @*appendstring += '<a  href="javascript:void(0);" onclick="Delete(' + row["Id"] + ')" title="Delete"  > <img src="@Url.Content("~/Styles/img/delete.png")" alt="Delete" /></a> ';*@
                        return appendstring;
                    },
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#tourPlanList")) {
                $('#tourPlanList').dataTable().fnDestroy();
                $('#divUserTable').html('<table class="table table-striped" width="100%" id="tourPlanList"></table>');
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    function onEdit(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetRoute, Controllers.Route, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#editRouteModal #Id').val(data.Id);
                    $('#editRouteModal #Name').val(data.Name);
                    $('#editRouteModal #Type').val(data.Type).change();
                    $('#editRouteModal #RouteStart').val(data.RouteStart);
                    $('#editRouteModal #RouteEnd').val(data.RouteEnd);
                    $('#editRouteModal #Distance').val(data.Distance);
                    $('#editRouteModal #TotalFair').val(data.TotalFair);
                    $('#editRouteModal #IsActive').prop('checked', data.IsActive);
                    $('#editRouteModal #TotalRupee').text(data.TotalFair);
                    $('#editRouteModal').modal('show');
                },
                error: function () { }
            });
    }

    $('#editRouteModal #IsActive').change(function () {
        $(this).val($(this).prop('checked'));
    });


    $('#addNewRouteModal #Distance').keyup(function () {
        $('#addNewRouteModal #TotalFair').val($(this).val() >= 300 ? $(this).val() * 2 : $(this).val() * 2.5);
        $('#addNewRouteModal #TotalRupee').text($(this).val() >= 300 ? $(this).val() * 2 : $(this).val() * 2.5);
    });

    $('#editRouteModal #Distance').keyup(function () {
        $('#editRouteModal #TotalFair').val($(this).val() * 2);
        $('#editRouteModal #TotalRupee').text($(this).val() * 2);
    });

    function validateRoute() {
        let routeName = $('#editRouteModal #Name').val();
        if (routeName === NaN || routeName === "") {
            ShowMessageToastr("danger", "Route name can't be empty.");
            $("#editRouteModal #Name").focus();
            return false;
        } 

        let RegionId = $('#editRouteModal #RegionId').val();
        if (RegionId === NaN || RegionId === "") {
            ShowMessageToastr("danger", "Please select region.");
            $("#editRouteModal #RegionId").focus();
            return false;
        }

        let routeTypeId = $('#editRouteModal #Type').val();
        if (routeTypeId === NaN || routeTypeId === "") {
            ShowMessageToastr("danger", "Please select route type.");
            $("#editRouteModal #Type").focus();
            return false;
        }

        let routeStart = $('#editRouteModal #RouteStart').val();
        if (routeStart === NaN || routeStart === "") {
            ShowMessageToastr("danger", "Route start can't be empty.");
            $("#editRouteModal #RouteStart").focus();
            return false;
        }

        let routeEnd = $('#editRouteModal #RouteEnd').val();
        if (routeEnd === NaN || routeEnd === "") {
            ShowMessageToastr("danger", "Route end can't be empty.");
            $("#editRouteModal #RouteEnd").focus();
            return false;
        }

        let routeDistance = $('#editRouteModal #Distance').val();
        if (routeDistance === NaN || routeDistance === "") {
            ShowMessageToastr("danger", "Route distance can't be empty.");
            $("#editRouteModal #Distance").focus();
            return false;
        }

        return true;
    }

    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this)
            .find("input,textarea,select")
            .val('').change()
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end();
    });
</script>


