﻿@using MR.Entities.V1;
@using MR.Pages;

@model MR.Entities.V1.Doctor

@{
    ViewBag.Title = "Manage Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">@Model.FirstName @Model.LastName</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Doctors, new { Area = ""})">Doctors</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.FirstName @Model.LastName</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-sm-row">
                    <div class="mr-3 mb-3">
                        <img class="img-fluid rounded shadow-3" src="~/@Model.Photo" alt="Photo" width="120px" height="120px">
                    </div>

                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap">
                            <div class="d-flex flex-column mb-3">
                                <h5>
                                    @Model.FirstName @Model.LastName
                                    @if (Model.IsActive)
                                    {
                                        <span class="badge badge-success ml-2">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger ml-2">In-Active</span>
                                    }
                                </h5>

                                <div class="row">
                                    <div class="col-auto mr-2">
                                        <ul class="list-unstyled mb-0">
                                            <li class="my-1"><span>Specialization </span> :  <span class="fw-medium text-black">@Model.SpecializationName</span></li>
                                            <li class="my-1"><span>HQ </span> : <span class="fw-medium text-black">@Model.HeadquarterName</span></li>
                                            <li class="my-1"><span>Region </span> : <span class="fw-medium text-black">@Model.RegionName</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-unstyled mb-0">
                                            <li class="my-1"><span>Gender </span> :  <span class="fw-medium text-black">@Model.Gender.ToString()</span></li>
                                            <li class="my-1"><span>Birthdate </span> : <span class="fw-medium text-black">@string.Format("{0:dd/MM/yyyy}", Model.Birthdate)</span></li>
                                            @*<li class="my-1"><span>Phone </span> : <span class="fw-medium text-black">@Model.Phone</span></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-start flex-wrap text-center mb-3">
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                                        <h6 class="mb-1">@Model.BuisnessPotential</h6>
                                        <p class="fs-13 mb-0">Total Business</p>
                                    </div>
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                                        <h6 class="mb-1" id="TargetProductCount"></h6>
                                        <p class="fs-13 mb-0">Target Products</p>
                                    </div>
                                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2">
                                        <h6 class="mb-1" id="ChemistCount"></h6>
                                        <p class="fs-13 mb-0">Associated Chemist</p>
                                    </div>
                                </div>

                                <div class="text-lg-right">
                                    <a href="@Url.Action(Actions.ManageDoctors, Controllers.Doctors, new { Area = "", DoctorId = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString()))})" class="btn btn-primary">Edit Profile</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header-navs">
                <ul class="nav nav-lines" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="pill" href="#basicInfo" role="tab">Basic Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#targetProducts" role="tab">Target Products</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#associatedChemist" role="tab">Chemist</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#presentationDetails" role="tab">Presentation</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#AppointmentList" role="tab">Appointment</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">

                    <!-- Basic Info -->
                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.FirstName</span>
                                    <span class="fw-medium">@Model.LastName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Id</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Gender.ToString()</span>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.SpecializationName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.QualificationName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Mobile</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.HeadquarterName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.RegionName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.BuisnessPotential</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Birthdate </div>
                                <div class="text-dark">
                                    <span class="fw-medium">@string.Format("{0:dd/MM/yyyy}", Model.Birthdate)</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Anniversary</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@string.Format("{0:dd/MM/yyyy}", Model.Anniversary)</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Website</div>
                                <div class="text-dark">
                                    <a class="fw-medium" href="@Model.WebSite" target="_blank">@Model.WebSite</a>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.AddressString</span>
                                </div>
                            </div>


                        </div>
                    </div>


                    <!-- Target Products -->
                    <div class="tab-pane fade" id="targetProducts" role="tabpanel">
                        <div class="table-responsive">
                            <table id="targetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>


                    <!-- Associated Chemist -->
                    <div class="tab-pane fade" id="associatedChemist" role="tabpanel">
                        <div class="table-responsive">
                            <table id="chemistList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="presentationDetails" role="tabpanel">Presentation</div>
                    <div class="tab-pane fade" id="AppointmentList" role="tabpanel">Appointment</div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="chemistDetailsModal" tabindex="-1" aria-labelledby="chemistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Name"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Id"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="ContactPerson"></label>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Mobile"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Phone"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Headquarter"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Region"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="BusinessPotential"></label>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <label class="fw-medium" id="Address"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewChemistProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Target Product -->
<div class="modal fade" id="addTargetProductModal" tabindex="-1" aria-labelledby="addTargetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTargetProductModalLabel">Add Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Mfg.</th>
                                <th>Qty.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>

                            </tr>
                            <tr>
                                <td>45612</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Himalaya Liv. 52 DS Tablet
                                    </a>
                                </td>
                                <td>Liver Care</td>
                                <td>Himalaya</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45610</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Carbamide Forte Milk Thistle Extract Tablet
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45611</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="./assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>





<script>


    jQuery(document).ready(function () {
        TargetProductTableDatatablesColreorder.init();
        ChemistDT.init();
    });

    var TargetProductTableDatatablesColreorder = function () {

        var initTable1 = function () {
        var table = $('#targetProductTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Doctors, new { area ="" })',
                type: "post",
                data: addRequestVerificationToken({ doctorId : @Model.Id })
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data + '</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                { "title": "Type", "data": "ProductTypeName", "orderable": true, "width": "14%" },
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "initComplete": function (settings, json) {
                $('#TargetProductCount').html($('#targetProductTable').DataTable().data().count());
            },

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#targetProductTable")) {
                $('#targetProductTable').dataTable().fnDestroy();
            }
            initTable1();
        }
    };

}();

    var ChemistDT = function () {

    var initTable1 = function () {
        var table = $('#chemistList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindChemists, Controllers.Doctors, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ doctorId : @Model.Id })
            },
            "columns": [
                { "title": "Id", "data": "ChemistId", "orderable": true, "width":"12%" },
                {
                    "title": "Chemist Name", "data": "ChemistName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showChemistDetails(' + row["ChemistId"] +')">'+data+'</a>';
                    },
                    "orderable": true, "width": "13%"
                },
                { "title": "Address", "data": "ChemistAddressString", "orderable": true, "width": "13%" },
                {
                    "title": "Contact Person", "data": "ChemistContactPerson",
                    "render": function (data, type, row) {
                        return '<div class="text-black fw-medium">' + row["ChemistContactPerson"] + '</div><div class="fs-13">' + row["ChemistMobileNo"]+'</div>';
                    },
                    "orderable": true, "width": "13%"
                },
                { "title": "Buisness Potential", "data": "ChemistBuisnessPotential", "orderable": true, "width": "12%" },
                {
                    "title": "Status", "data": "ChemistStatus",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "12%"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "initComplete": function (settings, json) {
                $('#ChemistCount').html($('#chemistList').DataTable().data().count());
            },

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#chemistList")) {
                $('#chemistList').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    function showChemistDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetChemist, Controllers.Chemist, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#chemistDetailsModal #Id').text(data.Id);
                    $('#chemistDetailsModal #Name').text(data.Name);
                    $('#chemistDetailsModal #ContactPerson').text(data.ContactPerson);
                    $('#chemistDetailsModal #Mobile').text(data.Mobile);
                    //$('#chemistDetailsModal #Phone').text(data.Phone);
                    $('#chemistDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#chemistDetailsModal #Region').text(data.RegionName);
                    $('#chemistDetailsModal #BusinessPotential').text(data.BuisnessPotential);
                    $('#chemistDetailsModal #Address').text(data.AddressString);
                    $('#chemistDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

    function viewChemistProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Chemist, new { Area = "" })?Id=" + $('#chemistDetailsModal #Id').text();
    }
</script>