﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">MCP</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">MCP</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <table id="mcpTable" class="table table-sm border rounded display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">MCP Day</th>
                                    <th scope="col">Day</th>
                                    <th scope="col">Route</th>
                                    <th scope="col">Work Type</th>
                                    <th scope="col">Last Edited</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">Day 01</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 02</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Pln</td>
                                    <td>Out Station</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 03</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 04</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 05</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 06</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 07</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 08</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 09</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>


                                <tr>
                                    <th scope="row">Day 10</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 11</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 12</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 13</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 14</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 15</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 16</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 17</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 18</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 19</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 20</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 21</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 22</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 23</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 24</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 25</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 26</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 27</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 28</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 29</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 30</th>
                                    <td>Monday</td>
                                    <td>Ahmd-Ahmd</td>
                                    <td>Headquarter</td>
                                    <td>21/05/2021, 10:15PM</td>
                                    <td><a href="" data-toggle="modal" data-target="#addCallsMcpModal" class="btn btn-soft-primary border">Edit plan</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<div class="modal fade" id="addCallsMcpModal" tabindex="-1" aria-labelledby="addCallsMcpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCallsMcpModalLabel">Add Calls</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="routeType">Route Name</label>
                            <select class="form-control selectpicker" data-size="6" data-title="Select a option" id="routeType">
                                <option>Ahmd-Ahmd</option>
                                <option>Ahmd-Pln</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="routeType">Route Type</label>
                            <select class="form-control selectpicker" data-size="6" data-title="Select a option" id="routeType">
                                <option>HQ Route</option>
                                <option>Ex HQ route</option>
                                <option>OS Route</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="addCallsList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Doctor / Chemist Name</th>
                                <th>Call of</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="~/profile-doctor.html">
                                        <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                        Joann McDowell
                                    </a>
                                </td>
                                <td>Doctor</td>
                                <td>
                                    <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                </td>
                                <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                            </tr>

                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="~/profile-chemist.html">
                                        <span class="avatar avatar-info m-1"><span class="avatar-initials">N</span></span>
                                        Noble Medical Store
                                    </a>
                                </td>
                                <td>Chemist</td>
                                <td>
                                    <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                </td>
                                <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                            </tr>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="~/profile-doctor.html">
                                        <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                        Joann McDowell
                                    </a>
                                </td>
                                <td>Doctor</td>
                                <td>
                                    <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                </td>
                                <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                            </tr>

                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="~/profile-doctor.html">
                                        <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                        Joann McDowell
                                    </a>
                                </td>
                                <td>Doctor</td>
                                <td>
                                    <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                </td>
                                <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                            </tr>

                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="~/profile-chemist.html">
                                        <span class="avatar avatar-info m-1"><span class="avatar-initials">N</span></span>
                                        Noble Medical Store
                                    </a>
                                </td>
                                <td>Chemist</td>
                                <td>
                                    <span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
                                </td>
                                <td><button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>




<script>
    $('#mcpTable').DataTable({
        responsive: true
    });
    $('#addCallsList').DataTable({
        responsive: true
    });

</script>

