@mixin button-hover-variant(
    $color,
    $background, 
    $hover-background: lighten($color, 40%), 
    $active-background: lighten($color, 35%), 
) {
    color: color-yiq($background);
  
    @include hover() {
      color: color-yiq($hover-background);
      background: $hover-background;
    }
  
    &:focus,
    &.focus {
        box-shadow: none;
        color: color-yiq($hover-background);
    }
  
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      color: color-yiq($background);
      background-color: $background;
    }
  
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: color-yiq($active-background);
      background-color: $active-background;
    }

    &[aria-expanded="true"]{
        background-color: $active-background;
    }
  }
  
@mixin button-soft-variant(
    $color,
    $background,
    $soft-background: lighten($color, 36%), 
    $hover-background: lighten($color, 34%), 
    $active-background: lighten($color, 32%), 
) {
    color: $color;
    fill: $color;
    background: $soft-background;
  
    @include hover() {
      color: $color;
      background: $hover-background;
    }
  
    &:focus,
    &.focus {
        box-shadow: none;
        color: $color;
    }
  
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      color: $color;
      background-color: $background;
    }
  
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $color;
      background-color: $active-background;
    }

    &[aria-expanded="true"]{
        background-color: $active-background;
    }
  }
  