﻿@using MR.Pages;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Product Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Product Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="@Url.Action(Actions.ManageProduct, Controllers.Product, new { Area = ""})" class="btn btn-primary" role="button"><i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New Product</a>
            </div>


            <div class="col-12 mb-3">
                <div class="card table-responsive">
                    <div class="card-body">
                        <table id="productList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modals -->
<div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailsModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Product Name</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Name"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Id"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Category</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Category"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Type</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Type"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Strip</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Strip"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Weight</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Weight"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Manufacture</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Manufacture"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Prescription </div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Prescription"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Storage</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Storage"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Price</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Price"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Selling Price</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="SellingPrice"></label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="" id="Photo">
                        <div class="badge badge-success p-2 mt-2" id="Active">Active</div>
                        <div class="badge badge-danger p-2 mt-2" id="InActive">In-Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewProfile()" role="button" class="btn btn-primary">View Full Details</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script type="text/javascript">

    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#productList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Product, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "Name",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showProductDetails(' + row["Id"] + ')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data +'</a>';
                        //return '<a  href="javascript:void(0);" onclick="showProductDetails(' + row["Id"] + ')">' + data +'</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                { "title": "Type", "data": "ProductTypeName", "orderable": true, "width": "14%" },
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" },
                {
                    "title": "Status", "data": "IsActive",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "11%"
                },
                {
                    "title": "Action",
                    "data": "Id",
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var appendstring = '';
                        var url = "@Url.Action(Actions.ManageProduct, Controllers.Product, new { Area = ""})";
                        appendstring += '<a  href="' + url + "?prodId=" + Id + '" title="Edit" class="btn btn-light border btn-sm" role="button">Edit</a>&nbsp; ';
                        @*appendstring += '<a  href="javascript:void(0);" onclick="Delete(' + row["Id"] + ')" title="Delete"  > <img src="@Url.Content("~/Styles/img/delete.png")" alt="Delete" /></a> ';*@
                        return appendstring;
                    },
                    "orderable": true, "width": "11%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#productList")) {
                $('#productList').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    function showProductDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetProduct, Controllers.Product, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#productDetailsModal #Id').text(data.Id);
                    $('#productDetailsModal #Name').text(data.Name);
                    $('#productDetailsModal #Category').text(data.CategoyName);
                    $('#productDetailsModal #Type').text(data.ProductTypeName);
                    $('#productDetailsModal #Strip').text(data.Quantity + " " + data.QuantitySIUnites);
                    $('#productDetailsModal #Weight').text(data.Quantity + " " + data.QuantitySIUnites);
                    $('#productDetailsModal #Manufacture').text(data.ManufactureName);
                    $('#productDetailsModal #Prescription').text(data.PrescriptionName);
                    $('#productDetailsModal #Storage').text(data.StoreBelowTemprature);
                    $('#productDetailsModal #Price').text(data.NRV);
                    $('#productDetailsModal #SellingPrice').text(data.SellingPrice);

                    if (data.IsActive == true) {
                        $('#productDetailsModal #InActive').hide();
                        $('#productDetailsModal #Active').show();
                    }
                    else {
                        $('#productDetailsModal #Active').hide();
                        $('#productDetailsModal #InActive').show();
                    }

                    $('#productDetailsModal #Photo').attr('src', window.location.origin + "/" + data.ImagePath);
                    $('#productDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

    function viewProfile() {
        window.location.href = "@Url.Action(Actions.ProductDetail, Controllers.Product, new { Area = "" })?Id=" + $('#productDetailsModal #Id').text();
    }

</script>