﻿@using MR.Pages;
@using MR.Entities.V1;

@{
    ViewBag.Title = "Manage Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Product

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New Product</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Product, new { Area = ""})">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Product</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm(Actions.AddProduct, Controllers.Product, FormMethod.Post, new { @class = "row justify-content-center", enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit= "return validateForm();", @id = "frmAddEditProduct" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ProductHighlightString)
            for (int i = 0; i < Model.ProductImages.Count; i++)
            {
                @Html.HiddenFor(model => model.ProductImages[i].Id)
                @Html.HiddenFor(model => model.ProductImages[i].URL)
            }

            <div class="col-12">

                <!-- Basic Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Basic Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="productName">Product Name</label>
                                    @Html.TextBoxFor(model => model.Name, new { @name = "productName", @class = "form-control", placeholder = "Enter product name" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectCategory">Category</label>
                                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Category, "Select a option", new { @name = "selectCategory", @class = "form-control selectpicker" })
                                    <div class="text-right mt-1">
                                        <a href="" class="fs-13 fw-medium d-inline-block" role="button" data-toggle="modal" data-target="#addNewProductCategory">Add New Category</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectType">Type</label>
                                    @Html.DropDownListFor(model => model.ProductTypeId, (IEnumerable<SelectListItem>)ViewBag.Type, "Select a option", new { @name = "selectType", @class = "form-control selectpicker" })
                                    <div class="text-right mt-1">
                                        <a href="" class="fs-13 fw-medium d-inline-block" role="button" data-toggle="modal" data-target="#addNewProductType">Add New Type</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="productQty">Pack</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Quantity, new { @name = "productQty", @class = "form-control", placeholder = "Enter value" })
                                        <div class="input-group-append">
                                            @Html.DropDownListFor(model => model.SIUnitesId, (IEnumerable<SelectListItem>)ViewBag.QuantSIUnit, "Choose...", new { @name = "selectType", @class = "custom-select rounded-left-0" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="manufacturName">Manufacture Name</label>
                                    @Html.DropDownListFor(model => model.ManufactureId, (IEnumerable<SelectListItem>)ViewBag.Manufacture, "Select a option", new { @name = "manufacturName", @class = "form-control selectpicker" })
                                    <div class="text-right mt-1">
                                        <a href="" class="fs-13 fw-medium d-inline-block" role="button" data-toggle="modal" data-target="#addNewProductMfg">Add New Mfg.</a>
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="storeBelow">Store Below</label>
                                    @Html.TextBoxFor(model => model.StoreBelowTemprature, new { @name = "storeBelow", @class = "form-control", placeholder = "Enter temperature" })
                                </div>
                            </div>*@

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="selectPrescription">Prescription</label>
                                    @Html.DropDownListFor(model => model.PrescriptionId, (IEnumerable<SelectListItem>)ViewBag.Priscription, "Select a option", new { @name = "selectPrescription", @class = "form-control selectpicker" })
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="nrvPrice">NRV</label>
                                    @Html.TextBoxFor(model => model.NRV, new { @name = "nrvPrice", @class = "form-control", placeholder = "Enter price" })
                                </div>
                            </div>

                            @*<div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="SellingPrice">Selling Price</label>
                                    @Html.TextBoxFor(model => model.SellingPrice, new { @name = "SellingPrice", @class = "form-control", placeholder = "Enter price" })
                                </div>
                            </div>*@
                        </div>

                    </div>
                </div>


                <!-- Product Highlight -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Product Highlight</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="repeater">
                            <div data-repeater-list="categorygroup">
                                <div class="row align-items-end" data-repeater-item>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" name="Name" type="text" placeholder="Enter features name" />
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <input class="btn btn-danger" data-repeater-delete type="button" value="Delete" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input data-repeater-create class="btn btn-primary" type="button" value="Add" />
                        </div>
                    </div>
                </div>


                <!-- Medical Description -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Medical Description</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Description, new { @rows = "5", @name = "medicalDescription", @class = "form -control", placeholder = "Enter your description here" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- Product Images -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Product Images</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="productimg1Prev"></div>
                                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                    <input class="file-drop-input" type="file" id="productimg1" name="productimg1">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="productimg2Prev"></div>
                                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                    <input class="file-drop-input" type="file" id="productimg2" name="productimg2">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="productimg3Prev"></div>
                                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                    <input class="file-drop-input" type="file" id="productimg3" name="productimg3">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="productimg4Prev"></div>
                                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                    <input class="file-drop-input" type="file" id="productimg4" name="productimg4">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="productimg5Prev"></div>
                                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                    <input class="file-drop-input" type="file" id="productimg5" name="productimg5">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="file-drop-area mb-3">
                                    <div class="file-drop-icon file-icon-upload" id="productimg6Prev"></div>
                                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                    <input class="file-drop-input" type="file" id="productimg6" name="productimg6">
                                    <button class="file-drop-btn btn btn-primary  mb-2" type="button">Or select file</button>
                                    <div class="form-text">518 x 484px ideal size</div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                @if (Model.Id > 0)
                {
                    <!-- Presentation -->
                    <div class="card shadow-2 mb-4">
                        <div class="card-header">
                            <h5 class="mb-1">Presentation </h5>
                            <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <button class="btn btn-primary" type="button" data-target="#addPresentationItem" data-toggle="modal">Add Item</button>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="PresentationTable" class="table table-sm border rounded display nowrap" cellspacing="0" width="100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Active/In-active -->
                    <div class="card shadow-2 mb-4">
                        <div class="card-header">
                            <h5 class="mb-1">Settings</h5>
                            <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-switch">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-switch-input", @name = "statusSwitch" })
                                        <label class="form-switch-label" for="statusSwitch">Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary btn-wide">Save / Add New Product</button>
                <a href="@Url.Action(Actions.Index, Controllers.Product, new { Area = "" })" class="btn btn-light border btn-wide">Cancel</a>
            </div>
        }
    </div>
</div>

<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="addPresentationItem" tabindex="-1" aria-labelledby="addPresentationItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPresentationItemLabel">Add Associated Presentation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-drop-area mb-3">
                    <div class="file-drop-icon file-icon-upload"></div>
                    <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                    <input class="file-drop-input" type="file" id="presentationfile" name="presentationfile" />
                    <button class="file-drop-btn btn btn-primary mb-2" type="button">Or select file</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddPresentation()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addNewProductCategory" tabindex="-1" aria-labelledby="addNewProductCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewProductCategoryLabel">Add New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="categoryName">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Enter category name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddCategory()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addNewProductType" tabindex="-1" aria-labelledby="addNewProductTypeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewProductTypeLabel">Add New Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="categoryType">Product Type</label>
                            <input type="text" class="form-control" id="categoryType" placeholder="Enter category type">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddType()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addNewProductMfg" tabindex="-1" aria-labelledby="addNewProductMfgLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewProductMfgLabel">Add New Manufacture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="ManufacturType">Manufacture Name</label>
                            <input type="text" class="form-control" id="ManufacturType" placeholder="Enter manufacture name">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="mfgWebsite">Website</label>
                            <input type="text" class="form-control" id="mfgWebsite" placeholder="Enter website">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddManufacture()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>




<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>


<script type="text/javascript">   
    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#PresentationTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindPresentation, Controllers.Product, new { area ="", productId = Model.Id})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width": "20%" },
                { "title": "File Name", "data": "FileName", "orderable": true, "width": "20%" },
                { "title": "Size", "data": "Size", "orderable": true, "width": "20%" },
                { "title": "File Type", "data": "FileType", "orderable": true, "width": "20%" },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a href="javascript:void(0);" onclick="DeletePresentation(' + row["Id"] + ')" class="btn btn-soft-primary" role="button">Remove</a>';
                        @*appendstring += '<a  href="javascript:void(0);" onclick="Delete(' + row["Id"] + ')" title="Delete"  > <img src="@Url.Content("~/Styles/img/delete.png")" alt="Delete" /></a> ';*@
                        return appendstring;
                    },
                    "orderable": true, "width": "20%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#PresentationTable")) {
                $('#PresentationTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    $('#Description').summernote({
        height: 250,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            //['table', ['table']],
            //['insert', ['link', 'picture', 'video']],
            //['view', ['fullscreen', 'codeview', 'help']],
        ],
    });

    function AddPresentation() {
        var file = $('#presentationfile')[0].files[0];

        if (file == undefined || file == "" || file == null)
        {
            ShowMessageToastr("danger", "Please select presentetion file.");
            return;
        }

        var formData = new FormData();
        formData.append('productimg1', file);
        formData.append('ProductId', @Model.Id);

        $.ajax({
            url: '@Url.Action(Actions.AddPresentation, Controllers.Product, new { area = "" })',
            data: formData,
            type: 'POST',
            processData: false,
            contentType: false,
            //datatype: 'multipart/form-data',
            success: function (data) {
                    if (data = null) {
                        ShowMessageToastr("danger","Failed to add presentation");
                    }

                    $("#addPresentationItem").modal('hide');
                    TableDatatablesColreorder.init();
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add presentation");
                $("#addPresentationItem").modal('hide');
                TableDatatablesColreorder.init();
            }
        });
    }

    function DeletePresentation(Id) {
        $.ajax({
            url: '@Url.Action(Actions.DeletePresentation, Controllers.Product, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                ShowMessageToastr("success", "Presentation deleted successfully.");
                $('#PresentationTable').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger", "Failed to delete presentation.");
                $('#PresentationTable').DataTable().ajax.reload();
            }
        });
    }

    function AddCategory() {
        $.ajax({
            url: '@Url.Action(Actions.AddCategory, Controllers.Product, new { area = "" })',
            data: { Name: $('#categoryName').val() },
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == null) {
                    ShowMessageToastr("danger", "Failed to add category");
                }
                else {                    
                    $("#frmAddEditProduct #CategoryId").append($("<option>").val(data.Id).text(data.Name));
                    $("#frmAddEditProduct #CategoryId").selectpicker('refresh');
                }

                $("#addNewProductCategory").modal('hide');
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add categoty");
                $("#addNewProductCategory").modal('hide');
            }
        });
    }

    function AddType() {
        $.ajax({
            url: '@Url.Action(Actions.AddProductType, Controllers.Product, new { area = "" })',
            data: { Name: $('#categoryType').val() },
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data != null) {
                    $("#frmAddEditProduct #ProductTypeId").append($("<option>").val(data.Id).text(data.Name));
                    $("#frmAddEditProduct #ProductTypeId").selectpicker('refresh');
                }
                else {
                    ShowMessageToastr("danger","Failed to add category type");
                }
                
                $("#addNewProductType").modal('hide');                
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add categoty type");
                $("#addNewProductType").modal('hide');
            }
        });
    }

    function AddManufacture() {
        $.ajax({
            url: '@Url.Action(Actions.AddManufacture, Controllers.Product, new { area = "" })',
            data: { Name: $('#ManufacturType').val(), WebSite: $('#mfgWebsite').val() },
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data != null) {
                    $("#frmAddEditProduct #ManufactureId").append($("<option>").val(data.Id).text(data.Name));
                    $("#frmAddEditProduct #ManufactureId").selectpicker('refresh');
                }
                else {
                    ShowMessageToastr("danger","Failed to add manufacture");
                }

                $("#addNewProductMfg").modal('hide');
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add manufacture");
                $("#addNewProductMfg").modal('hide');
            }
        });
    }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();

        var repeaterValue = $("#frmAddEditProduct #ProductHighlightString").val().split(",");
        var my_repeater = $('.repeater').repeater();
        
        var prodHights = [];
        repeaterValue.forEach(function (item) {
            prodHights.push({ 'Name': item });
        });

        my_repeater.setList(prodHights);

        for (var i = 0; i <= @Model.ProductImages.Count; i++)
        {
            if (i == 6) { break; }
        var prod1Url = $("#ProductImages_" + i + "__URL").val();
        var j = i + 1;
            if (prod1Url != "" && prod1Url != undefined) {
                $('#productimg'+j+'Prev').removeClass();
                $('#productimg'+j+'+Prev').addClass("file-drop-preview img-thumbnail rounded");
                $('#productimg'+j+'Prev').append('<img src="' + window.location.origin + "/" + prod1Url + '" alt="Product Image" height="200" width="200">');
            }
        }
    });

    $("#addPresentationItem").on('hidden.bs.modal', function () {
        $(this).find(".file-drop-preview").addClass('file-drop-icon file-icon-upload').removeClass('file-drop-preview img-thumbnail rounded').html("");
        $(this).find(".file-drop-message").text("Drag and drop here to upload product screenshot");
    });

    $('#frmAddEditProduct #IsActive').change(function () {
        $(this).val($(this).prop('checked'));
    });

    function validateForm() {
        let FirstName = $('#Name').val();
        if (FirstName === NaN || FirstName === "") {
            ShowMessageToastr("danger", "Name Can't be empty.");
            $("#Name").focus();
            return false;
        }

        let CategoryId = $('#CategoryId').val();
        if (CategoryId === NaN || CategoryId === "") {
            ShowMessageToastr("danger", "Please select category.");
            $("#CategoryId").focus();
            return false;
        }

        let ProductTypeId = $('#ProductTypeId').val();
        if (ProductTypeId === NaN || ProductTypeId === "") {
            ShowMessageToastr("danger", "Please select product type.");
            $("#ProductTypeId").focus();
            return false;
        }

        let Quantity = $('#Quantity').val();
        if (Quantity === NaN || Quantity === "") {
            ShowMessageToastr("danger", "Please enter Quantity.");
            $("#Quantity").focus();
            return false;
        }

        let SIUnitesId = $('#SIUnitesId').val();
        if (SIUnitesId === NaN || SIUnitesId === "") {
            ShowMessageToastr("danger", "Please select Quantity unit.");
            $("#SIUnitesId").focus();
            return false;
        }

        let ManufactureId = $('#ManufactureId').val();
        if (ManufactureId === NaN || ManufactureId === "") {
            ShowMessageToastr("danger", "Please select Manufacture.");
            $("#ManufactureId").focus();
            return false;
        }

        let StoreBelowTemprature = $('#StoreBelowTemprature').val();
        if (StoreBelowTemprature === NaN || StoreBelowTemprature === "") {
            ShowMessageToastr("danger", "Please enter Store Below Temprature.");
            $("#StoreBelowTemprature").focus();
            return false;
        }

        let PrescriptionId = $('#PrescriptionId').val();
        if (PrescriptionId === NaN || PrescriptionId === "") {
            ShowMessageToastr("danger", "Please select Prescription.");
            $("#PrescriptionId").focus();
            return false;
        }

        let NRV = $('#NRV').val();
        if (NRV === NaN || NRV === "") {
            ShowMessageToastr("danger", "Please enter NRV.");
            $("#NRV").focus();
            return false;
        }

        let SellingPrice = $('#SellingPrice').val();
        if (SellingPrice === NaN || SellingPrice === "") {
            ShowMessageToastr("danger", "Please enter Selling Price.");
            $("#SellingPrice").focus();
            return false;
        }

        try {
            var prodHights = [];
            $('.repeater').repeaterVal().categorygroup.forEach(function (item) {
                prodHights.push(item.Name);
            });

            $("#frmAddEditProduct #ProductHighlightString").val(prodHights.join(","));
        }
        catch (err) {
            $("#frmAddEditProduct #ProductHighlightString").val("");
            // ignore
        }

        return true;
    }

    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this)
            .find("input,textarea,select")
            .val('').change()
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end();
    });

</script>
