﻿@using MR.Entities.V1;
@using MR.Pages;

@model MR.Entities.V1.Product

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Product Details</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Product, new { Area = ""})">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content mt-0">
    <div class="container-fluid bg-white border-bottom py-3">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="overflow-hidden border py-2 rounded">
                    <div class="slider slider-for overflow-hidden rounded mb-3">
                        @for (int i = 0; i < Model.ProductImages.Count; i++)
                        {
                            <div>
                                <a data-fancybox="gallery" href="./assets/images/product/product-02.jpg">
                                    <img src="~/@Model.ProductImages[i].URL" class="img-fluid mx-auto">
                                </a>
                            </div>
                        }
                    </div>

                    <div class="slider slider-nav">
                        @for (int i = 0; i < Model.ProductImages.Count; i++)
                        {
                            <div class="border rounded overflow-hidden bg-light mx-2">
                                <img src="~/@Model.ProductImages[i].URL">
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0">
                <a href="" class="d-flex align-items-center mb-3 text-decoration-none">
                    <span class="badge badge-primary d-inline-flex align-items-center align-middle mr-1">
                        <span>4.2</span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                        </svg>
                    </span>
                    <span class="text-muted fs-14">74 Reviews & 125 Ratings</span>
                </a>

                <h4 class="mb-1">
                    @Model.Name
                    @if (Model.IsActive)
                    {
                        <span class="badge badge-success ml-2">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger ml-2">In-Active</span>
                    }
                    @*<span class="badge badge-info fs-13 ml-2">In-stock</span>*@
                </h4>
                <a href="https://www.abbott.in/" target="_blank" class="fs-13 fw-medium d-inline-block"><span class="text-muted">MFG. By - </span>@Model.ManufactureName</a>

                <hr>
                <span class="text-muted">Price are shown inclusive of all taxes</span>

                <div class="d-flex align-items-start flex-wrap text-center my-3">
                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                        <h6 class="mb-1">@Model.NRV</h6>
                        <p class="fs-13 mb-0">Buying Price</p>
                    </div>
                    <div class="border-dashed border-primary shadow-2 rounded mb-2 p-2 mr-3">
                        <h6 class="mb-1">@Model.SellingPrice</h6>
                        <p class="fs-13 mb-0">Selling Price</p>
                    </div>
                </div>

                <hr>
                <h5 class="my-3">Product Highlights </h5>
                <ul class="pl-3 fs-14">
                    @for (int i = 0; i < Model.ProductHighlight.Count; i++)
                    {
                        <li class="my-2">@Model.ProductHighlight[i].Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="card ">
            <div class="card-header-navs">
                <ul class="nav nav-lines" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="pill" href="#productInfo" role="tab">Product Info</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#presentationDetails" role="tab">Presentation</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#productAnalysis" role="tab">Analysis</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#associatedDoctor" role="tab">Doctor</a>
                    </li>


                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" href="#productFeedback" role="tab">Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">

                    <!-- Basic Info -->
                    <div class="tab-pane fade  show active" id="productInfo" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Name</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Id</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Category</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.CategoyName</span>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Type</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.ProductTypeName</span>
                                </div>
                            </div>

                            @*<div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                    <div class="text-muted fs-12">Phone</div>
                                    <div class="text-dark">
                                        <span class="fw-medium"></span>
                                    </div>
                                </div>*@

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Quantity in a strip</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Quantity</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Manufacture Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.ManufactureName</span>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                                <div class="text-muted fs-12">Store Below</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.StoreBelowTemprature</span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="text-muted fs-12">Prescription</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.PrescriptionName</span>
                                </div>
                            </div>

                        </div>

                        <hr class="my-4">

                        <div class="row">
                            <div class="col-12">
                                <h5 id="medicalDescription">Medical Description</h5>
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>


                    <!-- Presentation -->
                    <div class="tab-pane fade" id="presentationDetails" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="PresentationTable" class="table table-sm border rounded display nowrap" cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Product Analysis -->
                    <div class="tab-pane fade" id="productAnalysis" role="tabpanel">Analysis</div>


                    <!-- Associated Doctor -->
                    <div class="tab-pane fade" id="associatedDoctor" role="tabpanel">
                        <div class="table-responsive">
                            <table id="doctorList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="productFeedback" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-8">

                                <div class="row mb-5">
                                    <div class="col-lg-6">
                                        <h3>74 Reviews</h3>
                                        <div class="d-flex align-items-center mb-3">
                                            <span class="badge badge-primary d-inline-flex align-items-center align-middle mr-2">
                                                <span>4.2</span>
                                                <i data-eva="star" class="hw-14 ml-1 fill-white"></i>
                                            </span>
                                            <span class="text-muted fs-14">Overall rating</span>
                                        </div>
                                        <p class="fs-14 text-muted">58 out of 74 (77%)<br>Doctors / Chemist recommended this product</p>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="d-flex align-items-center text-nowrap mr-3">
                                                <span>5</span>
                                                <i data-eva="star" class="hw-14 ml-1"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="text-muted ml-3">43</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="d-flex align-items-center text-nowrap mr-3">
                                                <span>4</span>
                                                <i data-eva="star" class="hw-14 ml-1"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="text-muted ml-3">16</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="d-flex align-items-center text-nowrap mr-3">
                                                <span>3</span>
                                                <i data-eva="star" class="hw-14 ml-1"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="text-muted ml-3">9</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="d-flex align-items-center text-nowrap mr-3">
                                                <span>2</span>
                                                <i data-eva="star" class="hw-14 ml-1"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 9%;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="text-muted ml-3">4</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="d-flex align-items-center text-nowrap mr-3">
                                                <span>1</span>
                                                <i data-eva="star" class="hw-14 ml-1"></i>
                                            </div>
                                            <div class="w-100">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="text-muted ml-3">2</span>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="row mt-5">
                                    <div class="col-12 mb-3">
                                        <div class="card shadow-2">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar m-1">
                                                        <img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle">
                                                    </div>

                                                    <div class="ml-2">
                                                        <div class="h6">Joann McDowell</div>
                                                        <div class="d-flex">
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star-outline" class="hw-14 fill-warning"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente sequi commodi molestiae ut assumenda ipsum ad debitis maxime modi molestias facere, sint doloremque culpa magnam magni inventore fuga eius excepturi. Dolorem praesentium doloribus recusandae rem numquam facilis nisi facere animi quos eligendi necessitatibus quibusdam est exercitationem, quia deserunt eius asperiores.</p>

                                                <ul class="list-unstyled fs-14 pt-1">
                                                    <li class="mb-1"><span class="fw-medium text-black">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Recommended:&nbsp;</span>Yes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="card shadow-2">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar m-1">
                                                        <img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle">
                                                    </div>

                                                    <div class="ml-2">
                                                        <div class="h6">Joann McDowell</div>
                                                        <div class="d-flex">
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star-outline" class="hw-14 fill-warning"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente sequi commodi molestiae ut assumenda ipsum ad debitis maxime modi molestias facere, sint doloremque culpa magnam magni inventore fuga eius excepturi. Dolorem praesentium doloribus recusandae rem numquam facilis nisi facere animi quos eligendi necessitatibus quibusdam est exercitationem, quia deserunt eius asperiores.</p>

                                                <ul class="list-unstyled fs-14 pt-1">
                                                    <li class="mb-1"><span class="fw-medium text-black">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Recommended:&nbsp;</span>Yes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="card shadow-2">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar m-1">
                                                        <img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle">
                                                    </div>

                                                    <div class="ml-2">
                                                        <div class="h6">Joann McDowell</div>
                                                        <div class="d-flex">
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star-outline" class="hw-14 fill-warning"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente sequi commodi molestiae ut assumenda ipsum ad debitis maxime modi molestias facere, sint doloremque culpa magnam magni inventore fuga eius excepturi. Dolorem praesentium doloribus recusandae rem numquam facilis nisi facere animi quos eligendi necessitatibus quibusdam est exercitationem, quia deserunt eius asperiores.</p>

                                                <ul class="list-unstyled fs-14 pt-1">
                                                    <li class="mb-1"><span class="fw-medium text-black">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Recommended:&nbsp;</span>Yes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="card shadow-2">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar m-1">
                                                        <img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle">
                                                    </div>

                                                    <div class="ml-2">
                                                        <div class="h6">Joann McDowell</div>
                                                        <div class="d-flex">
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star-outline" class="hw-14 fill-warning"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente sequi commodi molestiae ut assumenda ipsum ad debitis maxime modi molestias facere, sint doloremque culpa magnam magni inventore fuga eius excepturi. Dolorem praesentium doloribus recusandae rem numquam facilis nisi facere animi quos eligendi necessitatibus quibusdam est exercitationem, quia deserunt eius asperiores.</p>

                                                <ul class="list-unstyled fs-14 pt-1">
                                                    <li class="mb-1"><span class="fw-medium text-black">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Recommended:&nbsp;</span>Yes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="card shadow-2">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar m-1">
                                                        <img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle">
                                                    </div>

                                                    <div class="ml-2">
                                                        <div class="h6">Joann McDowell</div>
                                                        <div class="d-flex">
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star" class="hw-14 fill-warning"></i>
                                                            <i data-eva="star-outline" class="hw-14 fill-warning"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p class="mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente sequi commodi molestiae ut assumenda ipsum ad debitis maxime modi molestias facere, sint doloremque culpa magnam magni inventore fuga eius excepturi. Dolorem praesentium doloribus recusandae rem numquam facilis nisi facere animi quos eligendi necessitatibus quibusdam est exercitationem, quia deserunt eius asperiores.</p>

                                                <ul class="list-unstyled fs-14 pt-1">
                                                    <li class="mb-1"><span class="fw-medium text-black">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                                    <li class="mb-1"><span class="fw-medium text-black">Recommended:&nbsp;</span>Yes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="sticky-panel-top">
                                    <div class="card shadow-2 bg-soft-primary">
                                        <div class="card-body">
                                            <h5>Add a review</h5>
                                            <hr>

                                            <form>
                                                <div class="form-group">
                                                    <label for="chooserating">Rating</label>
                                                    <select class="form-control" id="chooserating">
                                                        <option>5 Star</option>
                                                        <option>4 Star</option>
                                                        <option>3 Star</option>
                                                        <option>2 Star</option>
                                                        <option>1 Star</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="writeReview">Review</label>
                                                    <textarea class="form-control" id="writeReview" placeholder="Write dorctor / chemist review here..." rows="5"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label for="writePros">Pros</label>
                                                    <textarea class="form-control" id="writePros" placeholder="Seperated by commas" rows="2"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label for="writeCons">Cons</label>
                                                    <textarea class="form-control" id="writeCons" placeholder="Seperated by commas" rows="2"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label for="recommendedProduct">Recommended</label>
                                                    <select class="form-control" id="recommendedProduct">
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary btn-lg btn-block">Add Review</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="chemistDetailsModal" tabindex="-1" aria-labelledby="chemistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <span class="fw-medium">XYZ medical store</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <span class="fw-medium">45613</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <span class="fw-medium">Jhon Doe</span>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <span class="fw-medium">8445845765</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <span class="fw-medium">8445845765</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <span class="fw-medium">Ahmedabad</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <span class="fw-medium">South Ahmedabad</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <span class="fw-medium">$123045</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <span class="fw-medium">2842 Victoria Street</span>
                            <span class="fw-medium">Baton Rouge, LA 70806</span>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="./profile-chemist.html" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Target Product -->
<div class="modal fade" id="addTargetProductModal" tabindex="-1" aria-labelledby="addTargetProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTargetProductModalLabel">Add Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Mfg.</th>
                                <th>Qty.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45613</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>

                            </tr>
                            <tr>
                                <td>45612</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Himalaya Liv. 52 DS Tablet
                                    </a>
                                </td>
                                <td>Liver Care</td>
                                <td>Himalaya</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45610</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Carbamide Forte Milk Thistle Extract Tablet
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                            <tr>
                                <td>45611</td>
                                <td>
                                    <a href="./product-page.html">
                                        <span class="avatar border m-1"><img alt="avatar" src="~/assets/images/product/product-01.jpg"></span>
                                        Ensure Diabetes Care Powder
                                    </a>
                                </td>
                                <td>Diabetes Care</td>
                                <td>Abbott Healthcare Pvt Ltd</td>
                                <td><input type="text" class="form-control" placeholder="Qty."></td>
                                <td><a href="javascript:;" role="button" class="btn btn-soft-primary btn-wide">Add</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>


<script>
    var TableDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#PresentationTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindPresentation, Controllers.Product, new { area ="", productId = Model.Id})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width": "20%" },
                { "title": "File Name", "data": "FileName", "orderable": true, "width": "20%" },
                { "title": "Size", "data": "Size", "orderable": true, "width": "20%" },
                { "title": "File Type", "data": "FileType", "orderable": true, "width": "20%" },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a data-fancybox href="'+window.location.origin + "/" +row["FileURL"]+'" class="btn btn-soft-primary">View</a>';
                        @*appendstring += '<a  href="javascript:void(0);" onclick="Delete(' + row["Id"] + ')" title="Delete"  > <img src="@Url.Content("~/Styles/img/delete.png")" alt="Delete" /></a> ';*@
                        return appendstring;
                    },
                    "orderable": true, "width": "20%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#PresentationTable")) {
                $('#PresentationTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }


    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
        ManageAssociatedDoctorsDT.init();
    });

    var ManageAssociatedDoctorsDT = function () {

    var initTable1 = function () {
        var table = $('#doctorList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDoctors, Controllers.Product, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ productId : @Model.Id})
            },
            "columns": [
                { "title": "Id", "data": "DoctorId", "orderable": true, "width": "11%" },
                {
                    "title": "Doctor Name", "data": "DoctorFirstName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showDoctorDetails(' + row["DoctorId"] + ')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["DoctorImage"] + '" class="rounded-circle"></span>' + data +' '+ row["DoctorLastName"]+'</a>';
                    },
                    "orderable": true, "width": "11%"
                },
                {
                    "title": "Gender", "data": "DoctorGender",
                    "render": function (data, type, row) {
                        return 0 == data ? "Male" : "Female";
                    },
                    "orderable": true, "width": "11%"
                },
                { "title": "Specialization", "data": "DoctorSpecializationName", "orderable": true, "width": "11%" },
                { "title": "Qualification", "data": "DoctorQualificationName", "orderable": true, "width": "11%" },
                { "title": "Mobile", "data": "DoctorMobile", "orderable": true, "width": "11%" },
                {
                    "title": "Status", "data": "DoctorStatus",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += "<div class='badge badge-success p-2'>Active</div>";
                        }
                        else {
                            appendstring += "<div class='badge badge-danger p-2'>In-active</div>";
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "11%"
                },
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "initComplete": function (settings, json) {
                $('#DoctorCount').html($('#doctorList').DataTable().data().count());
            },

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#doctorList")) {
                $('#doctorList').dataTable().fnDestroy();
            }
            initTable1();
        }
    };
    }();

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }
</script>