﻿@using MR.Pages;
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="d-flex flex-column flex-sm-row align-items-sm-center">
					<h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Tour Plan Manager</h6>
					<nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
						<ol class="breadcrumb mb-0 pl-0">
							<li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

							<li class="breadcrumb-item active" aria-current="page">Tour Plan Manager</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-white shadow-sm">
	<div class="row align-items-end py-3">
		<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
			<div class="form-group">
				<label class="custom-label" for="selectMonth">Month</label>
				<select class="form-control selectpicker" data-size="6" data-title="Select a option" id="selectMonth">
					<option>January</option>
					<option>February</option>
					<option>March</option>
					<option>April</option>
					<option>May</option>
					<option>June</option>
					<option>July</option>
					<option>Auguest</option>
					<option>September</option>
					<option>October</option>
					<option>November</option>
					<option>December</option>
				</select>
			</div>
		</div>
		<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="custom-label" for="selectHeadquarter">Headquarter</label>
                @Html.Raw(Html.DropDownList("FilterHeadquarter", (IEnumerable<SelectListItem>)ViewBag.Headquarter, "Select Headquarter", new { @Id = "selectHeadquarter", @class = "form-control selectpicker" }))
            </div>
		</div>

		<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="custom-label" for="selectRegion">Region</label>
                @Html.Raw(Html.DropDownList("FilterRegion", (IEnumerable<SelectListItem>)ViewBag.Region, "Select Region", new { @Id = "selectRegion", @class = "form-control selectpicker" }))
            </div>
		</div>

		<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
			<div class="form-group">
				<label class="custom-label" for="selectStatus">Status</label>
				@Html.Raw(Html.DropDownList("FilterStatus", (IEnumerable<SelectListItem>)ViewBag.Status, "Select Status", new { @Id = "IsSubmitted", @class = "form-control selectpicker" }))
            </div>
		</div>

		<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <button onclick="ReloadTable();" class="btn btn-primary btn-wide">View</button>
                <button onclick="ClearFilter();" class="btn btn-outline-primary btn-wide">Clear</button>
            </div>
		</div>
	</div>
</div>

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card table-responsive">
					<div class="card-body">
						<table class="table table-striped table-bordered table-hover" id="tourPlanList"></table>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="navbar-backdrop"></div>

<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div id="ContentemployeeDetailsModal" class="modal-content">
		</div>
	</div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>

    $(document).ready(() => {
		TableDatatablesColreorder.init();
    });

	function ReloadTable() {
		TableDatatablesColreorder.init();
    }

    function ClearFilter() {
        window.location.reload();
    }

	function ViewProfileDetails(id, type) {
        $.ajax({
            type : "POST",
            url: "@Url.Action("ViewProfile","TourPlanManager")",
            data: { Id: id, type: type },
            async: false,
            dataType: 'json',
            success: function (response) {              
                let htmlData = '';
                let Data = response.Item;
                if (type == "Employee") {
                    htmlData = `<div class="modal-header">
                <h5 class="modal-title" id="employeeDetailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.FirstName}</span>
                                    <span class="fw-medium">${Data.LastName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Id}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Gender == 1 ? 'Male' : 'Female'}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Qualification}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Mobile}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RoleName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.HeadquarterName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RegionName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <span class="fw-medium d-block">${Data.ReportingPersonName}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.CurrentAddressString}</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                         ${Data.Photo != null ? `<img alt = "" src = "${Data.Photo}" style = "width: 150px;" >`
                        : `<img alt = "" src = "/assets/images/avatar/Noimage.jpg" style="width: 150px;">`}
                        ${Data.IsActive == true ? `<div class="badge badge-success p-2 mt-2" >Active</div>` : `<div class="badge badge-danger p-2 mt-2" >In-Active</div>`}
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <button onclick="viewEmployeeProfile(${Data.Id});" class="btn btn-primary btn-wide">View Full Profile</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                   
                    $("#ContentemployeeDetailsModal").html(htmlData);
                    $("#employeeDetailsModal").modal("show");
                }

            },
            error: function(response){
        }
        });
    }

    let TableDatatablesColreorder = function () {

     let initTable1 = function () {
		 let table = $('#tourPlanList');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "TourPlanManager")',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                   "render": function (data, type, row) {
                        var htmlData = `${row["Id"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Employee Name", "data": "Id",
					"render": function (data, type, row) {					
                        var htmlData = `<a href="#" onclick="ViewProfileDetails(${row["EmployeeId"]},'Employee')">
                                                        ${row["EmployeeName"]}
                                                    </a>`;

                       return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Gender", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${row["Gender"] ==1 ? 'Male' : 'Female'}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Position", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${row["RoleName"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Submited Date", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${row["SubmittedDate"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Status", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = "";
                        if (row["IsSubmitted"] == 1) {
                            htmlData = `<div class="badge badge-success p-2">Submitted</div>`;
                        } else {
                            htmlData = `<div class="badge badge-danger p-2">Not Submitted</div>`;
                        }

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Action", "data": "Id",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (data) {
                            appendstring += `<a href='@Url.Action("CreateTourPlan","TourPlanManager")?TourPlanId=${btoa(row["Id"])}&IsSubmitted=1' class='btn btn-primary'>View tour plan</a>`;
                        }
                        else {
                            appendstring += `<a href='@Url.Action("CreateTourPlan","TourPlanManager")?TourPlanId=${btoa(row["Id"])}&IsSubmitted=0' class='btn btn-soft-primary border'>Edit tour plan</a>`;
                        }
                        return appendstring;
                    }
                    , "orderable": false, "width": "3%"
                }			

            ],         
            "buttons": [
            ],            
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] 
            ],            

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
         });
    }

    return {

        //main function to initiate the module
		init: function () {

			if ($.fn.DataTable.isDataTable("#tourPlanList")) {

				$('#tourPlanList').dataTable().fnDestroy();
				//$('#divTPM').html('<table class="table table-striped" width="100%" id="DSRTable"></table>');
            }
            initTable1();
        }
    };

}();

    function BuildSearchCriteria() {
            try {
                var param = {};

				param["IsSubmitted"] = $("#IsSubmitted").val();
                param["Month"] = $("#selectMonth").val();
                param["Headquarter"] = $("#selectHeadquarter").val();
                param["Region"] = $("#selectRegion").val();

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    function viewEmployeeProfile(id) {      
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Employee, new { Area = "" })?Id=" + id;      
    }
</script>

