﻿
@{
	ViewBag.Title = "ViewTourPlan";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<div class="page-breadcrumb breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="d-flex flex-column flex-sm-row align-items-sm-center">
					<h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">View Tourplan</h6>
					<nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
						<ol class="breadcrumb mb-0 pl-0">
							<li class="breadcrumb-item"><a href="./index.html">Home</a></li>
							<li class="breadcrumb-item"><a href="./employee-tourplan-manager.html">Tourplan</a></li>
							<li class="breadcrumb-item active" aria-current="page">View Tourplan</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="page-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="card table-responsive mb-3">
					<div class="card-header">
						<h5 class="mb-0">Tour Plan for July - 2021</h5>
					</div>
					<div class="card-body">
						<table id="viewTourPlanList" class="table table-sm border rounded display nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th scope="col">Date</th>
									<th scope="col">Day</th>
									<th scope="col">Work Type</th>
									<th scope="col">Work At</th>
									<th scope="col">Work Routes</th>
									<th scope="col">Work With</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td>01-07-2021</td>
									<td>Thursday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Ahmedabad,<br>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>02-07-2021</td>
									<td>Friday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>03-07-2021</td>
									<td>Saturday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>04-07-2021</td>
									<td>Sunday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>05-07-2021</td>
									<td>Monday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>06-07-2021</td>
									<td>Tuesday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>07-07-2021</td>
									<td>Wednesday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>08-07-2021</td>
									<td>Thursday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>09-07-2021</td>
									<td>Friday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>10-07-2021</td>
									<td>Saturday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>11-07-2021</td>
									<td>Sunday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>12-07-2021</td>
									<td>Thursday</td>
									<td>Field Work</td>
									<td>Head Quarter</td>
									<td>Ahmedabad - Palanpur</td>
									<td>
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img alt="avatar" src="./assets/images/avatar/2.jpg" class="rounded-circle">
											</div>
											<div class="ml-2">
												<h6 class="mb-0">William Muse</h6>
												<span class="fs-13">BE - Ahmedabad - 5</span>
											</div>
										</div>
									</td>
									<td><a href="" class="btn btn-soft-primary" data-toggle="modal" data-target="#viewCallsListModal">View Doctor / Chemist</a></td>
								</tr>

								<tr>
									<td>13-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>14-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>15-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>16-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>17-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>18-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>19-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>20-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>21-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>22-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>23-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>24-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>25-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>26-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>27-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>28-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>29-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>

								<tr>
									<td>30-07-2021</td>
									<td>Thursday</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>



							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="viewCallsListModal" tabindex="-1" aria-labelledby="viewCallsListModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewCallsListModalLabel">View Calls List</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table id="viewCallsList" class="table border rounded display nowrap" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>#</th>
								<th>Doctor / Chemist Name</th>
								<th>Calls type</th>
								<th>HQ</th>
								<th>Region</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>01</td>
								<td>
									<a href="./profile-doctor.html">
										<span class="avatar m-1"><img alt="avatar" src="./assets/images/avatar/1.jpg" class="rounded-circle"></span>
										Joann McDowell
									</a>
								</td>
								<td>Doctor</td>
								<td>Ahmedabad</td>
								<td>South Ahmedabad</td>
								<td>
									<span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
								</td>
							</tr>

							<tr>
								<td>02</td>
								<td>
									<a href="./profile-chemist.html">
										<span class="avatar avatar-info m-1"><span class="avatar-initials">N</span></span>
										Noble Medical Store
									</a>
								</td>
								<td>Doctor</td>
								<td>Ahmedabad</td>
								<td>South Ahmedabad</td>
								<td>
									<span>2842 Victoria Street</span><br><span>Baton Rouge, LA 70806</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Scripts -->
<script src="assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendors/eva-icons/eva.min.js"></script>
<script src="assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="assets/vendors/daterangepicker/moment.min.js"></script>
<script src="assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="assets/js/main.min.js"></script>




<script>
	$('#viewTourPlanList').DataTable({
		responsive: true
	});

	$('#viewCallsList').DataTable({
		responsive: true
	});
</script>

