﻿@using MR.Pages;
@using MR.Common;

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="">
    <meta name=keywords content="">
    <meta name=author content="">
    <meta name="OWNER" content="">
    <meta http-equiv="Cache-Control" content="Public">
    <link rel="icon" href="~/assets/images/logo.png" type="image/png">

    <title>Norgam Medicaments Pvt. Ltd.</title>


    <!-- Stylesheets -->
    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.3/r-2.2.7/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/summernote/dist/summernote.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/slick-carousel/slick/slick-theme.css" />
    <link href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" rel="stylesheet" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
    <link rel="stylesheet" href="~/Styles/toastr.min.css" />

    <style>
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9999;
            background: rgba(255,255,255,0.8) url("../../assets/loader.gif") center no-repeat;
        }
        /* Turn off scrollbar when body element has the loading class */
        body.loading {
            overflow: hidden;
        }
        /* Make spinner image visible when body element has the loading class */
        body.loading .overlay {
            display: block;
        }
        .error {
            color: red;
        }
    </style>
</head>


<body>
    <div class="overlay"></div>
    <!-- Navbar -->
    <header class="navbar navbar-expand-md navbar-bordered bg-white px-0 sticky-top">
        <nav class="navbar-light w-100">
            <div class="container-fluid">

                <!-- Navbar Toggler -->
                <button class="navbar-toggler offcanvas-toggler" type="button" data-toggle="collapse" data-target="#primaryNavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand Logo -->
                <a class="navbar-brand d-flex order-1 ml-md-0" href="~/index.html">
                    <img src="~/assets/images/logo-sm.png" class="img-fluid" alt="">
                    <img src="~/assets/images/logo-text.png" class="img-fluid d-none d-lg-block ml-sm-2" alt="">
                </a>

                <!-- Secondary Navigation -->
                <ul class="nav ml-auto order-2 order-md-3">

                    <!-- Search -->
                    <li>
                        <button class="btn btn-hover-secondary btn-icon" type="button">
                            <i class="hw-16" data-eva="search-outline"></i>
                        </button>
                    </li>

                    <!-- Notifications -->
                    <li>
                        <div class="dropdown dropdown-notification">
                            <!-- Dropdown Button -->
                            <button class="btn btn-hover-secondary btn-icon" type="button" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="hw-16" data-eva="bell-outline"></i>
                            </button>

                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-sm-right" data-simplebar aria-labelledby="notificationDropdown">
                                <ul class="list-group list-group-flush rounded">

                                    <!-- List Item -->
                                    <li class="list-group-item unread">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Maxine Adkinson:</h6>
                                                <p class="line-clamp-2 mb-2">Nice work, love! You really nailed it. Keep it up! Congratulations for your promotion.</p>
                                                <span class="text-muted">
                                                    <span>Just Now</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon btn-soft-secondary">
                                                <i class="hw-16" data-eva="file-text-outline"></i>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Report:</h6>
                                                <p class="line-clamp-2 mb-2">Financial report of June - July month is ready to download</p>
                                                <span class="text-muted">
                                                    <span>Aug 25,</span><span class="ml-1">2:19 PM</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon btn-soft-success">
                                                <i class="hw-16" data-eva="checkmark-circle-2-outline"></i>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Leave Application:</h6>
                                                <p class="line-clamp-2 mb-2">Your leave request #122AG5 for two days is approved</p>
                                                <span class="text-muted">
                                                    <span>Aug 25,</span><span class="ml-1">2:19 PM</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/assets/images/avatar/3.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Gloria Rader:</h6>
                                                <p class="line-clamp-2 mb-2">Start using forms to capture the information of prospects visiting your Google website</p>
                                                <span class="text-muted">
                                                    <span>2 hours ago,</span><span class="ml-1">2:19 PM</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon btn-soft-danger">
                                                <i class="hw-16" data-eva="close-circle-outline"></i>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Leave Application:</h6>
                                                <p class="line-clamp-2 mb-2">Your leave request #122AG5 for five days is rejected</p>
                                                <span class="text-muted">
                                                    <span>Feb 28,</span><span class="ml-1">2:19 PM</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                    <!-- List Item -->
                                    <li class="list-group-item">
                                        <div class="d-flex link-unstyled">
                                            <div class="btn-icon">
                                                <div class="avatar avatar-sm avatar-indicators avatar-success">
                                                    <img alt="avatar" src="~/assets/images/avatar/4.jpg" class="rounded-circle">
                                                </div>
                                            </div>

                                            <div class="ml-3">
                                                <h6 class="mb-1">Adam Sanmiguel:</h6>
                                                <p class="line-clamp-2 mb-2">Start using forms to capture the information of prospects visiting your Google website</p>
                                                <span class="text-muted">
                                                    <span>2 hours ago,</span><span class="ml-1">2:19 PM</span>
                                                </span>
                                            </div>

                                            <a href="" class="stretched-link"></a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Profile -->
                    <li>
                        <div class="dropdown dropdown-profile ml-2">
                            <!-- Dropdown Button -->
                            <button class="btn btn-hover-secondary btn-icon" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="avatar avatar-sm avatar-indicators avatar-success">
                                    <img alt="avatar" src="~/@Convert.ToString(Request.Cookies["AdminUserLogin"].Values["LoginUserImg"])" class="rounded-circle">
                                </span>
                            </button>

                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <!-- Dropdown Head -->
                                <div class="dropdown-head justify-content-start">
                                    <div class="avatar">
                                        <img alt="avatar" src="~/@Convert.ToString(Request.Cookies["AdminUserLogin"].Values["LoginUserImg"])" class="rounded-circle">
                                    </div>

                                    <div class="text-truncate ml-2">
                                        <h6 class="mb-1">@ProjectSession.AdminUserName</h6>
                                        @*<p class="fs-13 mb-0 text-muted">BM-Ahmedabad-2</p>*@
                                    </div>
                                </div>

                                <!-- Dropdown Body -->
                                <div class="dropdown-body">
                                    <ul class="list-unstyled py-2">
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Account settings</a></li>
                                        <li><a class="dropdown-item" href="#">Analytics</a></li>
                                        <li><a class="dropdown-item" href="#">Manage Team</a></li>
                                        <li><div class="dropdown-divider"></div></li>
                                        <li><a class="dropdown-item" href="@Url.Action(Actions.Logout, Controllers.Account, new { Area = ""})">Sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Primary Navigation -->
                <div class="collapse make-me-offcanvas navbar-collapse ml-md-3 order-3 order-md-2" id="primaryNavigation">

                    <div class="d-flex sticky-top border-bottom align-items-center justify-content-between pl-3 py-2 bg-white d-md-none">
                        <h5 class="mb-0">Menu</h5>
                        <button class="navbar-toggler offcanvas-toggler border-0" type="button" data-toggle="collapse" data-target="#primaryNavigation">
                            <i data-eva="close-outline"></i>
                        </button>
                    </div>


                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Masters</a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action(Actions.Index, Controllers.Doctors, new { area =""})" class="dropdown-item">Doctors</a>
                                <a href="@Url.Action(Actions.Index, Controllers.Chemist, new { area =""})" class="dropdown-item">Chemists</a>
                                <a href="/MCP/" class="dropdown-item">MCP</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Admin</a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action(Actions.Index, Controllers.RegionManager, new { area =""})" class="dropdown-item">Region Manager</a>
                                <a href="/StockList/" class="dropdown-item">Stockist</a>
                                @*<a href="/TourPlanManager" class="dropdown-item">Tour Plan Manager</a>*@
								<a href="@Url.Action(Actions.Index, Controllers.TourPlanManager, new { area =""})" class="dropdown-item">Tour Plan Manager</a>
                                <a href="@Url.Action(Actions.Index, Controllers.DSRManager, new { area =""})" class="dropdown-item">DSR Manager</a>
                                <a href="@Url.Action(Actions.Index, Controllers.Route, new { area =""})" class="dropdown-item">Route Manager</a>
                                <a href="@Url.Action(Actions.Index, Controllers.Product, new { area =""})" class="dropdown-item">Product Manager</a>
                                <a href="/LeaveManager/" class="dropdown-item">Leave Manager</a>
                                <a href="/CampaignManager/" class="dropdown-item">Campaign Manager</a>
                                <a href="@Url.Action(Actions.ManagePassword, Controllers.Employee, new { area =""})" class="dropdown-item">Password Manager</a>
                                <a href="@Url.Action(Actions.Index, "Settings", new { area =""})" class="dropdown-item">Settings</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Transections</a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action(Actions.DSRReport, Controllers.DSRManager, new { area =""})" class="dropdown-item">DSR</a>
                                <a href="@Url.Action(Actions.Index, Controllers.TourPlan, new { area =""})" class="dropdown-item">Tour Plan</a>
                                <a href="~/apply-for-leave.html" class="dropdown-item">Apply for Leave</a>
                                <a href="~/stock-entry.html" class="dropdown-item">Stock Entry</a>
                                <a href="~/prescriber-entry.html" class="dropdown-item">Prescriber Entry</a>
                            </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Reports</a>
                            <div class="dropdown-menu">
                                <a href="javascript:;" class="dropdown-item">Reports 1</a>
                                <a href="javascript:;" class="dropdown-item">Reports 2</a>
                                <a href="javascript:;" class="dropdown-item">Reports 3</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Logistics</a>
                            <div class="dropdown-menu">
                                <a href="javascript:;" class="dropdown-item">Primary Billing Entry</a>
                                <a href="javascript:;" class="dropdown-item">CN - Goods Return Entry</a>
                                <a href="javascript:;" class="dropdown-item">Extra...</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">HR</a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action(Actions.Index, Controllers.Employee, new { area =""})" class="dropdown-item">Employee Manager</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>

    <!-- PopUp -->
    @Html.Raw(ViewBag.openPopup)

    <script>
        $(document).on({
            ajaxStart: function () {
                $("body").addClass("loading");
            },
            ajaxStop: function () {
                $("body").removeClass("loading");
            }
        });
    </script>
</body>
</html >
