﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Leave Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Leave Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <table id="tourPlanList" class="table table-sm border rounded display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">Request ID</th>
                                    <th scope="col">Employee Name</th>
                                    <th scope="col">Submitted Date</th>
                                    <th scope="col">From Date</th>
                                    <th scope="col">To Date</th>
                                    <th scope="col">Leave Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td>-</td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td><div class="badge badge-success p-2">Approved</div></td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td><div class="badge badge-danger p-2">Rejected</div></td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>


                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td><div class="badge badge-success p-2">Approved</div></td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td><div class="badge badge-danger p-2">Rejected</div></td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>


                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td><div class="badge badge-success p-2">Approved</div></td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">12315</th>
                                    <td>
                                        <a href="" data-target="#employeeDetailsModal" data-toggle="modal">
                                            <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                            William Muse
                                        </a>
                                    </td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>20/12/2021</td>
                                    <td>Personal Leave</td>
                                    <td><div class="badge badge-danger p-2">Rejected</div></td>
                                    <td><a href="" data-toggle="modal" data-target="#updateLeaveRequest" class="btn btn-soft-primary">View & Update</a></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- modal -->
<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeDetailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">William</span>
                                    <span class="fw-medium">Muse</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">45613</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Male</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">B. Pharm</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">8445845765</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Sales Manager</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">South Ahmedabad</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <span class="fw-medium d-block">Bharat Ribadiya</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">2842 Victoria Street</span>
                                    <span class="fw-medium">Baton Rouge, LA 70806</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/2.jpg" alt="">
                        <div class="badge badge-success p-2 mt-2">Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="~/profile-employee.html" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="modal fade" id="updateLeaveRequest" tabindex="-1" aria-labelledby="updateLeaveRequestLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateLeaveRequestLabel">Update Leave Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-12">Leave Type</div>
                        <div class="text-dark">
                            <span class="fw-medium">Personal Leave</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-12">Day Type</div>
                        <div class="text-dark">
                            <span class="fw-medium">Full Day</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-12">From Date</div>
                        <div class="text-dark">
                            <span class="fw-medium">24/10/2021</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-12">To Date</div>
                        <div class="text-dark">
                            <span class="fw-medium">25/10/2021</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-12">No. of Days</div>
                        <div class="text-dark">
                            <span class="fw-medium">2 Days</span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="text-muted fs-12">Leave Reason</div>
                        <div class="text-dark">
                            <span class="fw-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sapiente illum, excepturi libero tempore quia!</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Reject</button>
                <button type="button" class="btn btn-success">Approve</button>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>




<script>
            $('#tourPlanList').DataTable( {
                responsive: true
            });

</script>

