﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken();
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">DSR Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">DSR Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white shadow-sm">
    <div class="row align-items-end py-3">
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="custom-label">Date</label>
                <input type="text" id="FilterrDate" class="form-control single-date-picker" value="" />
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="custom-label" for="selectHeadquarter">Headquarter</label>
                @*<select class="form-control selectpicker" data-size="6" data-title="Select a option" id="selectHeadquarter">
                        <option>Ahmedabad</option>
                        <option>Surat</option>
                        <option>Rajkot</option>
                        <option>Junagadh</option>
                        <option>Jamnagar</option>
                        <option>Vadodara</option>
                    </select>*@
                @Html.Raw(Html.DropDownList("FilterHeadquatar", (IEnumerable<SelectListItem>)ViewBag.Headquatar, "Select Headquatar", new { @Id = "FilterHeadquatar", @class = "form-control selectpicker" }))
            </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="custom-label" for="selectRegion">Region</label>
                @*<select class="form-control selectpicker" data-size="6" data-title="Select a option" id="selectRegion">
                        <option>East Ahmedabad</option>
                        <option>West Ahmedabad</option>
                        <option>South Ahmedabad</option>
                        <option>North Ahmedabad</option>
                        <option>Central Ahmedabad</option>
                    </select>*@
                @Html.Raw(Html.DropDownList("FilterRegion", (IEnumerable<SelectListItem>)ViewBag.Region, "Select Region", new { @Id = "FilterRegion", @class = "form-control selectpicker" }))
            </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="custom-label" for="selectStatus">Status</label>
                @*<select class="form-control selectpicker" data-size="6" data-title="Select a option" id="selectStatus">
                        <option>Submitted</option>
                        <option>Not Submitted</option>
                    </select>*@
                @Html.Raw(Html.DropDownList("FilterStatus", (IEnumerable<SelectListItem>)ViewBag.Status, "Select Status", new { @Id = "FilterStatus", @class = "form-control selectpicker" }))
            </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
                <button onclick="ReloadTable();" class="btn btn-primary btn-wide">View</button>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div id="divDSR" class="table-responsive ">
                            <table class="table table-striped table-bordered table-hover" id="DSRTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>



<!-- modal -->
<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div id="ContentemployeeDetailsModal" class="modal-content">

        </div>
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>




<script>

    $(document).ready(() => {
        TableDatatablesColreorder.init();
    });
    function ReloadTable() {
        TableDatatablesColreorder.init();
    }
    function ViewProfileDetails(id, type) {
        $.ajax({
            type : "POST",
            url: "@Url.Action("ViewProfile","DSRManager")",
            data: { Id: id, type: type },
            async: false,
            dataType: 'json',
            success: function (response) {
                debugger;
                let htmlData = '';
                let Data = response.Item;
                if (type == "Employee") {
                    htmlData = `<div class="modal-header">
                <h5 class="modal-title" id="employeeDetailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.FirstName}</span>
                                    <span class="fw-medium">${Data.LastName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Id}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Gender == 1 ? 'Male' : 'Female'}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Qualification}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Mobile}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RoleName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.HeadquarterName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RegionName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <span class="fw-medium d-block">${Data.ReportingPersonName}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.CurrentAddressString}</span>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" onerror="ImageError(this);" src="${Data.PhotoUrl}" alt="">
                        ${Data.IsActive == true ? `<div class="badge badge-success p-2 mt-2" >Active</div>` : `<div class="badge badge-danger p-2 mt-2" >In-Active</div>`}
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">

                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                    //<a href="#" role="button" class="btn btn-primary">View Full Profile</a>
                    $("#ContentemployeeDetailsModal").html(htmlData);
                    $("#employeeDetailsModal").modal("show");
                } else if (type == "Chemist") {

                    htmlData = ` <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Name}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Id}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.ContactPerson}</span>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Mobile}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Phone}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.HeadquarterName}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.RegionName}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.BuisnessPotential}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.AddressString}</span>

                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer justify-content-start">

                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                    //<a href="#" role="button" class="btn btn-primary">View Full Profile</a>
                    $("#ContentchemistDetailsModal").html(htmlData);
                    $("#chemistDetailsModal").modal("show");
                }
                else if (type == "Doctor") {

                    htmlData = ` <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.FirstName}</span>
                                    <span class="fw-medium">${Data.LastName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Id}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Gender == 1? 'Male' :'Female'}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.SpecializationName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.QualificationName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Mobile}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.HeadquarterName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RegionName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.BuisnessPotential}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    ${Data.AddressString}
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img onerror="ImageError(this);" class="img-fluid rounded shadow-2" src="${Data.PhotoUrl}" alt="">
                        ${Data.IsActive == true ? `<div class="badge badge-success p-2 mt-2" >Active</div>` : `<div class="badge badge-danger p-2 mt-2" >In-Active</div>`}
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">

                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                    //<a href="#" role="button" class="btn btn-primary">View Full Profile</a>
                    $("#ContentdoctorDetailsModal").html(htmlData);
                    $("#doctorDetailsModal").modal("show");
                }

            },
            error: function(response){
        }
        });
    }
    function ImageError(object) {
        $(object).removeAttr("src");
        $(object).attr("src","../Images/noImage.png");
    }
      let TableDatatablesColreorder = function () {

     let initTable1 = function () {
         let table = $('#DSRTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "DSRManager")',
                type: "post",
                data: BuildSearchCriteria('ManageDSR')
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                   "render": function (data, type, row) {
                        var htmlData = `${row["Id"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Employee Name", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `<a href="#" onclick="ViewProfileDetails(${row["Id"]},'Employee')">
                                                        <span class="avatar m-1"><img alt="avatar" onerror="ImageError(this);" src="${row["EmployeeProfileUrl"]}" class="rounded-circle"></span>
                                                        ${row["EmployeeName"]}
                                                    </a>`;

                       return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Gender", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${row["Gender"] ==1 ? 'Male' : 'Female'}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Position", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${row["WorkTypeName"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Submited Date", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${row["CreatedDateStr"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Status", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = "";
                        if (row["StatusId"] == 1) {
                            htmlData = `<div class="badge badge-success p-2">Submitted</div>`;
                        } else {
                            htmlData = `<div class="badge badge-danger p-2">Not Submitted</div>`;
                        }

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Action", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `<a class="btn btn-soft-primary" href="@Url.Action("ViewDSR","DSRManager")?ri=${btoa(row["Id"])}">View DSR</a>`;


                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                }

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#DSRTable")) {
                $('#DSRTable').dataTable().fnDestroy();
                $('#divDSR').html('<table class="table table-striped" width="100%" id="DSRTable"></table>');
            }
            initTable1();
        }
    };

}();

    function BuildSearchCriteria(type= "") {
            try {
                var param = {};
                if (type == "ManageDSR") {
                    param["Date"] = $("#FilterDate").val();
                    param["type"] = type;
                    param["HeadquaterId"] = $("#FilterHeadquatar").val();
                    param["RegionId"] = $("#FilterRegion").val();
                    param["StatusId"] = $("#FilterStatus").val();
                    param["DSRId"] = 0;

                }

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
    }

</script>

