﻿@using MR.Pages;
@{
    ViewBag.Title = "Manage DSR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
@model MR.Entities.Contract.AbstractDSR

<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New DSR</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.DSRReport, Controllers.DSRManager, new { Area = ""})">DSR</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New DSR</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm(Actions.AddDSR, Controllers.DSRManager, FormMethod.Post, new { @class = "row justify-content-center", enctype = "multipart/form-data", area = "", returnUrl = "", onsubmit = "return validateData();" }))
        {
            @Html.HiddenFor(m => m.Id);
            @Html.HiddenFor(m => m.EmployeeId);
            @Html.HiddenFor(m => m.ChemistId);
            @Html.HiddenFor(m => m.DoctorId);
            <div class="col-12">
                <!-- Basic Details -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Basic Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label">Date</label>
                                    @Html.TextBoxFor(m => m.Date, new { @id = "DSRDate", @class = "form-control single-date-picker" })
                                    @*<input type="text" id="DSRDate" class="form-control single-date-picker" value="" />*@
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="workAtSelect">Work At</label>
                                    @Html.Raw(Html.DropDownListFor(m => m.RouteTypeId, (IEnumerable<SelectListItem>)ViewBag.WorkAtDD, "Select option", new { @name = "workAtSelect", @class = "form-control selectpicker" }))
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="workTypeSelect">Work Type</label>
                                    @Html.Raw(Html.DropDownListFor(m => m.WorkTypeId, (IEnumerable<SelectListItem>)ViewBag.WorkTypeDD, "Select option", new { @name = "workTypeSelect", @class = "form-control selectpicker" }))
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="workRouteSelect">Work Route</label>
                                    @Html.Raw(Html.DropDownListFor(m => m.RouteId, (IEnumerable<SelectListItem>)ViewBag.WorkRouteDD, "Select option", new { @name = "workRouteSelect", @class = "form-control selectpicker" }))
                                    @*<select class="form-control selectpicker" multiple data-live-search="true" data-selected-text-format="count > 1" data-size="5" data-title="Select a option" id="workRouteSelect">
                                        <option data-tokens="Ahmedabad - Ahmedabad">Ahmedabad - Ahmedabad</option>
                                        <option data-tokens="Ahmedabad - Bagodara">Ahmedabad - Bagodara</option>
                                        <option data-tokens="Ahmedabad - Palanpur">Ahmedabad - Palanpur</option>
                                        <option data-tokens="Ahmedabad - Palanpur">Ahmedabad - Palanpur</option>
                                        <option data-tokens="Ahmedabad - Palanpur">Ahmedabad - Palanpur</option>
                                        <option data-tokens="Ahmedabad - Palanpur">Ahmedabad - Palanpur</option>
                                        <option data-tokens="Ahmedabad - Palanpur">Ahmedabad - Palanpur</option>
                                    </select>*@
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="custom-label" for="VisitSelect">Visit type</label>
                                    @Html.Raw(Html.DropDownListFor(m => m.VisitTypeId, (IEnumerable<SelectListItem>)ViewBag.VisitTypeDD, "Select option", new { @name = "VisitSelect", @class = "form-control selectpicker" }))
                                    @*<select class="form-control selectpicker" data-size="5" data-title="Select a option" id="workRouteSelect">
                                        <option>Both</option>
                                        <option>Only Doctors</option>
                                        <option>Only Chemist</option>
                                    </select>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="@Url.Action(Actions.DSRReport, Controllers.DSRManager)" class="btn btn-light border btn-wide">Cancel</a>
                <button type="submit" class="btn btn-primary btn-wide">Next</button>
            </div>
        }
    </div>
</div>

<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    function validateData() {
        let Date = $('#Date').val();
        if (Date === NaN || Date === "") {
            ShowMessageToastr("danger", "Date Can't be empty.");
            $("#Date").focus();
            return false;
        }

        let RouteTypeId = $('#RouteTypeId').val();
        if (RouteTypeId === NaN || RouteTypeId === "") {
            ShowMessageToastr("danger", "Please select a WorkAt.");
            $("#RouteTypeId").focus();
            return false;
        }

        let WorkTypeId = $('#WorkTypeId').val();
        if (WorkTypeId === NaN || WorkTypeId === "") {
            ShowMessageToastr("danger", "Please select a Work Type.");
            $("#WorkTypeId").focus();
            return false;
        }

        let VisitTypeId = $('#VisitTypeId').val();
        if (VisitTypeId === NaN || VisitTypeId === "") {
            ShowMessageToastr("danger", "Please select a Visit Type.");
            $("#VisitTypeId").focus();
            return false;
        }

        let WorkAt = $('#WorkAt').val();
        if (WorkAt === NaN || WorkAt === "") {
            ShowMessageToastr("danger", "Please select a WorkAt.");
            $("#WorkAt").focus();
            return false;
        }
    }
</script>