﻿@using MR.Pages;
@{
    ViewBag.Title = "Manage DSR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Add New DSR</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.DSRReport, Controllers.DSRManager, new { Area = ""})">DSR</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New DSR</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <form class="row justify-content-center">
            <div class="col-12">

                <!-- Select Chemist -->
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Select Doctors</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right mb-3">
                                <button class="btn btn-primary" type="button" data-target="#dsrChemistModal" data-toggle="modal">Add Visited Doctors</button>
                            </div>
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="chemistList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="@Url.Action(Actions.ManageDSR2, Controllers.DSRManager, new { dsrId = ViewBag.DSRId})" class="btn btn-light border btn-wide">Previous</a>
                <a href="@Url.Action(Actions.SubmitDSRReport, Controllers.DSRManager, new { dsrId = ViewBag.DSRId})" class="btn btn-primary btn-wide">Submit</a>
                <a href="@Url.Action(Actions.DraftDSRReport, Controllers.DSRManager, new { dsrId = ViewBag.DSRId})" class="btn btn-secondary btn-wide">Save as draft</a>
            </div>
        </form>
    </div>
</div>

<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modal -->
<div class="modal fade" id="dsrChemistModal" tabindex="-1" aria-labelledby="dsrChemistModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dsrChemistModalLabel">Add Visited Doctors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="modalChemistList" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                @*<a href="#!" role="button" class="btn btn-primary">Save</a>*@
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Name"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Id"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Gender"></label>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Specialization"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Qualification"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Mobile"></label>

                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Headquarter"></label>

                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="Region"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="BusinessPotential"></label>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    <label class="fw-medium" id="AddressString"></label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="" id="Photo">
                        <div class="badge badge-success p-2 mt-2" id="Active">Active</div>
                        <div class="badge badge-danger p-2 mt-2" id="InActive">In-Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:void(0);" onclick="viewDoctorProfile()" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editChemistReportModal" tabindex="-1" aria-labelledby="editChemistReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editChemistReportModalLabel">Edit Chemist Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="chemistId" />
                <input type="hidden" id="visitedChemistId" />
                <input type="hidden" id="DSRId" />
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="CallIn">Call In</label>
                            @Html.Raw(Html.DropDownList("CallIn", (IEnumerable<SelectListItem>)ViewBag.CallInDD, "Select option", new { @name = "CallIn", @class = "form-control selectpicker" }))
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="outcomeSelect">Outcome</label>
                            @Html.Raw(Html.DropDownList("outcomeSelect", (IEnumerable<SelectListItem>)ViewBag.OutComeDD, "Select option", new { @name = "outcomeSelect", @class = "form-control selectpicker" }))
                        </div>
                    </div>



                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label class="custom-label" for="workWith">Work with</label>
                            @Html.Raw(Html.DropDownList("workWith", (IEnumerable<SelectListItem>)ViewBag.WorkInPersonDD, "Select option", new { @name = "workWith", @class = "form-control selectpicker" }))
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="remarksArea">Remarks</label>
                            <textarea class="form-control" id="remarksArea" placeholder="Enter chemist remarks here" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <hr>


                <div class="row">
                    <div class="col-12">
                        <label class="custom-label mb-3">Target Products</label>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="addTargetProductTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button onclick="AddChemist(0, true)" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="targetProductModalWithOrder" tabindex="-1" aria-labelledby="targetProductModalWithOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="targetProductModalWithOrderLabel">Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="targetProductTableWithOrder" class="table border rounded display nowrap" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>

<script>
    $(document).ready(() => {
        TableChemistDatatables.init();
        TablemodalChemistList.init();
    });

function showDoctorDetails(Id) {
        $.ajax({
            url: '@Url.Action(Actions.GetDoctor, Controllers.Doctors, new { area = "" })',
            data: { Id: Id },
            type: 'POST',
            datatype: 'json',
                success: function (data) {
                    $('#doctorDetailsModal #Id').text(data.Id);
                    $('#doctorDetailsModal #Name').text(data.FirstName + ' ' + data.LastName);
                    $('#doctorDetailsModal #Gender').text(data.Gender == 0? "Male" : "Female");
                    $('#doctorDetailsModal #Mobile').text(data.Mobile);
                    $('#doctorDetailsModal #Specialization').text(data.SpecializationName);
                    $('#doctorDetailsModal #Qualification').text(data.QualificationName);
                    $('#doctorDetailsModal #Headquarter').text(data.HeadquarterName);
                    $('#doctorDetailsModal #Region').text(data.RegionName);
                    $('#doctorDetailsModal #BusinessPotential').text(data.BuisnessPotential);
                    $('#doctorDetailsModal #AddressString').text(data.AddressString);

                    if (data.IsActive == true) {
                        $('#doctorDetailsModal #InActive').hide();
                        $('#doctorDetailsModal #Active').show();
                    }
                    else {
                        $('#doctorDetailsModal #Active').hide();
                        $('#doctorDetailsModal #InActive').show();
                    }

                    $('#doctorDetailsModal #Photo').attr('src', window.location.origin + "/" +data.Photo);
                    $('#doctorDetailsModal').modal('show');
                },
                error: function () { }
            });
    }

function viewDoctorProfile() {
        window.location.href = "@Url.Action(Actions.Profile, Controllers.Doctors, new { Area = "" })?Id=" + $('#doctorDetailsModal #Id').text();
    }

var TableChemistDatatables = function () {

    var initTable1 = function () {
        var table = $('#chemistList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.DSRManager, new { area =""})',
                type: "post",
                data: BuildSearchCriteria("DSRDoctor")
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width": "12%" },
                { "title": "DoctorId", "data": "DoctorId", "orderable": true, "width": "12%", "visible":false },
                {
                    "title": "Doctor Name", "data": "DoctorName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showDoctorDetails(' + row["DoctorId"] + ')"><span class="avatar avatar-info m-1"><span class="avatar-initials">' + data.substring(0, 1) + '</span></span>' + data + '</a>';
                    },
                    "orderable": true, "width": "13%"
                },
                { "title": "Call In", "data": "CallInName", "orderable": true, "width": "13%" },
                { "title": "Work With", "data": "WorkWithName", "orderable": true, "width": "13%" },
                {
                    "title": "Target Products", "data": null,
                    "render": function (data, type, row) {
                        return '<a href="javascript:void(0);" onclick="showTargetProduct(' + row["DoctorId"] + ')">View Products</a>';
                    },
                    "orderable": true, "width": "13%"
                },
                {
                    "title": "Outcome", "data": "OutcomeName",
                    "render": function (data) {
                        if (data == null) {
                            return "";
                        }
                        return '<div class="badge badge-success p-2">' + data+'</div>';
                    },
                    "orderable": true, "width": "12%"
                },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '<button type="button" onclick="editChemist(' + row["Id"]+')" class="btn btn-light border btn-sm">Edit</button>&nbsp; ';
                        appendstring += '<button type="button" onclick="RemoveChemist(' + row["Id"]+')" class="btn btn-soft-danger border btn-sm"> Remove</button>';
                        return appendstring;
                    },
                    "orderable": true, "width": "12%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#chemistList")) {
                $('#chemistList').dataTable().fnDestroy();
            }
            initTable1();
            $('#chemistList').DataTable().column(1).visible(false);
        }
    };
}();

    var TablemodalChemistList = function () {

    var initTable1 = function () {
        var table = $('#modalChemistList');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDoctors, Controllers.Doctors, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Id", "data": "Id", "orderable": true, "width":"12%" },
                {
                    "title": "Doctor Name", "data": "FirstName",
                    "render": function (data, type, row) {
                        return '<a  href="javascript:void(0);" onclick="showDoctorDetails(' + row["Id"] + ')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["Photo"] + '" class="rounded-circle"></span>' + data + ' ' + row["LastName"] + '</a>';
                    },
                    "orderable": true, "width": "13%"
                },
                { "title": "Address", "data": "AddressString", "orderable": true, "width": "13%" },
                //{
                //    "title": "Contact Person", "data": "ContactPerson",
                //    "render": function (data, type, row) {
                //        return '<div class="text-black fw-medium">' + row["ContactPerson"] +'</div><div class="fs-13">'+row["Mobile"]+'</div>';
                //    },
                //    "orderable": true, "width": "13%"
                //},
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        var addedrow = $('#chemistList').DataTable().columns(1).data();
                        if (addedrow != undefined && addedrow[0].indexOf(row["Id"]) > -1) {
                            appendstring += '<button type="button" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="checkmark-outline"></i>Added</button>';
                        }
                        else {
                            appendstring += '<button type="button" onclick="AddChemist(' + row["Id"] + ')" class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button>';
                        }
                        return appendstring;
                    },
                    "orderable": true, "width": "12%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#modalChemistList")) {
                $('#modalChemistList').dataTable().fnDestroy();
            }
            initTable1();
        }
    };
}();

    function BuildSearchCriteria(type = "", chemistId) {
        try {
            var param = {};
            if (type != "") {
                param["type"] = type;

                if (type == "DSRDoctor") {
                    param["DSRId"] = @ViewBag.DSRId;
                }

                if (type == "DoctorProduct") {
                    param["Id"] = chemistId;
                }
            }
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    function AddChemist(Id, isEdit = false) {

        var chemistdata = {};
        if (isEdit == false) {
            chemistdata.DoctorId = Id;
            chemistdata.DSRId = @ViewBag.DSRId;
        }
        else {
            chemistdata.Id = $("#editChemistReportModal #visitedChemistId").val();
            chemistdata.DoctorId = $("#editChemistReportModal #chemistId").val();
            chemistdata.CallInId = $("#editChemistReportModal #CallIn").val();
            chemistdata.OutcomeId = $("#editChemistReportModal #outcomeSelect").val();
            chemistdata.WorkWithId = $("#editChemistReportModal #workWith").val();
            chemistdata.Remarks = $("#editChemistReportModal #remarksArea").val();
            chemistdata.DSRId = $("#editChemistReportModal #DSRId").val();
        }

        $.ajax({
            url: '@Url.Action(Actions.AddDoctor, Controllers.DSRManager, new { area = "" })',
            data: chemistdata,
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == null) {
                    ShowMessageToastr("danger","Failed to add/update Doctor");
                }

                if (isEdit == true) {
                    $("#editChemistReportModal").modal("hide");
                    $('#chemistList').DataTable().ajax.reload();
                }
                else {
                    $('#chemistList').DataTable().ajax.reload();
                    $('#modalChemistList').DataTable().ajax.reload();
                }
                },
            error: function () {
                ShowMessageToastr("danger","Failed to add/update Doctor");
                if (isEdit == true) {
                    $("#editChemistReportModal").modal("hide");
                    $('#chemistList').DataTable().ajax.reload();
                }
                else {
                    $('#chemistList').DataTable().ajax.reload();
                    $('#modalChemistList').DataTable().ajax.reload();
                }
            }
        });
    }

    function RemoveChemist(Id) {
        $.ajax({
            url: '@Url.Action(Actions.RemoveDoctor, Controllers.DSRManager, new { area = "" })',
            data: { visibleChemistId: Id },
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data != true) {
                    ShowMessageToastr("danger","Failed to delete Doctor");
                }
                $('#chemistList').DataTable().ajax.reload();
                $('#modalChemistList').DataTable().ajax.reload();
                },
            error: function () {
                ShowMessageToastr("danger","Failed to delete Doctor");
                $('#chemistList').DataTable().ajax.reload();
                $('#modalChemistList').DataTable().ajax.reload();
            }
        });
    }

    function editChemist(id) {
        $.ajax({
            type : "POST",
            url: "@Url.Action(Actions.GetDoctor, Controllers.DSRManager, new { area = "" })",
            data: { visibleChemistId: id},
            async: false,
            dataType: 'json',
            success: function (Data) {
                $("#editChemistReportModal #visitedChemistId").val(Data.Id);
                $("#editChemistReportModal #chemistId").val(Data.DoctorId);
                $("#editChemistReportModal #CallIn").val(Data.CallInId).change();
                $("#editChemistReportModal #outcomeSelect").val(Data.OutcomeId).change();
                $("#editChemistReportModal #workWith").val(Data.WorkWithId).change();
                $("#editChemistReportModal #remarksArea").val(Data.Remarks);
                $("#editChemistReportModal #DSRId").val(Data.DSRId);
                ProductDatatablesColreorder.init();
                $("#editChemistReportModal").modal("show");
            },
            error: function(response){
        }
        });
    }

     var ProductDatatablesColreorder = function () {

    var initTable1 = function () {
        var table = $('#addTargetProductTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindProduct, Controllers.Doctors, new { area =""})',
                type: "post",
                data: addRequestVerificationToken({ doctorId: $("#editChemistReportModal #chemistId").val()})
            },
            "columns": [
                { "title": "ID", "data": "ProductId", "orderable": true, "width": "14%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        var url= "@Url.Action(Actions.ProductDetail, Controllers.Product, new { Area = "" })?Id=" + row["ProductId"];
                        return '<a  href="javascript:void(0);" onclick="' + url+')"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ImagePath"] + '" class="rounded-circle"></span>' + data +'</a>';
                    },
                    "orderable": true, "width": "14%"
                },
                { "title": "Category", "data": "CategoyName", "orderable": true, "width": "14%" },
                { "title": "Mfg.", "data": "ManufactureName", "orderable": true, "width": "14%" },
                {
                    "title": "Order Booked", "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<input type="text" class="form-control" Id="Quan' + row["ProductId"] + '" placeholder="Add Qty.">';
                        return appendstring;
                    },
                    "orderable": true, "width": "11%"
                },
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var appendstring = '';
                        appendstring += '<button type="button" onclick=AddChemistProduct(' + row["DoctorId"] + "," + row["ProductId"] + ') class="btn btn-soft-primary"><i class="hw-15 mr-1" data-eva="plus-circle-outline"></i>Add</button>';
                        return appendstring;
                    },
                    "orderable": true, "width": "11%",
                    "class": "action-icons"
                }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#addTargetProductTable")) {
                $('#addTargetProductTable').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

    }();

    function AddChemistProduct(chemistId, Id) {
        $.ajax({
            url: "@Url.Action(Actions.AddDoctorProduct, Controllers.DSRManager)",
            data: { chemistId: chemistId, productId: Id, prodQuantity:$('#Quan'+Id).val() },
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    ShowMessageToastr("success",'Product added successfully');
                }
                else {
                    ShowMessageToastr("danger","Failed to add product");
                }
                $('#addTargetProductTable').DataTable().ajax.reload();
                },
            error: function (ex) {
                ShowMessageToastr("danger","Failed to add product");
                $('#addTargetProductTable').DataTable().ajax.reload();
            }
        });
    }

    var ShowProductDatatablesColreorder = function () {

        var initTable1 = function (chemistId) {
        var table = $('#targetProductTableWithOrder');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.DSRManager, new { area =""})',
                type: "post",
                data: BuildSearchCriteria("DoctorProduct", chemistId)
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "20%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        var url= "@Url.Action(Actions.ProductDetail, Controllers.Product, new { Area = "" })?Id=" + row["ProductId"];
                        return '<a href="' + url + '"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ProductImage"] + '" class="rounded-circle"></span>' + data +'</a>';
                    },
                    "orderable": true, "width": "20%"
                },
                { "title": "Category", "data": "CategoryName", "orderable": true, "width": "20%" },
                { "title": "Mfg.", "data": "MfgName", "orderable": true, "width": "20%" },
                { "title": "Order Booked", "data": "OrderBookedQty", "orderable": true, "width": "20%" }
            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function (chemistId) {
            if ($.fn.DataTable.isDataTable("#targetProductTableWithOrder")) {
                $('#targetProductTableWithOrder').dataTable().fnDestroy();
            }
            initTable1(chemistId);
        }
    };
    }();

    function showTargetProduct(chemistId) {
        ShowProductDatatablesColreorder.init(chemistId);
        $("#targetProductModalWithOrder").modal("show");
    }
</script>