﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
@model MR.Entities.Contract.AbstractDSR

<style>
    .a-type-link {
        cursor: pointer;
    }
</style>
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">View DSR</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","DSRManager")">DSR</a></li>
                            <li class="breadcrumb-item active" aria-current="page">View DSR</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Basic Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-4 col-lg-6 mb-3">
                                <div class="text-muted fs-12">Date</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.Date</span>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 mb-3">
                                <div class="text-muted fs-12">Work At</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.RouteTypeName</span>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 mb-3">
                                <div class="text-muted fs-12">Work Type</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.WorkTypeName</span>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 mb-3">
                                <div class="text-muted fs-12">Work Route</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.RouteTypeName</span>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 mb-3">
                                <div class="text-muted fs-12">Visit type</div>
                                <div class="text-dark">
                                    <span class="fw-medium">@Model.VisitTypeName</span>
                                </div>
                            </div>

                            @*<div class="col-xl-4 col-lg-6 mb-3">
                                    <div class="text-muted fs-12">Work with</div>
                                    <div class="text-dark">
                                        <span class="fw-medium">Bharat Ribadiya</span>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>

                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Chemist Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="divChemist" class="table-responsive ">
                                    <table class="table table-striped table-bordered table-hover" id="ChemistTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow-2 mb-4">
                    <div class="card-header">
                        <h5 class="mb-1">Doctors Details</h5>
                        <p class="fs-14 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="divdoctorTable" class="table-responsive ">
                                    <table class="table table-striped table-bordered table-hover" id="doctorTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="chemistDetailsModal" tabindex="-1" aria-labelledby="chemistDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div id="ContentchemistDetailsModal" class="modal-content">

        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="doctorDetailsModal" tabindex="-1" aria-labelledby="doctorDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div id="ContentdoctorDetailsModal" class="modal-content">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="targetProductModalWithOrder" tabindex="-1" aria-labelledby="targetProductModalWithOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="targetProductModalWithOrderLabel">Target Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divProductTable" class="table-responsive ">
                    <table class="table table-striped table-bordered table-hover" id="ProductTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>



<script>
    var Id = 0;
    $(document).ready(() => {
        TableChemist.init();
        TableDoctor.init();
    });
    function OpenTargetProduct(id, type) {
        Id = id;

        $("#targetProductModalWithOrder").modal("show");
        if (type == "ChemistProduct") {
            TableChemistProduct.init();

        } else if (type == "DoctorProduct") {
            TableDoctorProduct.init();
        }
    }
    function ViewProfileDetails(id, type) {
        $.ajax({
            type : "POST",
            url: "@Url.Action("ViewProfile","DSRManager")",
            data: { Id: id, type: type },
            async: false,
            dataType: 'json',
            success: function (response) {

                let htmlData = '';
                let Data = response.Item;
                if (type == "Employee") {
                    htmlData = `<div class="modal-header">
                <h5 class="modal-title" id="employeeDetailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.FirstName}</span>
                                    <span class="fw-medium">${Data.LastName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Id}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Gender == 1 ? 'Male' : 'Female'}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Qualification}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Mobile}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Role</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RoleName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.HeadquarterName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RegionName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">
                                    Reporting Person
                                </div>
                                <div class="text-dark">
                                    <span class="fw-medium d-block">${Data.ReportingPersonName}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Current Address</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.CurrentAddressString}</span>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" onerror="ImageError(this);" src="${Data.PhotoUrl}" alt="">
                        ${Data.IsActive == true ? `<div class="badge badge-success p-2 mt-2" >Active</div>` : `<div class="badge badge-danger p-2 mt-2" >In-Active</div>`}
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">

                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                    //<a href="#" role="button" class="btn btn-primary">View Full Profile</a>
                    $("#ContentemployeeDetailsModal").html(htmlData);
                    $("#employeeDetailsModal").modal("show");
                }
                else if (type == "Chemist") {

                    htmlData = ` <div class="modal-header">
                <h5 class="modal-title" id="chemistDetailsModalLabel">Chemist Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Chemist Name</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Name}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">ID</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Id}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Contact Person</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.ContactPerson}</span>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Mobile</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Mobile}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Phone</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.Phone}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Headquarter</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.HeadquarterName}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Region</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.RegionName}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Potential Business</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.BuisnessPotential}</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="text-muted fs-12">Address</div>
                        <div class="text-dark">
                            <span class="fw-medium">${Data.AddressString}</span>

                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer justify-content-start">

                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                    //<a href="#" role="button" class="btn btn-primary">View Full Profile</a>
                    $("#ContentchemistDetailsModal").html(htmlData);
                    $("#chemistDetailsModal").modal("show");
                }
                else if (type == "Doctor") {

                    htmlData = ` <div class="modal-header">
                <h5 class="modal-title" id="doctorDetailsModalLabel">Doctor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.FirstName}</span>
                                    <span class="fw-medium">${Data.LastName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Id}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Gender == 1? 'Male' :'Female'}</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Specialization</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.SpecializationName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.QualificationName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.Mobile}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Headquarter</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.HeadquarterName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Region</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.RegionName}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Potential Business</div>
                                <div class="text-dark">
                                    <span class="fw-medium">${Data.BuisnessPotential}</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Address</div>
                                <div class="text-dark">
                                    ${Data.AddressString}
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img onerror="ImageError(this);" class="img-fluid rounded shadow-2" src="${Data.PhotoUrl}" alt="">
                        ${Data.IsActive == true ? `<div class="badge badge-success p-2 mt-2" >Active</div>` : `<div class="badge badge-danger p-2 mt-2" >In-Active</div>`}
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">

                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>`;
                    //<a href="#" role="button" class="btn btn-primary">View Full Profile</a>
                    $("#ContentdoctorDetailsModal").html(htmlData);
                    $("#doctorDetailsModal").modal("show");
                }

            },
            error: function(response){
        }
        });
    }

    function ImageError(object) {
        $(object).removeAttr("src");
        $(object).attr("src","../Images/noImage.png");
    }
      let TableChemist = function () {

     let initTable1 = function () {
         let table = $('#ChemistTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "DSRManager")',
                type: "post",
                data: BuildSearchCriteria("DSRChemist")
            },
            "columns": [
                {
                    "title": "Id", "data": "Id", "orderable": false, "width": "3%"
                },
                {
                    "title": "Chemist Name", "data": "ChemistName",
                    "render": function (data, type, row) {
                        var htmlData = `<a class="a-type-link" onclick="ViewProfileDetails(${row["ChemistId"]},'Chemist')">
                                                                 <span class="avatar m-1"><img alt="avatar" onerror="ImageError(this);" src="${row["PhotoUrl"]}" class="rounded-circle" /></span>
                                                                 ${row["ChemistName"]}
                                                             </a>`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Call In", "data": "CallInName", "orderable": false, "width": "3%"
                },
                {
                    "title": "Work With", "data": "WorkWithName", "orderable": false, "width": "3%"
                },
                {
                    "title": "Target Products", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `<a class="a-type-link" onclick="OpenTargetProduct(${row["ChemistId"]},'ChemistProduct');">View Products</a>`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Outcome", "data": "OutcomeName",
                    "render": function (data) {
                        if (data == null) {
                            return "";
                        }
                        return '<div class="badge badge-success p-2">' + data + '</div>';
                    },"orderable": false, "width": "3%"
                }

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#ChemistTable")) {
                $('#ChemistTable').dataTable().fnDestroy();
                $('#divChemist').html('<table class="table table-striped" width="100%" id="ChemistTable"></table>');
            }
            initTable1();
        }
    };

    }();


let TableChemistProduct = function () {

     let initTable1 = function () {
         let table = $('#ProductTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "DSRManager")',
                type: "post",
                data: BuildSearchCriteria('ChemistProduct')
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "20%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        var url= "@Url.Action(Actions.ProductDetail, Controllers.Product, new { Area = "" })?Id=" + row["ProductId"];
                        return '<a href="' + url + '"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ProductImage"] + '" class="rounded-circle"></span>' + data +'</a>';
                    },
                    "orderable": true, "width": "20%"
                },
                { "title": "Category", "data": "CategoryName", "orderable": true, "width": "20%" },
                { "title": "Mfg.", "data": "MfgName", "orderable": true, "width": "20%" },
                { "title": "Order Booked", "data": "OrderBookedQty", "orderable": true, "width": "20%" }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#ProductTable")) {
                $('#ProductTable').dataTable().fnDestroy();
                $('#divProductTable').html('<table class="table table-striped" width="100%" id="ProductTable"></table>');
            }
            initTable1();
        }
    };

    }();


    let TableDoctorProduct = function () {

     let initTable1 = function () {
         let table = $('#ProductTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "DSRManager")',
                type: "post",
                data: BuildSearchCriteria('DoctorProduct')
            },
            "columns": [
                { "title": "ID", "data": "Id", "orderable": true, "width": "20%" },
                {
                    "title": "Product Name", "data": "ProductName",
                    "render": function (data, type, row) {
                        var url= "@Url.Action(Actions.ProductDetail, Controllers.Product, new { Area = "" })?Id=" + row["ProductId"];
                        return '<a href="' + url + '"><span class="avatar m-1"><img alt="" src="' + window.location.origin + "/" + row["ProductImage"] + '" class="rounded-circle"></span>' + data +'</a>';
                    },
                    "orderable": true, "width": "20%"
                },
                { "title": "Category", "data": "CategoryName", "orderable": true, "width": "20%" },
                { "title": "Mfg.", "data": "MfgName", "orderable": true, "width": "20%" },
                { "title": "Order Booked", "data": "OrderBookedQty", "orderable": true, "width": "20%" }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#ProductTable")) {
                $('#ProductTable').dataTable().fnDestroy();
                $('#divProductTable').html('<table class="table table-striped" width="100%" id="ProductTable"></table>');
            }
            initTable1();
        }
    };

}();

       let TableDoctor = function () {

     let initTable1 = function () {
         let table = $('#doctorTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "DSRManager")',
                type: "post",
                data: BuildSearchCriteria('DSRDoctor')
            },
            "columns": [
                {
                    "title": "Id", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${data}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Doctor Name", "data": "DoctorName",
                    "render": function (data, type, row) {
                        var htmlData = `<a class="a-type-link" onclick="ViewProfileDetails(${row["DoctorId"]},'Doctor')">
                                                                 <span class="avatar m-1"><img alt="avatar" onerror="ImageError(this);" src="${row["PhotoUrl"]}" class="rounded-circle" /></span>
                                                                 ${row["DoctorName"]}
                                                             </a>`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Call In", "data": "CallInName",
                    "render": function (data, type, row) {
                        var htmlData = `${row["CallInName"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Work With", "data": "WorkWithName", "orderable": false, "width": "3%"
                },
                {
                    "title": "Target Products", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `<a class="a-type-link" onclick="OpenTargetProduct(${row["DoctorId"]},'DoctorProduct');">View Products</a>`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Outcome", "data": "OutcomeName",
                    "render": function (data, type, row) {
                        if (data == null) {
                            return "";
                        }
                        return '<div class="badge badge-success p-2">' + data + '</div>';
                    }
                    , "orderable": false, "width": "3%"
                }

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#doctorTable")) {
                $('#doctorTable').dataTable().fnDestroy();
                $('#divdoctorTable').html('<table class="table table-striped" width="100%" id="doctorTable"></table>');
            }
            initTable1();
        }
    };

}();
    function BuildSearchCriteria(type= "") {
            try {
                var param = {};
                if (type == "DSRChemist" || type == "DSRDoctor") {
                    param["Date"] = "";
                    param["type"] = type;
                    param["HeadquaterId"] = 0;
                    param["RegionId"] = 0;
                    param["StatusId"] = 0;

                    param["DSRId"] = @ViewBag.DSRId;
                    param["Id"] = 0;
                } else {
                    param["Date"] = "";
                    param["type"] = type;
                    param["HeadquaterId"] = 0;
                    param["RegionId"] = 0;
                    param["StatusId"] = 0;

                    param["DSRId"] = 0;
                    param["Id"] = Id;
                }


                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
    }

</script>

