
// *{
//     outline: none;
// }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: -0.03em;
}

b,
strong {
  font-weight: $font-weight-semibold; // Add the correct font weight in Chrome, Edge, and Safari
}


.link-unstyled{

    color: inherit;
    

    &:hover{
        color: inherit;
        text-decoration: none;
    }
}



.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0)
}