﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<link href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" rel="stylesheet" />
<style>
    .showSweetAlert h2 {
        font-size: 17px;
    }
</style>

<!-- Page Title -->
<div class="page-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Region Manager</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Region Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="javscript:;" onclick="addNewStateregion();" class="btn btn-primary" role="button">
                    <i data-eva="plus-outline" class="hw-16 fill-white mr-1"></i>Add New State Region
                </a>
            </div>

            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table border rounded display nowrap" id="TourPlanList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="addNewStateregionModal" tabindex="-1" aria-labelledby="addNewRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="FormRegion" name="FormRegion">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewRegionModalLabel">Add New State Region</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="RegionId" name="RegionId" value="0" />
                            <div class="form-group">
                                <label class="custom-label" for="RegionName">Name</label>
                                <input type="text" class="form-control" id="RegionName" name="RegionName" placeholder="Enter region name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="CancelModel" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="regionSavebtn" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary" id="regionSavebtnloading" disabled style="display:none;">Saving</button>
                </div>
            </form>
        </div>
    </div>
</div>





<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Scripts -->
<!-- Custom JS -->

<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>


<script>

    jQuery(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    $('#FormRegion').on('hidden.bs.modal', function () {
        $("#RegionName").validate().resetForm();
    });

    function addNewStateregion() {
        $('#addNewRegionModalLabel').text('Add New State Region')
        $('#RegionId').val(0);
        $('#RegionName').val('');
        $('#addNewStateregionModal').modal('show');
    }

    // Jquuery validation
    $(function () {
        $("form[name='FormRegion']").validate({
            rules: {
                RegionName: "required",
            },
            messages: {
                RegionName: "Please enter your region name",
            },
            submitHandler: function (form) {
                addRegionData();
            }
        });
    });


    var TableDatatablesColreorder = function () {
    var initTable1 = function () {
        var table = $('#TourPlanList');
        var i = 1;
        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.StateRegionHqData, Controllers.StateRegionHq, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "#", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = `${i++}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Name", "data": "Name",
                    "render": function (data, type, row) {
                        var htmlData = `${row["Name"]}`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Actions", "data": "Id",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += `<a href='javascript:;' onclick="EditRegionName('${btoa(row["Id"])}');" class='btn btn-primary'>Edit</a>`;
                        htmlData += `<a href='@Url.Action("StateRegionParent","StateRegionHq")?RegionSWQ=${btoa(row["Id"])}' class='btn btn-soft-primary ml-2'>View Parent Region</a>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },

            ],
            "buttons": [
                {

                },

                //{ extend: 'pdf', className: 'btn green btn-outline' },
                //{ extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#TourPlanList")) {
                $('#TourPlanList').dataTable().fnDestroy();
            }
            initTable1();
        }

    };

}();

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["ParentId"] = 0;
            param["GrandParentId"] = 0;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    //Region Data Add
    function addRegionData() {
        $('#regionSavebtn').hide();
        $('#regionSavebtnloading').show();
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("StateRegionAdd", Controllers.StateRegionHq)",
            data: ({
                    Id: $('#RegionId').val(),
                    Name: $('#RegionName').val(),
                    ParentId: 0,
                    GrandParentId:0
                  }),
            dataType: "json",
            success: function (Result) {
                debugger;
                $('#addNewStateregionModal').modal('hide');
                $('#regionSavebtn').show();
                $('#regionSavebtnloading').hide();
                swal({
                    title: Result.Message,
                    type: "success",
                    showCancelButton: false,
                }, function () {
                    TableDatatablesColreorder.init();
                });
            },
            error: function (error) {
                $('#regionSavebtn').show();
                $('#regionSavebtnloading').hide();
            }
        });
    }

    //Get region data in byid
    function EditRegionName(RegionId) {
        $('#RegionId').val(0);
        $('#RegionName').val('');
        $('#addNewRegionModalLabel').text('Edit State Region')
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetRegionData", Controllers.StateRegionHq)",
            data: {
                    RegionId: RegionId
                  },
            dataType: "json",
            success: function (Result) {
                debugger;
                $('#RegionId').val(Result.Item.Id),
                $('#RegionName').val(Result.Item.Name),
                $('#addNewStateregionModal').modal('show');
            },
            error: function (error) {

            }
        });
    }


</script>