﻿@using MR.Pages;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken();
<!-- Page Title -->
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Settings</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content my-0">
    <div class="d-flex flex-column flex-lg-row align-items-start">
        <button class="btn btn-light border d-lg-none m-3" data-toggle-splitted-column="">
            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            Menu
        </button>

        <div class="splitted-column" data-simplebar="">
            <!-- Nav tabs -->
            <ul class="nav flex-column nav-cards-style" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-toggle="tab" href="#roles-tab" role="tab">
                        <div class="d-flex mb-1">

                            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                            <div>
                                <h6>Roles</h6>
                                <p class="fs-13 lh-13 line-clamp-2 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#rights-tab" role="tab">
                        <div class="d-flex mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                            <div>
                                <h6>Rights</h6>
                                <p class="fs-13 lh-13 line-clamp-2 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis.</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#masters-tab" role="tab">
                        <div class="d-flex mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                            </svg>
                            <div>
                                <h6>Masters</h6>
                                <p class="fs-13 lh-13 line-clamp-2 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#notification-tab" role="tab">
                        <div class="d-flex mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                            </svg>
                            <div>
                                <h6>Notifications</h6>
                                <p class="fs-13 lh-13 line-clamp-2 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#security-tab" role="tab">
                        <div class="d-flex mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                            </svg>
                            <div>
                                <h6>Security</h6>
                                <p class="fs-13 lh-13 line-clamp-2 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis.</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="splitted-column-container container-fluid pt-3">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="roles-tab" role="tabpanel">
                            <h5 class="mb-1">Roles</h5>
                            <p class="text-gray-500 fs-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic, quos tenetur ea harum dolorum eligendi placeat, adipisci quam, repellendus corporis soluta. Ea officia, repellat quisquam eius quod nihil, exercitationem qui commodi dolore ullam reiciendis, expedita deleniti.</p>


                            <div class="card">
                                <div class="card-header bg-white"><h5 class="mb-0">Roles Overview</h5></div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Super Admin</h5>
                                                    <p class="fs-13">2 Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Admin</h5>
                                                    <p class="fs-13">2 Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Manager</h5>
                                                    <p class="fs-13">4 Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Stockist</h5>
                                                    <p class="fs-13">15 Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Chemist</h5>
                                                    <p class="fs-13">200 Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Doctors</h5>
                                                    <p class="fs-13">690 Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <div class="card h-100 hover-shadow-3 hover-bg-soft-primary">
                                                <div class="card-body">
                                                    <h5 class="mb-1">Employee</h5>
                                                    <p class="fs-13">1.5K Accounts</p>

                                                    <a href="" role="button" data-toggle="modal" data-target="#roleDetailsModal" class="fw-medium fs-14">Learn More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-4 col-sm-6 my-2">
                                            <a href="" data-toggle="modal" data-target="#addNewRoleModal" class="card border-primary text-center border-primary h-100 hover-shadow-3 bg-soft-primary text-decoration-none" role="button">
                                                <div class="card-body">

                                                    <svg xmlns="http://www.w3.org/2000/svg" class="hw-24 mt-2 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                    </svg>

                                                    <h5 class="mt-3">Add New Role</h5>
                                                </div>
                                            </a>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="card my-3">
                                <div class="card-header-navs">
                                    <ul class="nav nav-lines" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" data-toggle="pill" href="#roleSuperAdmin" role="tab">Super Admin</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="pill" href="#roleAdmin" role="tab">Admin</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="pill" href="#roleManager" role="tab">Manager</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="pill" href="#roleStockist" role="tab">Stockist</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="pill" href="#roleChemist" role="tab">Chemist</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="pill" href="#roleDoctors" role="tab">Doctors</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="pill" href="#roleEmployee" role="tab">Employee</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="card-body">
                                    <div class="tab-content">

                                        <!-- Super Admin -->
                                        <div class="tab-pane fade show active" id="roleSuperAdmin" role="tabpanel">
                                            <div class="table-responsive">
                                                <table id="superAdminTable" class="table border rounded display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Gender</th>
                                                            <th>Contact No.</th>
                                                            <th>Role</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>45613</td>
                                                            <td>
                                                                <a href="" data-target="#superAdminDetailsModal" data-toggle="modal" role="button">
                                                                    <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/1.jpg" class="rounded-circle"></span>
                                                                    Joann McDowell
                                                                </a>
                                                            </td>
                                                            <td>Female</td>
                                                            <td>9904187265</td>
                                                            <td><div class="badge badge-primary p-2">Super Admin</div></td>
                                                            <td>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-icon btn-hover-secondary" type="button" data-toggle="dropdown">
                                                                        <i data-eva="more-horizontal-outline" class="hw-16"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editRoleModal">Edit Role</a>
                                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#managePermissionModal">Manage Permission</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>45613</td>
                                                            <td>
                                                                <a href="" data-target="#superAdminDetailsModal" data-toggle="modal" role="button">
                                                                    <span class="avatar m-1"><img alt="avatar" src="~/assets/images/avatar/2.jpg" class="rounded-circle"></span>
                                                                    Joann McDowell
                                                                </a>
                                                            </td>
                                                            <td>Male</td>
                                                            <td>9904187265</td>
                                                            <td><div class="badge badge-primary p-2">Super Admin</div></td>
                                                            <td>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-icon btn-hover-secondary" type="button" data-toggle="dropdown">
                                                                        <i data-eva="more-horizontal-outline" class="hw-16"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editRoleModal">Edit Role</a>
                                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#managePermissionModal">Manage Permission</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <!-- Admin -->
                                        <div class="tab-pane fade" id="roleAdmin" role="tabpanel">
                                            Admin
                                        </div>


                                        <!-- Manager -->
                                        <div class="tab-pane fade" id="roleManager" role="tabpanel">
                                            Manager
                                        </div>

                                        <!-- Stockist -->
                                        <div class="tab-pane fade" id="roleStockist" role="tabpanel">
                                            Stockist
                                        </div>


                                        <!-- Chemist -->
                                        <div class="tab-pane fade" id="roleChemist" role="tabpanel">
                                            Chemist
                                        </div>


                                        <!-- Doctors -->
                                        <div class="tab-pane fade" id="roleDoctors" role="tabpanel">
                                            Doctors
                                        </div>


                                        <!-- Employee -->
                                        <div class="tab-pane fade" id="roleEmployee" role="tabpanel">
                                            Employee
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="rights-tab" role="tabpanel">
                            <h5 class="mb-1">Rights</h5>
                            <p class="text-gray-500 fs-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic, quos tenetur ea harum dolorum eligendi placeat, adipisci quam, repellendus corporis soluta. Ea officia, repellat quisquam eius quod nihil, exercitationem qui commodi dolore ullam reiciendis, expedita deleniti.</p>

                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive ">
                                        <table id="rightsTable" class="table rounded table-rights border display nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Permission Name</th>
                                                    <th>Super Admin</th>
                                                    <th>Admin</th>
                                                    <th>Manager</th>
                                                    <th>Stockist</th>
                                                    <th>Employee</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="fw-medium">Who can approve doctor?</span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1-1">
                                                            <label class="custom-control-label" for="customCheck1-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1-2">
                                                            <label class="custom-control-label" for="customCheck1-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1-3">
                                                            <label class="custom-control-label" for="customCheck1-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1-4">
                                                            <label class="custom-control-label" for="customCheck1-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1-5">
                                                            <label class="custom-control-label" for="customCheck1-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span class="fw-medium">Who can approve chemist?</span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2-1">
                                                            <label class="custom-control-label" for="customCheck2-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2-2">
                                                            <label class="custom-control-label" for="customCheck2-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2-3">
                                                            <label class="custom-control-label" for="customCheck2-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2-4">
                                                            <label class="custom-control-label" for="customCheck2-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2-5">
                                                            <label class="custom-control-label" for="customCheck2-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td><span class="fw-medium">Who can change active status of doctor?</span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3-1">
                                                            <label class="custom-control-label" for="customCheck3-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3-2">
                                                            <label class="custom-control-label" for="customCheck3-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3-3">
                                                            <label class="custom-control-label" for="customCheck3-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3-4">
                                                            <label class="custom-control-label" for="customCheck3-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3-5">
                                                            <label class="custom-control-label" for="customCheck3-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span class="fw-medium">Who can change active status of chemist?</span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4-1">
                                                            <label class="custom-control-label" for="customCheck4-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4-2">
                                                            <label class="custom-control-label" for="customCheck4-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4-3">
                                                            <label class="custom-control-label" for="customCheck4-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4-4">
                                                            <label class="custom-control-label" for="customCheck4-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4-5">
                                                            <label class="custom-control-label" for="customCheck4-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span class="fw-medium">Who can approve tour plan?</span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5-1">
                                                            <label class="custom-control-label" for="customCheck5-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5-2">
                                                            <label class="custom-control-label" for="customCheck5-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5-3">
                                                            <label class="custom-control-label" for="customCheck5-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5-4">
                                                            <label class="custom-control-label" for="customCheck5-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5-5">
                                                            <label class="custom-control-label" for="customCheck5-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span class="fw-medium">Who can set last date of submission of tour plan</span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6-1">
                                                            <label class="custom-control-label" for="customCheck6-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6-2">
                                                            <label class="custom-control-label" for="customCheck6-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6-3">
                                                            <label class="custom-control-label" for="customCheck6-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6-4">
                                                            <label class="custom-control-label" for="customCheck6-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6-5">
                                                            <label class="custom-control-label" for="customCheck6-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span class="fw-medium">Exceed date tour plan approval </span></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7-1">
                                                            <label class="custom-control-label" for="customCheck7-1">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7-2">
                                                            <label class="custom-control-label" for="customCheck7-2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7-3">
                                                            <label class="custom-control-label" for="customCheck7-3">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7-4">
                                                            <label class="custom-control-label" for="customCheck7-4">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7-5">
                                                            <label class="custom-control-label" for="customCheck7-5">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                </tr>




                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="masters-tab" role="tabpanel">
                            <h5 class="mb-1">Masters</h5>
                            <p class="text-gray-500 fs-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic, quos tenetur ea harum dolorum eligendi placeat, adipisci quam, repellendus corporis soluta. Ea officia, repellat quisquam eius quod nihil, exercitationem qui commodi dolore ullam reiciendis, expedita deleniti.</p>


                            <div class="row align-items-end">
                                <div class="col-auto">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Masters</label>
                                        @Html.Raw(Html.DropDownList("FilterMasterName", (IEnumerable<SelectListItem>)ViewBag.MasterDD, "Select Master", new { @Id = "FilterMasterName", @class = "form-control selectpicker" }))
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-group">
                                        <label for="FilterFieldName">Filed Name</label>
                                        <select class="form-control selectpicker" data-live-search="true" title="Select a option" id="FilterFieldName">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-group">
                                        <button onclick="ViewMasterdata();" type="button" class="btn btn-primary btn-wide">View</button>
                                    </div>
                                </div>

                                <div class="col-auto ml-auto">
                                    <div class="form-group">
                                        <button type="button" data-target="#addCategoryDetails" data-toggle="modal" class="btn btn-primary btn-wide">Add New </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div id="divCategoryTable" class="table-responsive ">
                                        <table class="table table-striped table-bordered table-hover" id="CategoryTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="notification-tab" role="tabpanel">
                            <h5 class="mb-1">Notifications</h5>
                            <p class="text-gray-500 fs-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic, quos tenetur ea harum dolorum eligendi placeat, adipisci quam, repellendus corporis soluta. Ea officia, repellat quisquam eius quod nihil, exercitationem qui commodi dolore ullam reiciendis, expedita deleniti.</p>

                            <hr>

                            <div class="my-3">
                                <h6 class="fs-16 mb-0">General</h6>
                                <p class="mb-0 fs-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic</p>
                            </div>

                            <div class="card overflow-hidden">
                                <div class="card-body p-0 ">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            I'm mentioned in a message
                                            <div class="custom-control custom-switch ml-3">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1">&nbsp;</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Someone replies to my message
                                            <div class="custom-control custom-switch ml-3">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                                <label class="custom-control-label" for="customSwitch2">&nbsp;</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            I'm assigned a task or a request a review
                                            <div class="custom-control custom-switch ml-3">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3">&nbsp;</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                I've had outstanding task for more then <input type="text" class="form-control form-control-inline mx-2" placeholder="24"> hours
                                            </div>
                                            <div class="custom-control custom-switch ml-3">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                                <label class="custom-control-label" for="customSwitch4">&nbsp;</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer text-right">
                                    <a href="#!" role="button" class="btn btn-primary">Save Changes</a>
                                </div>
                            </div>


                            <div class="mt-5 mb-3">
                                <h6 class="fs-16 mb-0">Custom</h6>
                                <p class="mb-0 fs-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic</p>
                            </div>

                            <div class="card mb-3 overflow-hidden">
                                <div class="card-body p-0 ">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">My company sales score drops below</h6>
                                                <p class="mb-0 fs-13">Account will be blocked for some after provided number of incorrect attemps</p>
                                            </div>
                                            <div class="ml-3">
                                                <input type="text" class="form-control form-control-inline" placeholder="3">
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">My company sales score drops below</h6>
                                                <p class="mb-0 fs-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic</p>
                                            </div>
                                            <div class="ml-3">
                                                <input type="text" class="form-control form-control-inline" placeholder="60">
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">My company sales score drops below</h6>
                                                <p class="mb-0 fs-13">Minimum number of charactor used in the password</p>
                                            </div>
                                            <div class="ml-3">
                                                <input type="text" class="form-control form-control-inline" placeholder="8">
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                                <div class="card-footer text-right">
                                    <a href="#!" role="button" class="btn btn-primary">Save Changes</a>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="security-tab" role="tabpanel">
                            <h5 class="mb-1">Security</h5>
                            <p class="text-gray-500 fs-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic, quos tenetur ea harum dolorum eligendi placeat, adipisci quam, repellendus corporis soluta. Ea officia, repellat quisquam eius quod nihil, exercitationem qui commodi dolore ullam reiciendis, expedita deleniti.</p>

                            <div class="card overflow-hidden">
                                <div class="card-body p-0 ">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">Allowed login attemps</h6>
                                                <p class="mb-0 fs-13">Account will be blocked for some after provided number of incorrect attemps</p>
                                            </div>
                                            <div class="ml-3">
                                                <input type="text" class="form-control form-control-inline" placeholder="3">
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">Incorrect login block time duration (in mins)</h6>
                                                <p class="mb-0 fs-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic</p>
                                            </div>
                                            <div class="ml-3">
                                                <input type="text" class="form-control form-control-inline" placeholder="60">
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">Minimum password length</h6>
                                                <p class="mb-0 fs-13">Minimum number of charactor used in the password</p>
                                            </div>
                                            <div class="ml-3">
                                                <input type="text" class="form-control form-control-inline" placeholder="8">
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">Password must contain an uppercase charactor</h6>
                                                <p class="mb-0 fs-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic</p>
                                            </div>
                                            <div class="ml-3">
                                                <div class="custom-control custom-switch ml-3">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                                    <label class="custom-control-label" for="customSwitch5">&nbsp;</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="mb-1">Password must contain a special symbol</h6>
                                                <p class="mb-0 fs-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic</p>
                                            </div>
                                            <div class="ml-3">
                                                <div class="custom-control custom-switch ml-3">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                                    <label class="custom-control-label" for="customSwitch6">&nbsp;</label>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="card-footer text-right">
                                    <a href="#!" role="button" class="btn btn-primary">Save Changes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>


<!-- Modals -->
<div class="modal fade" id="roleDetailsModal" tabindex="-1" aria-labelledby="roleDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleDetailsModalLabel">Role Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Super Admin</h5>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nemo similique culpa quod ipsa sed, fuga assumenda. Dolorem quaerat maiores voluptatem cupiditate iure quo, optio autem sapiente ipsa incidunt molestias fugiat, vero dicta maxime distinctio sequi quia corrupti nostrum voluptates!</p>

                <hr>

                <div class="row text-center">
                    <div class="col">
                        <h5 class="text-primary">05</h5>
                        <p class="fs-14">Total Account</p>
                    </div>
                    <div class="col">
                        <h5 class="text-success">02</h5>
                        <p class="fs-14">Active Account</p>
                    </div>
                    <div class="col">
                        <h5 class="text-danger">03</h5>
                        <p class="fs-14">Inactive Account</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="superAdminDetailsModal" tabindex="-1" aria-labelledby="superAdminDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="superAdminDetailsModalLabel">Super Admin Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Full Name</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Joann</span>
                                    <span class="fw-medium">McDowell</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">ID</div>
                                <div class="text-dark">
                                    <span class="fw-medium">45613</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Gender</div>
                                <div class="text-dark">
                                    <span class="fw-medium">Female</span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Qualification</div>
                                <div class="text-dark">
                                    <span class="fw-medium">MBA</span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="text-muted fs-12">Mobile</div>
                                <div class="text-dark">
                                    <span class="fw-medium">8445845765</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-fluid rounded shadow-2" src="~/assets/images/avatar/1.jpg" alt="">
                        <div class="badge badge-success p-2 mt-2">Active</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-start">
                <a href="javascript:;" role="button" class="btn btn-primary">View Full Profile</a>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addNewRoleModal" tabindex="-1" aria-labelledby="addNewRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewRoleModalLabel">Add New Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="roleName">Role Name</label>
                            <input type="text" class="form-control" id="roleName" placeholder="Enter role name">
                        </div>

                        <div class="form-group">
                            <label for="roleDetails">Role details</label>
                            <textarea class="form-control" id="roleDetails" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddRole();" class="btn btn-primary">Add Role</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRoleModalLabel">Edit Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="roleName">Role Name</label>
                            <select class="form-control">
                                <option>Super Admin</option>
                                <option>Admin</option>
                                <option>Employee</option>
                                <option>Doctor</option>
                                <option>Chemist</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="managePermissionModal" data-backdrop="static" data-keyboard="false" tabindex="" aria-labelledby="managePermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="managePermissionModalLabel">Manage Permissions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive ">
                    <table id="modifyPermissionTable" class="table rounded table-rights border display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Permission Name</th>
                                <th>Permission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fw-medium">Can approve doctor?</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="fw-medium">Can approve chemist?</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>



                            <tr>
                                <td><span class="fw-medium">Can change active status of doctor?</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="fw-medium">Can change active status of chemist?</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                                        <label class="custom-control-label" for="customCheck4">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="fw-medium">Can approve tour plan?</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="fw-medium">Can set last date of submission of tour plan</span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                                        <label class="custom-control-label" for="customCheck6">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="fw-medium">Exceed date tour plan approval </span></td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck7" checked>
                                        <label class="custom-control-label" for="customCheck7">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addCategoryDetails" tabindex="-1" aria-labelledby="addCategoryDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryDetailsLabel">Add / Update Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <input type="hidden" id="Id" />
                        <div class="form-group">
                            <label class="custom-label" for="MasterName">Master Name</label>
                            @Html.Raw(Html.DropDownList("MasterName", (IEnumerable<SelectListItem>)ViewBag.MasterDD, "Select Master", new { @Id = "MasterName", @class = "form-control selectpicker" }))
                        </div>
                        <div class="form-group">
                            <label class="custom-label" for="FieldName">Field Name</label>
                            <select class="form-control selectpicker" data-live-search="false" title="Select a option" id="FieldName">
                            </select>
                        </div>
                        <div class="form-group" id="divState">
                            <label class="custom-label" for="StateDD">State</label>
                            <select class="form-control selectpicker" data-live-search="false" title="Select a option" id="StateDD"></select>
                        </div>
                        <div class="form-group">
                            <label class="custom-label" for="CategoryName">Name</label>
                            <input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="Enter category name">
                        </div>
                        <div class="form-group" id="divWebSite">
                            <label class="custom-label" for="WebSiteName">WebSite</label>
                            <input type="text" class="form-control" id="WebSiteName" name="WebSiteName" placeholder="Enter Web site">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="Upsert();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/main.min.js"></script>


<script>
    $(document).ready(() => {
        $('#divWebSite').hide();
        $('#divState').hide();

        $("#MasterName").change(function () {
            var MasterId = parseInt($(this).val());

            if (!isNaN(MasterId)) {
                var select = $("#FieldName");
                select.empty();

                $.ajax({
                    url: '@Url.Action("BindFieldName", "Settings")',
                    type: 'post',
                    async: false,
                    dataType: 'json',
                    data: { masterId: MasterId },
                    success: function (data) {
                        select.empty();
                        select.children().remove();

                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.Value).text(item.Text));
                        });

                        $("#FieldName").selectpicker('refresh');
                    },
                    error: function (ex) {
                        ShowMessageToastr("danger", "oops! error occurred. please try again...");
                    }
                });
            }
        });

        $("#FieldName").change(function () {
            $('#divWebSite').hide();
            $('#divState').hide();

            switch ($("#FieldName option:selected").text()) {
                case "Mfg. Name":
                    $('#divWebSite').show();
                    break;

                case "City":
                    $('#divState').show();
                    BindStateDD();
                    break;

                default:
                    break;
            }
        });

        $("#FilterMasterName").change(function () {
            var MasterId = parseInt($(this).val());

            if (!isNaN(MasterId)) {
                var select = $("#FilterFieldName");
                select.empty();

                $.ajax({
                    url: '@Url.Action("BindFieldName", "Settings")',
                    type: 'post',
                    dataType: 'json',
                    data: { masterId: MasterId },
                    success: function (data) {
                        select.empty();
                        select.children().remove();

                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.Value).text(item.Text));
                        });

                        $("#FilterFieldName").selectpicker('refresh');
                    },
                    error: function (ex) {
                        ShowMessageToastr("danger", "oops! error occurred. please try again...");
                    }
                });
            }
        });
    });

    let TableDatatablesColreorder = function () {

     let initTable1 = function () {
         let table = $('#CategoryTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "Settings")',
                type: "post",
                data: addRequestVerificationToken({ FieldName: $("#FilterFieldName option:selected").text() })
            },
            "columns": [
                { "title": "#", "data": "Id", "orderable": true, "width": "20%" },
                { "title": "Name", "data": "Name", "orderable": true, "width": "60%" },
                //{
                //    "title": "Status", "data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = "";
                //        if (row["IsActive"] == true) {
                //            htmlData = `<div class="badge badge-success p-2">Active</div>`;
                //        } else {
                //            htmlData = `<div class="badge badge-danger p-2">In Active</div>`;
                //        }

                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "3%"
                //},
                {
                    "title": "Action", "data": null,
                    "render": function (data, type, row) {
                        return '<button type="button" onclick="EditDetails(' + row["Id"] + ')" class="btn btn-light border btn-wide">Edit</button>';
                    }
                    , "orderable": true, "width": "20%"
                }

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CategoryTable")) {
                $('#CategoryTable').dataTable().fnDestroy();
                $('#divCategoryTable').html('<table class="table table-striped" width="100%" id="CategoryTable"></table>');
            }
            initTable1();
        }
    };

}();

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    function EditDetails(uid = 0) {
        if (uid > 0) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetCategoryDetails", "Settings")",
                async: false,
                data: addRequestVerificationToken({ Id: uid, FieldName: $("#FilterFieldName option:selected").text() }),
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#addCategoryDetails #Id").val(response.Item.Id);
                        $("#addCategoryDetails #MasterName").val($("#FilterMasterName").val()).change();
                        $("#addCategoryDetails #FieldName").selectpicker('val', $("#FilterFieldName").val());
                        $("#addCategoryDetails #CategoryName").val(response.Item.Name);
                        $("#addCategoryDetails #MasterName").prop("disabled", true).selectpicker('refresh');
                        $("#addCategoryDetails #FieldName").prop("disabled", true).selectpicker('refresh');

                        if ($("#FilterFieldName option:selected").text() == "Mfg. Name") {
                            $("#addCategoryDetails #WebSiteName").val(response.Item.Website);
                            $('#divWebSite').show();
                        }

                        if ($("#FilterFieldName option:selected").text() == "City") {
                            BindStateDD();
                            $('#divState').show();
                            $('#StateDD').val(response.Item.StateId).change();
                        }

                        $("#addCategoryDetails").modal("show");
                    } else {
                        ShowMessageToastr("danger", "Opps!", "An error occured ! Please try again.");
                        $("#addCategoryDetails").modal("hide");
                    }
                },
                error: function (response) {
                    ShowMessageToastr("danger", "Opps!", "An error occured ! Please try again.");
                    $("#addCategoryDetails").modal("hide");
                  }
            });
        }
        else {
            $("#addCategoryDetails").modal("show");
        }
    }

    function Upsert() {

        let MasterName = $('#MasterName').val();
        if (MasterName === NaN || MasterName === "") {
            ShowMessageToastr("danger", "Please select master name");
            $("#MasterName").focus();
            return false;
        }

        let FieldName = $('#FieldName').val();
        if (FieldName === NaN || FieldName === "") {
            ShowMessageToastr("danger", "Please select field name");
            $("#FieldName").focus();
            return false;
        }

        let CategoryName = $('#CategoryName').val();
        if (CategoryName === NaN || CategoryName === "") {
            ShowMessageToastr("danger", "Please enter name");
            $("#CategoryName").focus();
            return false;
        }

        let settingData = {};
        settingData.Id = $("#addCategoryDetails #Id").val();
        settingData.fieldName = $("#FieldName option:selected").text();
        settingData.Name = $("#CategoryName").val();

        if (settingData.fieldName == "Mfg. Name") {
            settingData.website = $("#WebSiteName").val();
        }

        if (settingData.fieldName == "City") {
            let StateDD = $('#StateDD').val();
            if (StateDD === NaN || StateDD === "") {
                ShowMessageToastr("danger", "Please select state.");
                $("#StateDD").focus();
                return false;
            }

            settingData.stateId = $('#StateDD').val();
        }

        $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveCatgory", "Settings")",
                async: false,
                data: settingData,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#addCategoryDetails").modal("hide");
                        ShowMessageToastr("success","Record saved successfully.");
                    } else {
                        ShowMessageToastr("danger", "Failed to save data.");
                    }

                    ViewMasterdata();
                },
                error: function (response) {
                    ShowMessageToastr("danger", "An error occured ! Please try again.");
                    ViewMasterdata();
                }
        });
    }

    function ViewMasterdata() {
        let MasterName = $('#FilterMasterName').val();
        if (MasterName === NaN || MasterName === "") {
            ShowMessageToastr("danger", "Please select master name");
            $("#FilterMasterName").focus();
            return false;
        }

        let FieldName = $('#FilterFieldName').val();
        if (FieldName === NaN || FieldName === "") {
            ShowMessageToastr("danger", "Please select field name");
            $("#FilterFieldName").focus();
            return false;
        }

        TableDatatablesColreorder.init();
    }

    function BindStateDD() {
        var select = $("#StateDD");
        select.empty();

        $.ajax({
             url: '@Url.Action("BindState", "Settings")',
            type: 'post',
            async: false,
             dataType: 'json',
                 success: function (data) {
                     select.empty();
                     select.children().remove();

                     $(data).each(function (index, item) {
                         select.append($("<option>").val(item.Value).text(item.Text));
                     });

                     $("#StateDD").selectpicker('refresh');
                 },
                 error: function (ex) {
                     ShowMessageToastr("danger", "oops! error occurred. please try again...");
                 }
             });
    }

    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this)
            .find("input,textarea,select")
            .val('').change()
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end();

        $("#addCategoryDetails #MasterName").prop("disabled", false).selectpicker('refresh');
        $("#addCategoryDetails #FieldName").prop("disabled", false).selectpicker('refresh');
    });

    function AddRole() {
        let roleName = $('#roleName').val();
        if (roleName === NaN || roleName === "") {
            ShowMessageToastr("danger", "Please enter role name.");
            $("#roleName").focus();
            return false;
        }

        let roledata = {};
        roledata.Id = 0;
        roledata.Name = $('#roleName').val();
        roledata.Detail = $('#roleDetails').val();

        $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveRole", "Settings")",
                async: false,
            data: roledata,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#addNewRoleModal").modal("hide");
                        ShowMessageToastr("success","Record saved successfully.");
                    } else {
                        ShowMessageToastr("danger", "Failed to save data.");
                    }
                },
                error: function (response) {
                    ShowMessageToastr("danger", "An error occured ! Please try again.");
                }
        });
    }
</script>