﻿@using MR.Pages;
@{
    ViewBag.Title = "Master Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken();
<div class="page-breadcrumb sticky-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                    <h6 class="mb-0 pb-3 pb-sm-0 order-2 order-sm-1 mr-auto">Settings</h6>
                    <nav aria-label="breadcrumb" class="order-1 order-sm-2 ml-sm-3">
                        <ol class="breadcrumb mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home, new { Area = ""})">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content my-0">
    <div class="d-flex flex-column flex-lg-row align-items-start">
        <button class="btn btn-light border d-lg-none m-3" data-toggle-splitted-column="">
            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            Menu
        </button>

        <div class="splitted-column" data-simplebar="">
            <!-- Nav tabs -->
            <ul class="nav flex-column nav-cards-style" role="tablist">
                

                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-toggle="tab" href="#masters-tab" role="tab">
                        <div class="d-flex mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                            </svg>
                            <div>
                                <h6>Masters</h6>
                                <p class="fs-13 lh-13 line-clamp-2 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis.</p>
                            </div>
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>

        <div class="splitted-column-container container-fluid pt-3">
            <div class="row">
                <div class="col-12">
                    <h5 class="mb-1">Masters</h5>
                    <p class="text-gray-500 fs-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto sit deleniti hic, quos tenetur ea harum dolorum eligendi placeat, adipisci quam, repellendus corporis soluta. Ea officia, repellat quisquam eius quod nihil, exercitationem qui commodi dolore ullam reiciendis, expedita deleniti.</p>


                    <div class="row align-items-end">
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Masters</label>
                                <select class="form-control selectpicker" data-size="5" data-live-search="true" title="Select a option" id="exampleFormControlSelect1">
                                    <option data-tokens="Doctors">Doctors</option>
                                    <option data-tokens="Chemists">Chemists</option>
                                    <option data-tokens="Stockist">Stockist</option>
                                    <option data-tokens="Route Manager">Route Manager</option>
                                    <option data-tokens="Product Manager" selected>Product Manager</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Filed Name</label>
                                @*<select class="form-control selectpicker" data-size="5" data-live-search="true" title="Select a option" id="exampleFormControlSelect1">
                                        <option data-tokens="" selected>Product Category</option>
                                        <option data-tokens="">Product Type</option>
                                        <option data-tokens="">Mfg. Name</option>
                                    </select>*@
                                @Html.Raw(Html.DropDownList("FilterFieldName", (IEnumerable<SelectListItem>)ViewBag.FieldName, "Select Field", new { @Id = "FilterFieldName", @class = "form-control" }))
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <button onclick="BindMasterCategory();" type="button" class="btn btn-primary btn-wide">View</button>
                            </div>
                        </div>

                        <div class="col-auto ml-auto">
                            <div class="form-group">
                                <button type="button" onclick="GetDetails(0,'MasterCategory');" class="btn btn-primary btn-wide">Add New </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <div id="divCategoryTable" class="table-responsive ">
                                <table class="table table-striped table-bordered table-hover" id="CategoryTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Navbar Backdrop -->
<div class="navbar-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="addCategoryDetails" tabindex="-1" aria-labelledby="addCategoryDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryDetailsLabel">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="CategoryName0">Category Name</label>
                            <input type="text" class="form-control" id="CategoryName0" name="CategoryName0" placeholder="Enter category name">
                        </div>
                        <div class="form-group">
                            <label class="custom-label" for="FieldName0">Field Name</label>
                            @Html.Raw(Html.DropDownList("FieldName0", (IEnumerable<SelectListItem>)ViewBag.FieldName, "Select Field", new { @Id = "FieldName0", @class = "form-control" }))
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="Upsert('MasterCategory');" class="btn btn-primary">Add Category</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="editCategoryDetails" tabindex="-1" aria-labelledby="editCategoryDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryDetailsLabel">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="custom-label" for="CategoryName1">Category Name</label>
                            <input type="text" class="form-control" id="CategoryName1" name="CategoryName1" placeholder="Enter category name">
                        </div>
                        <div class="form-group">
                            <label class="custom-label" for="FieldName0">Field Name</label>
                            @Html.Raw(Html.DropDownList("FieldName1", (IEnumerable<SelectListItem>)ViewBag.FieldName, "Select Field", new { @Id = "FieldName1", @class = "form-control" }))
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-switch ml-3">
                                <input type="checkbox" class="custom-control-input" id="IsActive1" checked>
                                <label class="custom-control-label" for="IsActive1">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Discard</button>
                <button onclick="Upsert('MasterCategory');" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<!-- Custom JS -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/eva-icons/eva.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
@*<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/fc-3.3.2/r-2.2.7/datatables.min.js"></script>*@
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/summernote/dist/summernote.min.js"></script>
<script src="~/assets/vendors/slick-carousel/slick/slick.min.js"></script>
<script src="~/assets/vendors/jquery.repeater/jquery.repeater.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/datatable.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/datatables.bootstrap.js"></script>
<script src="~/assets/vendors/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
<script src="~/assets/js/main.min.js"></script>


<script>
    var Id = 0;
    $(document).ready(() => {
        TableDatatablesColreorder.init();
    });
    let TableDatatablesColreorder = function () {

     let initTable1 = function () {
         let table = $('#CategoryTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": false,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action("BindData", "Settings")',
                type: "post",
                data: BuildSearchCriteria('MasterCategory')
            },
            "columns": [
                {
                    "title": "#", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = `${row["Id"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Category Name", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = `${row["Name"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Field Name", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = `${row["FieldName"]}`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = "";
                        if (row["IsActive"] == true) {
                            htmlData = `<div class="badge badge-success p-2">Active</div>`;
                        } else {
                            htmlData = `<div class="badge badge-danger p-2">In Active</div>`;
                        }

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Action", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = `<button type="button" onclick="GetDetails(${row["Id"]},'MasterCategory');" class="btn btn-light border btn-wide">Edit</button>`;


                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                }

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CategoryTable")) {
                $('#CategoryTable').dataTable().fnDestroy();
                $('#divCategoryTable').html('<table class="table table-striped" width="100%" id="CategoryTable"></table>');
            }
            initTable1();
        }
    };

}();

    function BuildSearchCriteria(type= "") {
            try {
                var param = {};
                if (type == "MasterCategory") {
                    param["FieldNameId"] = $("#FilterFieldName").val();
                }
                
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    function GetDetails(uid = 0,type = "") {
        if (uid > 0) {
            if (type == "MasterCategory") {
                $.ajax({
                type: 'POST',
                url: "@Url.Action("GetCategoryDetails", "Settings")",
                async: false,
                data: { Id: uid },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        Id = response.Item.Id;
                        $("#CategoryName1").val(response.Item.Name);
                        $("#FieldName1").val(response.Item.FieldNameId);
                        $("#IsActive1").prop("checked", response.Item.IsActive);
                        $("#editCategoryDetails").modal("show");
                    } else {

                    }
                },
                error: function (response) {
                        ShowMessageToastr("danger", "Opps!", "An error occured ! Please try again.");                    
                      }
                });
            }
        } else {
            if (type == "MasterCategory") {
                Id = 0;
                $("#CategoryName0").val("");
                $("#FieldName0").val(null);
                $("#addCategoryDetails").modal("show");
            }

        }
    }
    function BindMasterCategory() {
        TableDatatablesColreorder.init();
    }
    function Upsert(type = "") {
        let MasterCategoryObject = {};
        if (Id > 0) {
            if (type == "MasterCategory") {
                MasterCategoryObject.Id = Id;
                MasterCategoryObject.FieldNameId = $("#FieldName1").val();
                MasterCategoryObject.Name = $("#CategoryName1").val();
                MasterCategoryObject.IsActive = $("#IsActive1").prop("checked");

            }
        } else {
            if (type == "MasterCategory") {
                MasterCategoryObject.Id = 0;
                MasterCategoryObject.FieldNameId = $("#FieldName0").val();
                MasterCategoryObject.Name = $("#CategoryName0").val();
                MasterCategoryObject.IsActive = true;
            }
        }
        if (type == "MasterCategory") {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveCatgory", "Settings")",
                async: false,
                data: MasterCategoryObject,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        BindMasterCategory();
                        $("#addCategoryDetails").modal("hide");
                        $("#editCategoryDetails").modal("hide");
                        //swal("Great !", response.Message, "success");
                        ShowMessageToastr("success",response.Message);
                    } else {

                    }
                },
                error: function (response) {
                    ShowMessageToastr("danger","An error occured ! Please try again.");
                    //swal("Opps!", "An error occured ! Please try again.", "error");
                 }
                });
        }
    }

</script>

